############################################################
## 프로그램ID : md_05180_extraProcMc_reg.vm
## 프로그램명 : 설비정보 관리 (등록)
## 개발자  : 허준성
## 개발일자 : 2008-12-01 월요일
##
##관련 job file : job_sinc_20_scheduling_04.xml
##
##관련 query file : query_sinc_20_scheduling_04.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2008-12-01  허준성           md_05180_extraProcMc_reg.vm 개발
##
##
############################################################

## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize('130', '168')" )

## 코드 중복 체크를 위해 dwr 선언
<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 이전 화면으로 이동할 때 조회조건을 기억하기 위한 parameter
<input type="hidden" name="perpage_pre" value="${perpage_pre}">
<input type="hidden" name="pagenumber_pre" value="$!{pagenumber_pre}">

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						<input type="button" name="btnBack" value=" 이전화면" onClick="moveBack(); " class="btn1_on">
						#toolbar_nscm($_moon_toolbar "" "" "md_05180_extraProcMc_reg_save_comp" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table id="search_menu" style="background-color:#f2f2f2; display:block; " border="0" width="100%" cellpading="0" cellspacing="0" >
            				<tr>
								<td width="10%" align="right">공장 :</td> 
            					<td width="90%" align="left"> 
									<select name="selected_plant" style="width:100px; " onChange="displayLineList(this);">
										<option value="">선택</option>
									#foreach( $condition in $combo_plant_list )  
										<option value="$condition.get(0)" #if($!{selected_plant} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select>  
            					</td>   
							</tr>	
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<tr><td height="5"></td></tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="tbMain" border="0" width="715" cellpadding="0" cellspacing="0" >
						<tr>
							<td> 
								#set( $leftLine1 = 100)   ## 제품코드
            					#set( $leftLine2 = 230)   ## 제품명
            					#set( $leftWidth = $leftLine1 + $leftLine2 )
								<div id="topLeft" style="height:35px; width:$!{leftWidth}px; overflow:hidden; ">
									<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<thead>
											<tr height="35px"> 
												<td width="$!{leftLine1}px">제품코드</td>
												<td width="$!{leftLine2}px">제품명</td>												
											</tr> 
					   					 </thead>
					   				</table>
					   			</div>
							</td>
    						<td> 
								#set( $rightLine1 = 120)   ## 라인
        						#set( $rightLine2 = 210)   ## 작업장
        						#set( $rightLine3 = 130)   ## MC_KIND
        						#set( $rightLine4 = 60)    ## MC_QTY
        						#set( $rightWidth = $rightLine1 + $rightLine2 + $rightLine3 + $rightLine4) 
        						<div id="topLine" style="height:35px; width:675px;overflow:hidden;"> 
        							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
        								<thead> 
        									<tr height="35px">	
        										<td width="$!{rightLine1}px">라인</td>
												<td width="$!{rightLine2}px">작업장</td>							
												<td width="$!{rightLine3}px">MC KIND</td>
												<td width="$!{rightLine4}px" class="right">MC<br>QTY</td>        																	
        									</tr>									
        			   					 </thead>
        			   				</table>
        			   			</div>
        					</td>
						</tr>	
						<tr>
							<td valign="top"> 
								<div id="leftDisplay" style="width:$!{leftWidth}px; overflow:hidden; ">
									<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<tbody id="left_tbody">
											<tr id="left_tr" height="22px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
												## 제품코드
        										<td width="$!{leftLine1}px" align="center" onClick="setEditMode(this); ">
        											<a id="divItemId"></a><a id="divItemInput" style="display:none; "><input 
        												type="text" name="item_id" class="normal" size="100" onFocusOut="setViewMode(this);" onChange="getItemInfo(this); "
        												style="width:65px; padding-left:5px; "><img name="imgItemId" tabindex="-1"
        												src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif" align="absmiddle"
        												border="0" onClick="openItemSearchPop('item_id',450,300); " style="cursor:pointer;"
        												onMouseOver="overImg(this); " onMouseOut="outImg(this); "></a>
        										</td>
        										## 제품명
        										<td width="$!{leftLine2}px">
        											<a id="divItemName"></a>
        											<input type="hidden" name="item_name">
        										</td>																					
											</tr>
										</tbody> 
									</table> 
								</div> 	
							</td> 
							<td valign="top"> 
    						<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-x:scroll; overflow-y:scroll;" onscroll="scrollX(); ">
    							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
    								<tbody id="main_tbody"> 
    									<tr id="main_tr" height="22px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
    										## 라인
    										<td width="$!{rightLine1}px" align="left" onClick="setEditMode(this); ">
    											<a id="divLindId"></a><a id="divSelectedLineId"
													style="width:100%; display:none;" onFocusOut="setViewMode(this); " ><select 
													name="v_line_id"  style="width:$!{rightLine1}px; ">              
            										</select>
            									</a>		
											</td>
											## 작업장
    										<td width="$!{rightLine2}px" onClick="setEditMode(this); ">
    											<a id="divProcId"></a><a id="divSelectedProcId" 
													style="width:100%; display:none;" onFocusOut="setViewMode(this); " ><select 
													name="v_proc_id"  style="width:$!{rightLine2}px; ">                											
            										</select>
            									</a>
    										</td>
											## MC_KIND명, MC_KIND
    										<td width="$!{rightLine3}px" align="left" onClick="setEditMode(this); ">
    											<a id="divMcKind"></a><select 
    												name="mc_kind" style="width:$!{rightLine3}px; display:none; " onFocusOut="setViewMode(this); ">
            										<option value="">선택</option>
            									#foreach( $sel in $mc_kind_in_code_mst )
            										<option value="${sel.get(0)}">${sel.get(1)}</option>
            									#end
            									</select>
    										</td>		
    										## MC_QTY
    										<td width="$!{rightLine4}px" class="right">
    											<input type="text" name="mc_qty" class="normal" size="10"
    												style="height:100%; width:100%; padding-right:5px; text-align:right;" >
    										</td>
											<input type="hidden" name="checkDupFlag" value="">	
    									</tr>    								
    								</tbody>
    							</table>
    						</div>
    					</td></tr></table>
						
					<input type="hidden" name="_moon_service">
					<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 제일 먼저 공장을 선택하셔야, 라인과 작업장을 선택하실 수 있습니다.";
	helpStr += "<br>◈ 모든 값을 입력하지 않으면 저장이 되지 않습니다.";
	helpStr += "<br>◈ 이전화면을 클릭하면, 조회화면 페이지로 이동합니다..";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// combo box:공장(serarch)선택시  라인(search) 채움
	function displayLineList(obj){	 
		var div_line = "<select name=\"v_line_id\" style=\"width:$!{rightLine1}px; \" onChange=\"displayProcList(this); \"> ";
		div_line += "<option value=\"\" >선택</option>";
	#foreach( $condition in $combo_line_list )
		if (obj.value == "$condition.get(0)" ) { 
			div_line += "<option value=\"$condition.get(2)\"";
				if("$condition.get(2)" == "$!{v_line_id}")
					div_line += " selected ";
			div_line += ">$condition.get(3)</option>";  
		}
	#end 
		div_line += "</select>"; 
		divSelectedLineId.innerHTML = div_line;
	}	 
	displayLineList(document.frm.selected_plant);
	
	// combo box:라인(serarch)선택시 작업장(search) 채움
	function displayProcList(obj){
		var div_proc = "<select name=\"v_proc_id\" style=\"width:$!{rightLine2}px; \" > ";  
		div_proc += "<option value=\"\" >선택</option>";
	#foreach( $condition in $sch_capa_rate_combo_proc_list )
		if ( document.frm.selected_plant.value == "$condition.get(0)" && obj.value == "$condition.get(1)" ) { 
			div_proc += "<option value=\"$condition.get(2)\"";
				if("$condition.get(2)" == "$!{v_proc_id}")
					div_proc += " selected "; 
			div_proc += ">$condition.get(3)</option>"; 
		}
	#end 
		div_proc += "</select>";  
		divSelectedProcId.innerHTML = div_proc;
	}
	displayProcList(document.frm.v_line_id);
</script>
