##$response.setContentType("application/x-msdownload; charset=euc-kr")
$response.setContentType("application/vnd.ms-excel")  
$response.setHeader("Content-Disposition", "attachment; filename=sc_01100_etc_plan_excel_$!{date.get('yyyyMMdd')}.xls")
$response.setHeader("Content-Description", "JSP Generated Data")	

<style>
/* 농심 기본 테이블 스타일 */
.ns-table {
	border: 0px Solid;
	cellspacing:0;
	cellpadding:0;
}

.ns-table thead {
	background-color:#faf8fd;
	font-weight:bold;
}

.ns-table thead td {
	color:#7259b1;
	border-top:2px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:1px solid #9e83d0;
	text-align:center;
	text-align:center;
}

.ns-table thead td.right {
	color:#7259b1;
	border-top:2px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:0px solid #9e83d0;
	text-align:center;
	padding:3px 0;
	text-align:center;
}

.ns-table thead td.mid {
	color:#7259b1;
	border-top:0px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:1px solid #9e83d0;
	text-align:center;
}

.ns-table thead td.midright {
	color:#7259b1;
	border-top:0px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:0px solid #9e83d0;
	text-align:center;
	padding:3px 0;
}

.ns-table tbody td {
	color:#2c2c2c;
	border-top:0px solid #e6dee6;
	border-bottom:1px solid #e6dee6;
	border-left:0px solid #e6dee6;
	border-right:1px solid #e6dee6;
}

.ns-table tbody td.right {
	color:#2c2c2c;
	border-top:0px solid #e6dee6;
	border-bottom:1px solid #e6dee6;
	border-left:0px solid #e6dee6;
	border-right:0px solid #e6dee6;
}
</style>


#set($tr = $!sc_01100_etc_plan_excel)
  
<table id="tbMain" border="0" height="100%" width="100%" cellpadding="0" cellspacing="0" >
	<tr style = "color:#FFF270;"> 
		<td>     
        <input type="text" name="sdate"         value="$!{sdate}">            ##유통가공/구성품 구분
        <input type="text" name="version"       value="$!{version}">           ##유통가공/구성품 구분
        <input type="text" name="seq"           value="$!{seq}">               ##유통가공/구성품 구분
        <input type="text" name="checked_etc"   value="$!{checked_etc}">       ##유통가공/구성품 구분

		#set( $headHeight = 60 ) ##헤더 높이 
		#set( $topLeft1   = 30 ) ##번호
		#set( $topLeft2   = 80 ) ##제품코드
		#set( $topLeft3   = 180 )##제품 명   
		#set( $topLeft4   = 80 ) ##SPEC    
		  
		#set( $leftWidth  = $topLeft1 + $topLeft2 + $topLeft3 + $topLeft4)      ## 
			<div id="topLeft" style="height:$!{headHeight}; width:$!{leftWidth}px; overflow:hidden; " > 
				<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; color:#7259b1;">
					<thead> 
						<tr height="${headHeight}px">   
							<td width="$!{topLeft1}px">NO</td>	## 1
							<td width="$!{topLeft2}px">제품<br>코드</td>			## 2
							<td width="$!{topLeft3}px">제품 명</td>				## 3
							<td width="$!{topLeft4}px">단위</td>		    		## 4														
						</tr> 
   					 </thead>
   				</table>
   			</div>
		</td>  
		<td> 
		#set( $topLine1 = 70 )  ##기초재고
		#set( $topLine2 = 70 )  ##금주생산계획
		#set( $topLine3 = 70 )  ##금주판매계획
		#set( $topLine4 = 70 )  ##예상재고(차주초)
		
		#set( $topLine5 = 70 )  ##차주 생산필요량
		#set( $topLine6 = 70 )  ##차주 생산계획계
		#set( $topLine7 = 70 )  ##차주 생산위치
		#set( $topLine8 = 70 )  ##차주(월)
		#set( $topLine9 = 70 )  ##차주(화)
		#set( $topLine10 = 70 ) ##차주(수)
		#set( $topLine11 = 70 ) ##차주(목) 
		#set( $topLine12 = 70 ) ##차주(금)
		#set( $topLine13 = 70 ) ##차주(토)
		#set( $topLine14 = 70 ) ##차주(일)									
		#set( $topLine15 = 70 ) ##차주 판매계획
		#set( $topLine16 = 70 ) ##예상재고(차차주초)
		
		#set( $topLine17 = 70 ) ##차차주 생산필요량 
		#set( $topLine18 = 70 ) ##차차주 생산계획계	
		#set( $topLine19 = 70 ) ##차차주 생산위치
		#set( $topLine20 = 70 ) ##차주(월)
		#set( $topLine21 = 70 ) ##차주(화)
		#set( $topLine22 = 70 ) ##차주(수)
		#set( $topLine23 = 70 ) ##차주(목)
		#set( $topLine24 = 70 ) ##차주(금)
		#set( $topLine25 = 70 ) ##차주(토)
		#set( $topLine26 = 70 ) ##차주(일)
		#set( $topLine27 = 70 ) ##차차주 판매계획 
		#set( $topLine28 = 70 ) ##차차주 예상재고 
		
		#set( $topHead1 = $topLine1 + $topLine2 + $topLine3 + $topLine4 )##금주(W)
		#set( $topHead2 = $topLine5 + $topLine6 + $topLine7 + $topLine8 + $topLine9 + $topLine10 + $topLine11 + $topLine12 + $topLine13 + $topLine14 + $topLine15 + $topLine16   )##차주(W+1)
		#set( $topHead3 = $topLine17 + $topLine18 + $topLine19 + $topLine20 + $topLine21 + $topLine22 + $topLine23 + $topLine24 + $topLine25 + $topLine26 + $topLine27 +  $topLine28 )##차차주(W+2)
		#set( $rightWidth = $topLine1 + $topLine2 + $topLine3 + $topLine4 + $topLine5 + $topLine6 + $topLine7 + $topLine8 + $topLine9 + $topLine10 + $topLine11 + $topLine12 + $topLine13 + $topLine14  ) ##
		#set( $rightWidth = $rightWidth + $topLine15 + $topLine16 + $topLine17 + $topLine18 + $topLine19 + $topLine20 + $topLine21  + $topLine22 + $topLine23 + $topLine24 + $topLine25 + $topLine26  )
		#set( $rightWidth = $rightWidth + $topLine27 + $topLine28 )
		#set( $topLineWidth = $topHead1 + $topHead2 + $topHead3  ) 

		#set( $dd = $!etc_day_list.get(0))
		
		<div id="topLine" style="height:${headHeight}; width:${topLineWidth};overflow:hidden;">  
			<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; color:#7259b1;">
				<thead>  
					<tr height="30px">  
						<td width="$!{topHead1}px" colspan="4">금주(W)</td>
						<td width="$!{topHead2}px" colspan="12">차주(W+1)</td>
						<td width="$!{topHead3}px" colspan="12">차차주(W+2)</td>
					</tr> 
					<tr height="30px">	 
						<td width="$!{topLine1}px" class="mid">기초재고</td>					##1
						<td width="$!{topLine2}px" class="mid">금주<br>생산계획</td>			##2
						<td width="$!{topLine3}px" class="mid">금주<br>판매계획</td>			##3
						<td width="$!{topLine4}px" class="mid">예상재고<br>(차주초)</td>		##4
						##******************************************************************
						<td width="$!{topLine5}px" class="mid">생산<br>필요량</td>		    ##5
						<td width="$!{topLine6}px" class="mid">생산<br>계획계</td>			##6
						<td width="$!{topLine7}px" class="mid">생산<br>위치</td>			    ##7 
						<td width="$!{topLine8}px" class="mid"> $!dd.get(0)</td>			    ##8
						<td width="$!{topLine9}px" class="mid"> $!dd.get(1)</td>				##9
						<td width="$!{topLine10}px" class="mid">$!dd.get(2)</td>	        ##10
						<td width="$!{topLine11}px" class="mid">$!dd.get(3)</td>			##11
						<td width="$!{topLine12}px" class="mid">$!dd.get(4)</td>			##12
						<td width="$!{topLine13}px" class="mid">$!dd.get(5)</td>			##13
						<td width="$!{topLine14}px" class="mid">$!dd.get(6)</td>			##14																												
						<td width="$!{topLine15}px" class="mid">판매계획</td>					##15
						<td width="$!{topLine16}px" class="mid">예상<br>재고</td>	 		    ##16
						##****************************************************************** 
						<td width="$!{topLine17}px" class="mid">생산<br>필요량</td>			##17
						<td width="$!{topLine18}px" class="mid">생산<br>계획계</td>		    ##18
						<td width="$!{topLine19}px" class="midright">생산위치</td>			##19
						<td width="$!{topLine20}px" class="mid">$!dd.get(7)</td>			##20
						<td width="$!{topLine21}px" class="mid">$!dd.get(8)</td>			##21
						<td width="$!{topLine22}px" class="mid">$!dd.get(9)</td>			##22 
						<td width="$!{topLine23}px" class="mid">$!dd.get(10)</td>			##23
						<td width="$!{topLine24}px" class="mid">$!dd.get(11)</td>			##24
						<td width="$!{topLine25}px" class="mid">$!dd.get(12)</td>			##25
						<td width="$!{topLine26}px" class="mid">$!dd.get(13)</td>			##26																												                										
						<td width="$!{topLine27}px" class="mid">판매계획</td>					##27
						<td width="$!{topLine28}px" class="mid">예상<br>재고</td>			    ##28
					</tr>									
				 </thead>   
			</table> 
		</div>
		 </td>
	</tr>
	##---------------------------------------------------------------------------------------------
	<tr>  
		<td valign="top">
			<div id="leftDisplay" style="width:$!{leftWidth}px; overflow:hidden; ">
				<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
					<tbody id="left_tbody"> ## 30/40/100/270/90							
						#foreach( $tr in $sc_01100_etc_plan_excel )
						<tr id="left_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
							## 번호
							<td width="$!{topLeft1}px" align="center" style="background-color:${search_bgcolor}; ">
							<a id="divRowNo">$velocityCount</a>
							</td> 
							## 품목 코드            
							<td width="$!{topLeft2}px" align="center" onClick = "goEtcDtl(this);">  
								<a id="divPItemId">$tr.get(2)</a>   															 
							</td>  
							## 품목 명  
							<td width="$!{topLeft3}px" align="left" >
								<a id="divItemName">&nbsp;$tr.get(3)</a>
							</td>
							## SPEC  
							<td width="$!{topLeft4}px" align="center" >
								<a id="divItemSpec">&nbsp;$tr.get(4)</a>
							</td> 															
						</tr>
						#end  
					</tbody> 
				</table>  
			</div> 
		</td>  
		<td valign="top">  
			<div id="mainDisplay">
				<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
					<tbody id="main_tbody"> 
						 
						#foreach( $tr in $sc_01100_etc_plan_excel )							
						<tr id="main_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
							## 기초재고
							<td width="$!{topLine1}px" align="right" >
								<a id="divP_base_stock">$tr.get(5)&nbsp;</a>								
							</td>
							## 생산계획(W0)
							<td width="$!{topLine2}px" align="right" >
								<a id="divP_w0_sch_plan">$tr.get(6)&nbsp;</a>
							</td>
							## 판매계획
							<td width="$!{topLine3}px" align="right" >
								<a id="divP_w0_sales_plan">$tr.get(7)&nbsp;</a>
							</td> 
							## 예상재고(차주초)
							<td width="$!{topLine4}px" align="right" >
								<a id="divP_estInv_w0Q">$tr.get(8)&nbsp;</a>
							</td> 					 									
							##---------------------------------------------------------------------------------------    
							## 생산필요량
							<td width="$!{topLine5}px" align="right" >
								<a id="divPsch_NeedQ">$tr.get(9)&nbsp;</a> 
							</td>														
    						## 생산계획계
							<td width="$!{topLine6}px" align="right" >
								<a id="divP_sch_plan_w1Q">$tr.get(10)&nbsp;</a>  
							</td> 
    						## 생산위치  
							<td width="$!{topLine7}px" align="right" onClick="setEditMode(this); ">
								<a id="divP_locId_w1">$tr.get(11)&nbsp;</a> 
							</td>
    						## W1(월)		
                            #if( "$tr.get(12)" == "" ) 
                            	#set( $p_w1_MondayQ = "0" )
                            #else
                            	#set( $p_w1_MondayQ = "$number.format('##0',$tr.get(12))" )
                            #end																														
							<td width="$!{topLine8}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_MondayQ">$p_w1_MondayQ</a>
							</td>     
    						## W1(화) 
                            #if( "$tr.get(13)" == "" ) 
                            	#set( $p_w1_TuedayQ = "0" )
                            #else
                            	#set( $p_w1_TuedayQ = "$number.format('##0',$tr.get(13))" )
                            #end						 										
							<td width="$!{topLine9}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_TuedayQ">$p_w1_TuedayQ</a>
							</td>     
    						## W1(수)
                            #if( "$tr.get(14)" == "" ) 
                            	#set( $p_w1_WeddayQ = "0" )
                            #else
                            	#set( $p_w1_WeddayQ = "$number.format('##0',$tr.get(14))" )
                            #end																
							<td width="$!{topLine10}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_WeddayQ">$p_w1_WeddayQ</a>
							</td> 
    						## W1(목)
                            #if( "$tr.get(15)" == "" ) 
                            	#set( $p_w1_ThudayQ = "0" )
                            #else
                            	#set( $p_w1_ThudayQ = "$number.format('##0',$tr.get(15))" )
                            #end																
							<td width="$!{topLine11}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_ThudayQ">$p_w1_ThudayQ</a>
							</td>
    						## W1(금)
                            #if( "$tr.get(16)" == "" ) 
                            	#set( $p_w1_FridayQ = "0" )
                            #else
                            	#set( $p_w1_FridayQ = "$number.format('##0',$tr.get(16))" )
                            #end																
							<td width="$!{topLine12}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_FridayQ">$p_w1_FridayQ</a>
							</td>
    						## W1(토) 
                            #if( "$tr.get(17)" == "" ) 
                            	#set( $p_w1_SatdayQ = "0" )
                            #else 
                            	#set( $p_w1_SatdayQ = "$number.format('##0',$tr.get(17))" )
                            #end																
							<td width="$!{topLine13}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_SatdayQ">$p_w1_SatdayQ</a>
							</td>
    						## W1(일) 
                            #if( "$tr.get(18)" == "" ) 
                            	#set( $p_w1_SundayQ = "0" )
                            #else
                            	#set( $p_w1_SundayQ = "$number.format('##0',$tr.get(18))" )
                            #end	 															
							<td width="$!{topLine14}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w1_SatdayQ">$p_w1_SundayQ</a>
							</td>  
							## 판매계획
							<td width="$!{topLine15}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_nf_sal_w1Q">$tr.get(19)&nbsp;</a>
							</td>    
							## 예상재고(W1)
							<td width="$!{topLine16}px" align="right" style="mso-number-format:'\@'"> 
								<a id="divP_estInv_w1Q">$tr.get(20)&nbsp;</a>										
							</td> 								 																				
							##---------------------------------------------------------------------------------------
    						## 차차주 생산필요량
							<td width="$!{topLine17}px" align="right" style="mso-number-format:'\@'">
								<a id="divNwkSchPlan">$tr.get(21)&nbsp;</a>
							</td>
    						## 차차주 생산 계획계
							<td width="$!{topLine18}px" align="right" style="mso-number-format:'\@'">  
								<a id="divP_sch_plan_w2Q">$tr.get(22)&nbsp;</a>  
							</td> 														 
    						## 차차주 생산위치 
							<td width="$!{topLine19}px" align="right"  onClick="setEditMode(this); ">
								<a id="divP_sch_plan_w2Q">$tr.get(23)&nbsp;</a>  
							</td>
    						## W2(월)
                            #if( "$tr.get(24)" == "" ) 
                            	#set( $p_w2_MondayQ = "0" )
                            #else
                            	#set( $p_w2_MondayQ = "$number.format('##0',$tr.get(24))" )
                            #end	 																														
							<td width="$!{topLine20}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_MondayQ">$p_w2_MondayQ</a>
					        </td>
    						## W2(화)
                            #if( "$tr.get(25)" == "" ) 
                            	#set( $p_w2_TuedayQ = "0" )
                            #else
                            	#set( $p_w2_TuedayQ = "$number.format('##0',$tr.get(25))" )
                            #end	 																							
							<td width="$!{topLine21}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_TuedayQ">$p_w2_TuedayQ</a>
							</td>
    						## W2(수)
                            #if( "$tr.get(26)" == "" ) 
                            	#set( $p_w2_WeddayQ = "0" )
                            #else
                            	#set( $p_w2_WeddayQ = "$number.format('##0',$tr.get(26))" )
                            #end	 																														
							<td width="$!{topLine22}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_WeddayQ">$p_w2_WeddayQ</a>
							</td>
    						## W2(목)
                            #if( "$tr.get(27)" == "" ) 
                            	#set( $p_w2_ThudayQ = "0" )
                            #else
                            	#set( $p_w2_ThudayQ = "$number.format('##0',$tr.get(27))" )
                            #end	 																														
							<td width="$!{topLine23}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_ThudayQ">$p_w2_ThudayQ</a>
							</td>
    						## W2(금)
                            #if( "$tr.get(28)" == "" ) 
                            	#set( $p_w2_FridayQ = "0" )
                            #else
                            	#set( $p_w2_FridayQ = "$number.format('##0',$tr.get(28))" )
                            #end	 																														
							<td width="$!{topLine24}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_FridayQ">$p_w2_FridayQ</a>
							</td>
    						## W2(토)
                            #if( "$tr.get(29)" == "" ) 
                            	#set( $p_w2_SatdayQ = "0" )
                            #else
                            	#set( $p_w2_SatdayQ = "$number.format('##0',$tr.get(29))" )
                            #end	 																														
							<td width="$!{topLine25}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_SatdayQ">$p_w2_SatdayQ</a>
							</td>
    						## W2(일)
                            #if( "$tr.get(30)" == "" ) 
                            	#set( $p_w2_SundayQ = "0" ) 
                            #else
                            	#set( $p_w2_SundayQ = "$number.format('##0',$tr.get(30))" )
                            #end	 														 																
							<td width="$!{topLine26}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_w2_SundayQ">$p_w2_SundayQ</a>
							</td>
							
    						## W2주 판매계획
							<td width="$!{topLine27}px" align="right" style="mso-number-format:'\@'">
								<a id="divP_nf_sal_w2Q">$tr.get(31)&nbsp;</a>
							</td>  
							## 예상재고(W2주)  
							<td width="$!{topLine28}px" align="right" style="mso-number-format:'\@'"> 
								<a id="divP_estInv_w2Q">$tr.get(32)&nbsp;</a>
							</td> 		 																										
					    </tr>   
				     #end  													
					</tbody>
				</table>
			</div> 
		</td>
	</tr>	
    ##---------------------------------------------------------------------------------------------	
</table>	
   