############################################################
## 프로그램ID : sc_01100_etc_plan_detail02_list.vm
## 프로그램명 : 유통가공 구성품 상세 조회화면 (iframe02)
## 개발자  : 김규철
## 개발일자 : 2008-12-22 월요일 
##
##관련 job file : job_sinc_20_scheduling_05.xml
##
##관련 query file : query_sinc_20_scheduling_05.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2008-12-22  김규철           sc_01100_etc_plan_detail02_list.vm 개발
##
##
############################################################
         
<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
                                
	<input name="search_h" type="hidden" value="0"> ## search 조건 부분 높이 		
	## 조회 영역 end	   
	<tr> 
		<td height="1">             
			<input type="hidden" name="sdate"                value="$!{sdate}">               	##조회일자
			<input type="hidden" name="version"              value="${version}">              	##version
			<input type="hidden" name="seq"                  value="${seq}">                  	##seq  
			<input type="hidden" name="checked_etc"          value="${checked_etc}">          	##유통가공/구성품 구분
			
			<input type="hidden" name="set_p_item_id"          value="${set_p_item_id}">        ##유통가공품 
			<input type="hidden" name="set_p_sch_plan_w0Q"     value="${set_p_sch_plan_w0Q}">   ##유통가공품 생산계획량_W0
			<input type="hidden" name="set_p_sch_w1Q"          value="${set_p_sch_w1Q}">        ##유통가공품 생산필요량_W1
			<input type="hidden" name="set_p_sch_plan_w1Q"     value="${set_p_sch_plan_w1Q}">   ##유통가공품 생산계획량_W1
			<input type="hidden" name="set_p_sch_w2Q"          value="${set_p_sch_w2Q}">        ##유통가공품 생산필요량_W2
			<input type="hidden" name="set_p_sch_plan_w2Q"     value="${set_p_sch_plan_w2Q}">   ##유통가공품 생산계획량_W2
		</td>     
	</tr> 
	   
	## TAB 영역
	<tr>
		<td valign="top">
				
				## tab 좌측 여백
				##tabLeft()				 
				
					##<h2 class="tab">유통가공 구성품 관리</h2>   
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info2()</td>
						</tr>
					</table> 
					  
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr height= "">        
							<td>           
    							##Main Table start   
            					<table id="tbMain" border="0" height="100%" width="100%" cellpadding="0" cellspacing="0" >
            						<tr> 
            							<td>  
                    					#set( $headHeight = 60 )  ##헤더 높이 
                    					#set( $topLeft1   = 30 )  ##번호
                    					#set( $topLeft2   = 80 )  ##구성품 코드(C)
										#set( $topLeft3   = 80 )  ##가공품 코드(P)
                    					#set( $topLeft4   = 160 ) ##제품 명      
                    					#set( $topLeft5   = 111 ) ##SPEC      
										
                    					#set( $leftWidth  = $topLeft1 + $topLeft2 + $topLeft3 + $topLeft4 + $topLeft5 ) ## 
    										<div id="topLeft" style="height:$!{headHeight}; width:$!{leftWidth}px; overflow:hidden; ">
                    							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
                    								<thead> 
                    									<tr height="${headHeight}px">  
                    										<td width="$!{topLeft1}px">번호</td>		    ## 1    			
                    										<td width="$!{topLeft2}px">구성품코드</td>	## 2
														    <td width="$!{topLeft3}px">가공품코드</td>    ## 3
                    										<td width="$!{topLeft4}px">제품명</td>		## 4
                    										<td width="$!{topLeft5}px">단위</td>  		## 5
                                                            ##<td width="40px">선택<input type="checkbox" name="all_check_flag" value="" class="normal" style="text-align:center; border-width:0; " onclick="allCheckFlag();"></td>														
                    									</tr> 
                    			   					 </thead>
                    			   				</table>
                    			   			</div>
                    					</td>  
                						#set( $topLine1 = 70 )  ##기초재고
                						#set( $topLine2 = 70 )  ##금주생산계획
                						#set( $topLine3 = 70 )  ##금주판매계획
                						#set( $topLine4 = 70 )  ##예상재고(차주초)
                						
                						#set( $topLine5 = 70 )  ##차주 생산필요량
                						#set( $topLine6 = 70 )  ##차주 생산계획계
                						#set( $topLine7 = 70 )  ##차주 생산위치
        								#set( $topLine8 = 70 )  ##차주(월)
        								#set( $topLine9 = 70 )  ##차주(화)
        								#set( $topLine10 = 70 ) ##차주(수)
        								#set( $topLine11 = 70 ) ##차주(목) 
        								#set( $topLine12 = 70 ) ##차주(금)
        								#set( $topLine13 = 70 ) ##차주(토)
        								#set( $topLine14 = 70 ) ##차주(일)									
                						#set( $topLine15 = 70 ) ##차주 판매계획
                						#set( $topLine16 = 70 ) ##예상재고(차차주초)
                						
                						#set( $topLine17 = 70 ) ##차차주 생산필요량 
                						#set( $topLine18 = 70 ) ##차차주 생산계획계	
                						#set( $topLine19 = 70 ) ##차차주 생산위치
        								#set( $topLine20 = 70 ) ##차주(월)
        								#set( $topLine21 = 70 ) ##차주(화)
        								#set( $topLine22 = 70 ) ##차주(수)
        								#set( $topLine23 = 70 ) ##차주(목)
        								#set( $topLine24 = 70 ) ##차주(금)
        								#set( $topLine25 = 70 ) ##차주(토)
        								#set( $topLine26 = 70 ) ##차주(일)
                						#set( $topLine27 = 70 ) ##차차주 판매계획 
                						#set( $topLine28 = 70 ) ##차차주 예상재고 
    									
                						#set( $topHead1 = $topLine1 + $topLine2 + $topLine3 + $topLine4 )##금주(W)
                						#set( $topHead2 = $topLine5 + $topLine6 + $topLine7 + $topLine8 + $topLine9 + $topLine10 + $topLine11 + $topLine12 + $topLine13 + $topLine14 + $topLine15 + $topLine16   )##차주(W+1)
                						#set( $topHead3 = $topLine17 + $topLine18 + $topLine19 + $topLine20 + $topLine21 + $topLine22 + $topLine23 + $topLine24 + $topLine25 + $topLine26 + $topLine27 +  $topLine28 )##차차주(W+2)
                						#set( $rightWidth = $topLine1 + $topLine2 + $topLine3 + $topLine4 + $topLine5 + $topLine6 + $topLine7 + $topLine8 + $topLine9 + $topLine10 + $topLine11 + $topLine12 + $topLine13 + $topLine14  ) ##
        								#set( $rightWidth = $rightWidth + $topLine15 + $topLine16 + $topLine17 + $topLine18 + $topLine19 + $topLine20 + $topLine21  + $topLine22 + $topLine23 + $topLine24 + $topLine25 + $topLine26  )
        								#set( $rightWidth = $rightWidth + $topLine27 + $topLine28 )
        								#set( $topLineWidth = $topHead1 + $topHead2 + $topHead3  )   
										
										#set( $dd = $!etc_day_list.get(0)) 
									    <td> 
                    						<div id="topLine" style="height:$120px; width:510px; overflow:hidden;">    
                    							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
                    								<thead>  
                    									<tr height="30px">  
                    										<td width="$!{topHead1}px" colspan="4">금주(W)</td>
                    										<td width="$!{topHead2}px" colspan="12">차주(W+1)</td>
                    										<td width="$!{topHead3}px" colspan="12">차차주(W+2)</td>
                    									</tr> 
                    									<tr height="30px">	 
                    										<td width="$!{topLine1}px" class="mid">기초재고</td> 				##1
                    										<td width="$!{topLine2}px" class="mid">금주<br>생산계획</td>			##2
                    										<td width="$!{topLine3}px" class="mid">금주<br>사용계획</td>			##3
                    										<td width="$!{topLine4}px" class="mid">예상재고<br>(차주초)</td>		##4
                    										#******************************************************************#
                    										<td width="$!{topLine5}px" class="mid">생산<br>필요량</td>		        ##5
                    										<td width="$!{topLine6}px" class="mid">생산<br>계획계</td>			##6
                    										<td width="$!{topLine7}px" class="mid">생산<br>위치</td>			##7
                    										<td width="$!{topLine8}px" class="mid">$!dd.get(0)</td>			        ##8
                    										<td width="$!{topLine9}px" class="mid">$!dd.get(1)</td>				##9
                    										<td width="$!{topLine10}px" class="mid">$!dd.get(2)</td>			##10
                    										<td width="$!{topLine11}px" class="mid">$!dd.get(3)</td>			##11
                    										<td width="$!{topLine12}px" class="mid">$!dd.get(4)</td>			##12
                    										<td width="$!{topLine13}px" class="mid">$!dd.get(5)</td>			##13
                    										<td width="$!{topLine14}px" class="mid">$!dd.get(6)</td>			##14																												
                    										<td width="$!{topLine15}px" class="mid">사용계획</td>				##15
                    										<td width="$!{topLine16}px" class="mid">예상<br>재고</td>	 		##16
                    										#******************************************************************# 
                    										<td width="$!{topLine17}px" class="mid">생산<br>필요량</td>			##17
                    										<td width="$!{topLine18}px" class="mid">생산<br>계획계</td>		        ##18 
                    										<td width="$!{topLine19}px" class="midright">생산위치</td>			##19
                    										<td width="$!{topLine20}px" class="mid">$!dd.get(7)</td>			##20
                    										<td width="$!{topLine21}px" class="mid">$!dd.get(8)</td>			##21
                    										<td width="$!{topLine22}px" class="mid">$!dd.get(9)</td>			##22
                    										<td width="$!{topLine23}px" class="mid">$!dd.get(10)</td>			##23
                    										<td width="$!{topLine24}px" class="mid">$!dd.get(11)</td>			##24
                    										<td width="$!{topLine25}px" class="mid">$!dd.get(12)</td>			##25
                    										<td width="$!{topLine26}px" class="mid">$!dd.get(13)</td>			##26																												                										
															<td width="$!{topLine27}px" class="mid">사용계획</td>			        ##27
                    										<td width="$!{topLine28}px" class="mid">예상<br>재고</td>			##28
                    									</tr>									
                    			   					 </thead>
                    			   				</table> 
                    			   			</div>
                						 </td>
                					</tr>	
    								<tr>  
                						<td valign="top"> 
                    						<div id="leftDisplay" style="height:100px; width:$!{leftWidth}px; overflow:hidden; ">
                    							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
                    								<tbody id="left_tbody"> ## 30/40/100/270/90
                										
                										## 날짜 조회   
    													#set( $dd = $!etc_day_list.get(1) )  
                                                        ##------------------------------------------------------------
                                                        <input type="hidden" name="c_w1_MondayD" value= "$!dd.get(0)">
                                                        <input type="hidden" name="c_w1_TuedayD" value= "$!dd.get(1)">
                                                        <input type="hidden" name="c_w1_WeddayD" value= "$!dd.get(2)">
                                                        <input type="hidden" name="c_w1_ThudayD" value= "$!dd.get(3)">
                                                        <input type="hidden" name="c_w1_FridayD" value= "$!dd.get(4)">
                                                        <input type="hidden" name="c_w1_SatdayD" value= "$!dd.get(5)">
                                                        <input type="hidden" name="c_w1_SundayD" value= "$!dd.get(6)">									
                                                        ##------------------------------------------------------------
                                                        <input type="hidden" name="c_w2_MondayD" value= "$!dd.get(7)">
                                                        <input type="hidden" name="c_w2_TuedayD" value= "$!dd.get(8)">
                                                        <input type="hidden" name="c_w2_WeddayD" value= "$!dd.get(9)">
                                                        <input type="hidden" name="c_w2_ThudayD" value= "$!dd.get(10)">
                                                        <input type="hidden" name="c_w2_FridayD" value= "$!dd.get(11)">
                                                        <input type="hidden" name="c_w2_SatdayD" value= "$!dd.get(12)">
                                                        <input type="hidden" name="c_w2_SundayD" value= "$!dd.get(13)">		 								
    														  
    													#foreach( $tr in $sc_01100_etc_plan_detail02_list )                   									
														<tr id="left_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
    														## 번호
                    										<td width="$!{topLeft1}px" align="center" style="background-color:${search_bgcolor}; ">
                    											<a id="divRowNo">$velocityCount</a>
                    										</td> 
    														## check box  
                    										##<td width="40px" align="center"><input type="checkbox" name="check_flag" value="" class="normal" style="text-align:center; border-width:0; " onKeyDown="moveNextBox(this); "></input></td>									
    														   
    														## 구성품 코드         
                    										<td width="$!{topLeft2}px" align="center" onClick = "goEtcMainDtl(this);">  
                    											<a id="divPItemId">$tr.get(1)</a>   															 
                    										</td>  
    														## 가공품 코드         
                    										<td width="$!{topLeft3}px" align="center" onClick = "">  
                    											<a id="divC_p_item_id">$tr.get(0)</a>   															 
    															<input type="hidden" name="c_p_item_id"  value= "$tr.get(0)"> 
                    										</td>  															
                    										## 구성품 품명     
                    										<td width="$!{topLeft4}px" align="left" >
																 <a id="divC_item_name">$tr.get(2)</a>
                    											 <input type="hidden" name="c_item_name" value="$tr.get(2)">
                    										</td> 
                    										## SPEC   
                    										<td width="$!{topLeft5}px" align="center" > 
																 <a id="divC_item_spec">$tr.get(3)</a>
                    											 <input type="hidden" name="c_item_spec" value="$tr.get(3)">
                    										</td>      
                    									</tr>
    													#end  
                    								</tbody> 
                    							</table>  
                    						</div> 
                    					</td>    
                    					<td valign="top"> ##height:130px width:510px                                            
                    						<div id="mainDisplay" class="ns_scroll" style="border:0; height:125px; width:525px; overflow-y:scroll; overflow-x:scroll; " onscroll="etc_scrollX(); etc_scrollY();">																														
                    							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
                    								<tbody id="main_tbody">  
														
														#foreach( $tr in $$sc_01100_etc_plan_detail02_list )							
                    									<tr id="main_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
                    										## 기초재고
                    										<td width="$!{topLine1}px" align="right" >
                    											<a id="divC_base_stock">$tr.get(4)&nbsp;</a>
                    											<input type="hidden" name="c_base_stock"  value="$tr.get(4)">
                    										</td>
                    										## 생산계획(W0)
                    										<td width="$!{topLine2}px" align="right" >
                    											<a id="divC_sch_plan_w0Q">$tr.get(5)&nbsp;</a>
                    											<input type="hidden" name="c_sch_plan_w0Q" value="$tr.get(5)">						 					
                    										</td>
                    										## 사용계획(W0)   
                    										<td width="$!{topLine3}px" align="right" title="${set_p_item_id}의 생산계획량 : ${set_p_sch_plan_w0Q}">
                    											<a id="divC_do_plan_w0Q">$tr.get(6)&nbsp;</a>
                    											<input type="hidden" name="c_do_plan_w0Q"  value="$tr.get(6)">
                    										</td> 
                    										## 예상재고(차주초)
                    										<td width="$!{topLine4}px" align="right" >
                    											<a id="divC_estInv_w0Q">$tr.get(7)&nbsp;</a>
                    											<input type="hidden" name="c_estInv_w0Q"  value="$tr.get(7)">											
                    										</td> 					 									
    														##--------------------- ------------------------------------------------------------------
                    										## 생산필요량    
                    										<td width="$!{topLine5}px" align="right" title="사용계획_W1(${tr.get(17)})-예상재고_W0">  
																<a id="divC_pa_plan_w1"></a>  
																##자제품의 생산필요량_w1 
                                                              	<input type="hidden" name="c_pa_plan_w1"  value="">        										                                      																
																<input type="hidden" name="p_pa_plan_w1"  value="$tr.get(8)">             
															</td>	
                                    						## 생산계획계_W1
                    										<td width="$!{topLine6}px" align="right" > 
																<a id="divC_sch_plan_w1Q"></a>  
																<input type="hidden" name="c_sch_plan_w1Q"  value="">                                 									
															</td> 
    				                						## 생산위치  
                    										<td width="$!{topLine7}px" align="right" onClick="setEditMode(this); ">
                											<a id="divC_plantId_w1">$tr.get(9)</a><a id="divC_plantId_w1Sel" style="width:100%; display:none;" onFocusOut="setViewMode(this);" ><select name="c_plantId_w1" 
    															onKeyDown="moveNextBox(this);" onChange="" style="width:100%; padding-left:5px;">
                												<option value="$tr.get(9)">$tr.get(9)</option>    
                        									#foreach( $condition in $grid_plant_list )     
                        										<option value="$condition.get(0)" #if( "$tr.get(9)" == "$condition.get(0)") selected #else #end >$condition.get(1)</option>																						
                        									#end  
                											</select></a> 
                    										</td> 
    				                						## W1(월)		
                                                            #if( "$tr.get(10)" == "" ) 
                                                            	#set( $c_w1_MondayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_MondayQ = "$number.format('##0',$tr.get(10))" )
                                                            #end																							
                    										<td width="$!{topLine8}px" align="right" > 
                   											<input type="text" name="c_w1_MondayQ" class="normal" value="$c_w1_MondayQ"
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); " 
                        											style="width:100%;  text-align:right; ">##<input type="text" name="p_w1_MondayD" value= "$!dd.get(0)">
    														</td>     
    				                						## W1(화) 
                                                            #if( "$tr.get(11)" == "" ) 
                                                            	#set( $c_w1_TuedayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_TuedayQ = "$number.format('##0',$tr.get(11))" )
                                                            #end															
                    										<td width="$!{topLine9}px" align="right" > 
                   											<input type="text" name="c_w1_TuedayQ" class="normal" value="$c_w1_TuedayQ"
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_TuedayD" value= "$!dd.get(1)">															
                    										</td>    
    				                						## W1(수)
                                                            #if( "$tr.get(12)" == "" ) 
                                                            	#set( $c_w1_WeddayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_WeddayQ = "$number.format('##0',$tr.get(12))" )
                                                            #end															
                    										<td width="$!{topLine10}px" align="right" >
                 											<input type="text" name="c_w1_WeddayQ" class="normal" value="$c_w1_WeddayQ"
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_WeddayD" value= "$!dd.get(2)">															
                    										</td>
    				                						## W1(목)
                                                            #if( "$tr.get(13)" == "" ) 
                                                            	#set( $c_w1_ThudayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_ThudayQ = "$number.format('##0',$tr.get(13))" )
                                                            #end															
                    										<td width="$!{topLine11}px" align="right" >
                 											<input type="text" name="c_w1_ThudayQ" class="normal" value="$c_w1_ThudayQ"
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_ThudayD" value= "$!dd.get(3)">															
                    										</td>
    				                						## W1(금)
                                                            #if( "$tr.get(14)" == "" ) 
                                                            	#set( $c_w1_FridayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_FridayQ = "$number.format('##0',$tr.get(14))" )
                                                            #end															
                    										<td width="$!{topLine12}px" align="right" >
                 											<input type="text" name="c_w1_FridayQ" class="normal" value="$c_w1_FridayQ"	
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_FridayD" value= "$!dd.get(4)">															
                    										</td>
    				                						## W1(토) 
                                                            #if( "$tr.get(15)" == "" ) 
                                                            	#set( $c_w1_SatdayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_SatdayQ = "$number.format('##0',$tr.get(15))" )
                                                            #end															
                    										<td width="$!{topLine13}px" align="right" >
                 											<input type="text" name="c_w1_SatdayQ" class="normal" value="$c_w1_SatdayQ" 	
                        											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_SatdayD" value= "$!dd.get(5)">															
                    										</td>
    				                						## W1(일) 
                                                            #if( "$tr.get(16)" == "" ) 
                                                            	#set( $c_w1_SundayQ = "0" )
                                                            #else
                                                            	#set( $c_w1_SundayQ = "$number.format('##0',$tr.get(16))" )
                                                            #end															
                    										<td width="$!{topLine14}px" align="right" > 
                											<input type="text" name="c_w1_SundayQ" class="normal" value="$c_w1_SundayQ"
                            											onFocusIn="saveValues(this); " onChange="calculate(this); "  onDblClick="this.select(); " onKeyDown="moveNextBox(this); ">##<input type="text" name="p_w1_SundayD" value= "$!dd.get(6)">															
                         										</td>  
                    										## 사용계획(W1)
                    										<td width="$!{topLine15}px" align="right" title="${set_p_item_id}의 생산계획량 : ${set_p_sch_plan_w1Q}">
                    											<a id="divC_do_plan_w1Q">$tr.get(17)&nbsp;</a>
                    											<input type="hidden" name="c_do_plan_w1Q" value="$tr.get(17)">
                    										</td>    
                    										## 예상재고(차차주초)  
                    										<td width="$!{topLine16}px" align="center" > 
                                                        		<a id="divC_estInv_w1Q"></a>
                                                                <input type="hidden" name="c_estInv_w1Q"  value="">																					
                    										</td> 										 																		
    														##---------------------------------------------------------------------------------------
                                    						## 차차주 생산필요량
                    										<td width="$!{topLine17}px" align="right" title="사용계획_W2(${tr.get(27)})-예상재고_W1">
                                                               	<a id="divC_pa_plan_w2"></a>  
                                                            	##자제품의 생산필요량_w1 
                                                            	<input type="hidden" name="c_pa_plan_w2"  value="">        										
                                                            	<input type="hidden" name="p_pa_plan_w2"  value="$tr.get(18)">        										
															</td>	
															
                                    						## 차차주 생산 계획계
                      										<td width="$!{topLine18}px" align="right" >  
  																<a id="divC_sch_plan_w2Q"></a>  
																<input type="hidden" name="c_sch_plan_w2Q"  value="">                                 									
                      										</td> 														 
                                    						## 차차주 생산위치  
                    										<td width="$!{topLine19}px" align="right"  onClick="setEditMode(this); ">
                											<a id="divC_plantId_w2">$tr.get(19)</a><a id="divC_plantId_w2Sel" style="width:100%; display:none;" onFocusOut="setViewMode(this);" ><select name="c_plantId_w2"  
    															onKeyDown="moveNextBox(this);" onChange="" style="width:100%; padding-left:5px;">
                												<option value="$tr.get(19)"></option>    
                        									#foreach( $condition in $grid_plant_list )  
                        										<option value="$condition.get(0)" #if( "$tr.get(19)" == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
                        									#end    
                											</select></a> 
                    										</td>
    				                						## W2(월)
                                                            #if( "$tr.get(20)" == "" ) 
                                                            	#set( $c_w2_MondayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_MondayQ = "$number.format('##0',$tr.get(20))" )
                                                            #end																 														
                    										<td width="$!{topLine20}px" align="right" >
                                                        		<input type="text" name="c_w2_MondayQ" class="normal" value="$c_w2_MondayQ" 
                            									 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                            									 style="width:100%;  text-align:right; "><input 
                        										 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    								        </td>
    				                						## W2(화)
                                                            #if( "$tr.get(21)" == "" ) 
                                                            	#set( $c_w2_TuedayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_TuedayQ = "$number.format('##0',$tr.get(21))" )
                                                            #end																
                    										<td width="$!{topLine21}px" align="right" >
                                                           		<input type="text" name="c_w2_TuedayQ" class="normal" value="$c_w2_TuedayQ" 
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td>
    				                						## W2(수)
                                                            #if( "$tr.get(22)" == "" ) 
                                                            	#set( $c_w2_WeddayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_WeddayQ = "$number.format('##0',$tr.get(22))" )
                                                            #end																
                    										<td width="$!{topLine22}px" align="right" >
                                                           		<input type="text" name="c_w2_WeddayQ" class="normal" value="$c_w2_WeddayQ" 
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td>
    				                						## W2(목)
                                                            #if( "$tr.get(23)" == "" ) 
                                                            	#set( $c_w2_ThudayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_ThudayQ = "$number.format('##0',$tr.get(23))" )
                                                            #end																
                    										<td width="$!{topLine23}px" align="right" >
                                                           		<input type="text" name="c_w2_ThudayQ" class="normal" value="$c_w2_ThudayQ" 	
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td>
    				                						## W2(금)
                                                            #if( "$tr.get(24)" == "" ) 
                                                            	#set( $c_w2_FridayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_FridayQ = "$number.format('##0',$tr.get(24))" )
                                                            #end																
                    										<td width="$!{topLine24}px" align="right" >
                                                           		<input type="text" name="c_w2_FridayQ" class="normal" value="$c_w2_FridayQ"
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td>
    				                						## W2(토)
                                                            #if( "$tr.get(25)" == "" ) 
                                                            	#set( $c_w2_SatdayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_SatdayQ = "$number.format('##0',$tr.get(25))" )
                                                            #end																
                    										<td width="$!{topLine25}px" align="right" >
                                                           		<input type="text" name="c_w2_SatdayQ" class="normal" value="$c_w2_SatdayQ" 
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td>
    				                						## W2(일) 
                                                            #if( "$tr.get(26)" == "" ) 
                                                            	#set( $c_w2_SundayQ = "0" )
                                                            #else
                                                            	#set( $c_w2_SundayQ = "$number.format('##0',$tr.get(26))" )
                                                            #end																
                    										<td width="$!{topLine26}px" align="right" >
                                                           		<input type="text" name="c_w2_SundayQ" class="normal" value="$c_w2_SundayQ" 
                                        						 onFocusIn="saveValues(this); " onChange="calculate2(this); "  onDblClick="this.select(); " ##onKeyDown="moveNextBox(this); " 
                                        						 style="width:100%;  text-align:right; "><input 
                                        						 type="hidden" name="modify_flag" value="N">##수정 플래그 
                    										</td> 
     														 
                                    						## W2주 사용계획 
                    										<td width="$!{topLine27}px" align="right" title="${set_p_item_id}의 생산계획량 : ${set_p_sch_plan_w2Q}"> 
                    											<a id="divC_do_plan_w2Q">$tr.get(27)&nbsp;</a><input 
                    												type="hidden" name="c_do_plan_w2Q" class="normal" size="20" value="$tr.get(27)"> 
                    										</td>  
                    										## 예상재고(w2) 
                    										<td width="$!{topLine28}px" align="center" > 
                                                        		<a id="divC_estInv_w2Q"></a> 
                                                                <input type="hidden" name="c_estInv_w2Q"  value="">																					
                												<input type="hidden" name="cons_ratio" value="$tr.get(28)">
                    										</td> 
                    								    </tr>  
    											     #end  													 
    												</tbody>
                    							</table>
                    						</div>
                						</td> 
                					</tr>
                				</table>
                				##Main Table end  
							</td>  
					    </tr>		     	 			  										  
                 </table>
 
				## waiting 표시영역 
				#waitingArea() 
						 
				<input type="hidden" name="_moon_service">
				<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
				<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
				## 번호 배경색
				<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">															
	  </td>  
   </tr> 
</table> 

<script>	  
	// 화면 resize
	//$!{resizeFuncCallCode};  
	//function window.onresize() { $!{resizeFuncCallCode}; }
		 
    // window start시 초기화
	function window.onload(){ 
         
	  //해상도에 따른 iframe내의 scroll 및 width size 조정  
	  if(screen.width == 1024){  	     
    		document.getElementById('topLine').style.width = "520px";     	 
    		document.getElementById('mainDisplay').style.width = "539px"; 	 
		}else if(screen.width == 1280){                      
    		document.getElementById('topLine').style.width = "776px";        //756       	  
    		document.getElementById('mainDisplay').style.width = "795px"; 	 //781 size 늘어나면,  gap 줄어듬
	  }else if(screen.width == 1400){
    		document.getElementById('topLine').style.width = "896px";        //756       	  
    		document.getElementById('mainDisplay').style.width = "915px"; 	 //781 size 늘어나면,  gap 줄어듬	  
	  }else{
    		document.getElementById('topLine').style.width = "1096px";        //756       	  
    		document.getElementById('mainDisplay').style.width = "1115px"; 	 //781 size 늘어나면,  gap 줄어듬	  	  
	  }                                    

	    var tableLen = left_tbody.rows.length;
         
		if(tableLen == 0){
		
     	}
		else if(tableLen == 1){
              
			var w1_sum = 0;         //1. 생산계획계(W0)
                                    //2. 예상재고(차주초) W0
			var c_estInv_w0Q = Number(delComma(document.frm.c_estInv_w0Q.value));
                                    //3. 판매계획 W1
            var c_do_plan_w1Q = Number(delComma(document.frm.c_do_plan_w1Q.value));
        
            w1_sum = Number(delComma(document.frm.c_w1_MondayQ.value));           //W1 월
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_TuedayQ.value));  //W1 화
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_WeddayQ.value));  //W1 수
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_ThudayQ.value));  //W1 목
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_FridayQ.value));  //W1 금
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_SatdayQ.value));  //W1 토
            w1_sum = w1_sum + Number(delComma(document.frm.c_w1_SundayQ.value));  //W1 일
            
            //생산계획계_W1
			divC_sch_plan_w1Q.innerHTML = w1_sum;
         	document.frm.c_sch_plan_w1Q.value = w1_sum;
			
         	//예상재고_W1
            divC_estInv_w1Q.innerHTML = c_estInv_w0Q + w1_sum - c_do_plan_w1Q; 
         	document.frm.c_estInv_w1Q.value = c_estInv_w0Q + w1_sum - c_do_plan_w1Q;

    		var w2_sum = 0;         //1. 생산계획계(W0)
                                    //2. 예상재고(차주초) W1
            var c_estInv_w1Q = Number(delComma(document.frm.c_estInv_w1Q.value));
                                    //3. 사용계획 W1
            var c_do_plan_w2Q = Number(delComma(document.frm.c_do_plan_w2Q.value));
        
            w2_sum = Number(delComma(document.frm.c_w2_MondayQ[i].value));        //W1 월
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_TuedayQ.value));  //W1 화
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_WeddayQ.value));  //W1 수
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_ThudayQ.value));  //W1 목
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_FridayQ.value));  //W1 금
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_SatdayQ.value));  //W1 토
            w2_sum = w2_sum + Number(delComma(document.frm.c_w2_SundayQ.value));  //W1 일
             
            //생산계획계_W2     
			divC_sch_plan_w2Q.innerHTML = w2_sum;
         	document.frm.c_sch_plan_w2Q.value = w2_sum;
         	    
         	//예상재고_W2  
            divC_estInv_w2Q.innerHTML = c_estInv_w1Q + w2_sum - c_do_plan_w2Q;  
         	document.frm.c_estInv_w2Q.value = c_estInv_w1Q + w2_sum - c_do_plan_w2Q;
  
		// 1. 생산필요량 
            //var p_pa_plan_w1 = Number(delComma(document.frm.p_pa_plan_w1.value));    //모생산필요량_w1          
            var c_do_plan_w1Q  = Number(delComma(document.frm.c_do_plan_w1Q.value));   //사용계획_w1   
            var c_estInv_w0Q_pa = Number(delComma(document.frm.c_estInv_w0Q.value));   //예상재고_w0   
			
		    var c_pa_plan_w1 =  c_do_plan_w1Q - c_estInv_w0Q_pa;			
			divC_pa_plan_w1.innerHTML = c_pa_plan_w1; 
 
		// 2. 생산필요량_W1   
            //var p_pa_plan_w2 = Number(delComma(document.frm.p_pa_plan_w2.value));    //모생산필요량_w2          
            var c_do_plan_w2Q  = Number(delComma(document.frm.c_do_plan_w2Q.value));   //사용계획_w2   
            var c_estInv_w1Q_pa = Number(delComma(document.frm.c_estInv_w1Q.value));   //예상재고_w1   
			
		    var c_pa_plan_w2 =  c_do_plan_w2Q - c_estInv_w1Q_pa;			
			divC_pa_plan_w2.innerHTML = c_pa_plan_w2; 
			
		}else if(tableLen >= 2){
		
    		for( var i = 0 ; i < tableLen ; ++i ) {
    
        		var w1_sum = 0;         //1. 생산계획계(W0)
                                        //2. 예상재고(차주초) W0
                var c_estInv_w0Q = Number(delComma(document.frm.c_estInv_w0Q[i].value));
                                        //3. 판매계획 W1
                var c_do_plan_w1Q = Number(delComma(document.frm.c_do_plan_w1Q[i].value));
            
                w1_sum = Number(delComma(document.frm.c_w1_MondayQ[i].value));           //W1 월
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_TuedayQ[i].value));  //W1 화
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_WeddayQ[i].value));  //W1 수
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_ThudayQ[i].value));  //W1 목
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_FridayQ[i].value));  //W1 금
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_SatdayQ[i].value));  //W1 토
                w1_sum = w1_sum + Number(delComma(document.frm.c_w1_SundayQ[i].value));  //W1 일
                
                //생산계획계     
    			divC_sch_plan_w1Q[i].innerHTML = w1_sum;
             	document.frm.c_sch_plan_w1Q[i].value = w1_sum;
    			
             	//예상재고_W1  
                divC_estInv_w1Q[i].innerHTML = c_estInv_w0Q + w1_sum - c_do_plan_w1Q;  
             	document.frm.c_estInv_w1Q[i].value = c_estInv_w0Q + w1_sum - c_do_plan_w1Q;
    
        		var w2_sum = 0;         //1. 생산계획계(W0)
                                        //2. 예상재고(차주초) W1
                var c_estInv_w1Q = Number(delComma(document.frm.c_estInv_w1Q[i].value));
                                        //3. 사용계획 W1
                var c_do_plan_w2Q = Number(delComma(document.frm.c_do_plan_w2Q[i].value));
            
                w2_sum = Number(delComma(document.frm.c_w2_MondayQ[i].value));           //W1 월
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_TuedayQ[i].value));  //W1 화
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_WeddayQ[i].value));  //W1 수
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_ThudayQ[i].value));  //W1 목
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_FridayQ[i].value));  //W1 금
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_SatdayQ[i].value));  //W1 토
                w2_sum = w2_sum + Number(delComma(document.frm.c_w2_SundayQ[i].value));  //W1 일
                 
                //생산계획계_W2     
    			divC_sch_plan_w2Q[i].innerHTML = w2_sum;
             	document.frm.c_sch_plan_w2Q[i].value = w2_sum;
             	    
             	//W2예상재고  
                divC_estInv_w2Q[i].innerHTML = c_estInv_w1Q + w2_sum - c_do_plan_w2Q;  
             	document.frm.c_estInv_w2Q[i].value = c_estInv_w1Q + w2_sum - c_do_plan_w2Q;
      
    		    // 1. 생산필요량_W1 
                var c_do_plan_w1Q  = Number(delComma(document.frm.c_do_plan_w1Q[i].value));   //사용계획_w1   
                var c_estInv_w0Q_pa = Number(delComma(document.frm.c_estInv_w0Q[i].value));   //예상재고_w0   
    			
    		    var c_pa_plan_w1 = c_do_plan_w1Q - c_estInv_w0Q_pa;			
    			divC_pa_plan_w1[i].innerHTML = c_pa_plan_w1; 
               	                
    		    // 2. 생산필요량_W2   
                //var p_pa_plan_w2 = Number(delComma(document.frm.p_pa_plan_w2.value));    //모생산필요량_w2          
                var c_do_plan_w2Q  = Number(delComma(document.frm.c_do_plan_w2Q[i].value));   //사용계획_w2   
                var c_estInv_w1Q_pa = Number(delComma(document.frm.c_estInv_w1Q[i].value));   //예상재고_w1   
    			
    		    var c_pa_plan_w2 = c_do_plan_w2Q - c_estInv_w1Q_pa;			
    			divC_pa_plan_w2[i].innerHTML = c_pa_plan_w2;  
  
			}//for end
			
		}//else if end	 
    } 
	  
</script>
  

 