## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수   
#set( $resizeFuncCallCode = "setGridAutoResize('147', '197')" )          
##set( $resizeFuncCallCode = "setGridAutoResize('142', '337')" )     

#set( $grid_months = $plant_alloc_chk_month_list )
#set( $grid_dates = $plant_alloc_chk_date_list )

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">   
	## 기능 버튼 영역   
	<tr>
		<td height="25" align="right" >
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
				<tr>					
					<td align="right">
						#button("search")
						#toolbar($_moon_toolbar "" "" "" "")
					</td>
				</tr>
			</table> 
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top" >
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr>
								<td width="14%" align="right">계획구분 :</td>   
								<td width="14%">
									<select name="selected_plan_period" style="width:105px; " onChange="doChangeVersion(this); doChangeDisplayDate(this);"> 
										<option value="">선택</option>									 
										<option value="DAILY" #if($!{selected_plan_period} == "DAILY") selected #else #end >일간계획</option>
										<option value="MONTHLY" #if($!{selected_plan_period} == "MONTHLY") selected #else #end >월간계획</option>
									</select>
								</td>
            					<td width="14%" align="right">계획버전 :</td>   
            					<td width="15%">
									<a id="divVersion"> 
                    					<select name="selected_version" style="width:120px; " > 
    										<option value="">선택</option>    									 
                    					</select>		
									</a>
            					</td>																
								<td width="14%" align="right">기간 :</td>         
            					<td width="29%"> 
									<div id="monthly" style="display:none; ">
                						#date_sole_no_title( "sdateM" "7" "normal" "startMonthBtn" $date.get('yyyy-MM'))~
                						<input type="text" name="edateM" size="7" class="normal" value="" disabled>
									</div> 
									<script> 
    										sumMonth(document.frm.sdateM);
                							document.frm.sdateM.onchange = function(){ sumMonth(this); };            							
                					</script>
									<div id="daily" style="display:block; ">
    									#date_sole_no_title( "sdateD" "10" "normal" "startDayBtn" $date.get('yyyy-MM-dd'))~
                						<input type="text" name="edateD" size="10" class="normal" value="" disabled>							  
                					</div>	
									<script> 
    										sumDate(document.frm.sdateD);
                							document.frm.sdateD.onchange = function(){ sumDate(this); };            							
                					</script>
            					</td>
							</tr>
							<tr>
								<td width="14%" align="right">영업품종분류1 :</td> 
            					<td width="14%">  
            						<select name="selected_hr_type1" style="width:105px; " >  		 								
            							<option value="">전체</option>
            						#foreach( $condition in $combo_sales_cat1_list )
            							<option value="$condition.get(0)" #if($!{selected_hr_type1} == "$condition.get(0)") selected #else #end>$condition.get(1)</option>											
            						#end
            						</select> 
            					</td>
								<td width="14%" align="right">영업품종분류2 :</td>
            					<td width="15%">
            						<select name="selected_hr_type" style="width:120px; " >								
            							<option value="">전체</option>
            						#foreach( $condition in $combo_sales_cat2_list )
            							<option value="$condition.get(0)" #if($!{selected_hr_type} == "$condition.get(0)") selected #else #end>$condition.get(1)</option>											
            						#end
            						</select>    
            					</td> 
								<td width="14%" align="right">품종특성분류 :</td>    
            					<td width="29%"> 
            						<select name="selected_cat01" style="width:120px; ">
            							<option value="">전체</option> 
            						#foreach( $condition in $combo_cat01_list ) 
            							<option value="$condition.get(0)" #if($!{selected_cat01} == "$condition.get(0)") selected #else #end>$condition.get(0)</option>
            						#end
            						</select>
            					</td>																
							</tr>
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	 
	<input name="search_h" type="hidden" value="46"> ## search 조건 부분 높이    
	<tr><td height="5"></td></tr>    
	## TAB 영역 
	<tr>						
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>	
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info()</td>
							<td align="right">#table_display()</td>
						</tr>
					</table>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table"> 
						<tr>     
							<td>
								#if("$!{selected_plan_period}" == "MONTHLY") 
    								#set( $header = "품종\n분류1!%!품종\n분류2!%!제품 코드!%!제품 명!%!규격!%!공장!%!실적기준\n배분율!%!$grid_months.get(0).get(0)!%!$grid_months.get(0).get(1)!%!$grid_months.get(0).get(2)!%!$grid_months.get(0).get(3)!%!$grid_months.get(0).get(4)!%!$grid_months.get(0).get(5)" )
    								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER" )
    								#set( $colwidth = "60!%!60!%!70!%!150!%!60!%!60!%!60!%!60!%!60!%!60!%!60!%!60!%!60" ) 
        							#set( $colalign = "CENTER!%!CENTER!%!CENTER!%!LEFT!%!CENTER!%!CENTER!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
    								
        							#set( $data = $zlattice.getBody($!{sc_05220_plantAllocCheck_list},"!%!", "/%/") )
    								
    								#set( $topHearders = "계획기준 배분율 현황" )
    								#set( $topHearderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O!%!O!%!O!%!O" )
								#else     ## DAILY
									#set( $header = "품종\n분류1!%!품종\n분류2!%!제품 코드!%!제품 명!%!규격!%!공장!%!실적기준\n배분율!%!$grid_dates.get(0).get(0)!%!$grid_dates.get(0).get(1)!%!$grid_dates.get(0).get(2)!%!$grid_dates.get(0).get(3)!%!$grid_dates.get(0).get(4)!%!$grid_dates.get(0).get(5)!%!$grid_dates.get(0).get(6)!%!$grid_dates.get(0).get(7)!%!$grid_dates.get(0).get(8)!%!$grid_dates.get(0).get(9)!%!$grid_dates.get(0).get(10)!%!$grid_dates.get(0).get(11)!%!$grid_dates.get(0).get(12)!%!$grid_dates.get(0).get(13)!%!$grid_dates.get(0).get(14)!%!$grid_dates.get(0).get(15)!%!$grid_dates.get(0).get(16)!%!$grid_dates.get(0).get(17)!%!$grid_dates.get(0).get(18)!%!$grid_dates.get(0).get(19)!%!$grid_dates.get(0).get(20)" )
    								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER" )
    								#set( $colwidth = "60!%!60!%!70!%!150!%!60!%!60!%!60!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45!%!45" ) 
        							#set( $colalign = "CENTER!%!CENTER!%!CENTER!%!LEFT!%!CENTER!%!CENTER!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
    								
        							#set( $data = $zlattice.getBody($!{sc_05220_plantAllocCheck_list},"!%!", "/%/") )
    								
    								#set( $topHearders = "계획기준 배분율 현황" )
    								#set( $topHearderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O!%!O" )
								#end
								<textarea id="txt1" style="display:none;" rows="0" cols="0"> 
        							<object name='grid'
        								classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
        								codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
            							##codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
        								<!--Necessary-->     
                                        <param name="code" value="com.zionex.t3sinc.ui.ZLattice">
                                        <param name="archive" value="zLattice.jar">
                                        <param name="headertypes" value= "$headerType">
                                        <param name="headers"  value= "$header">
                                        <param name="data" value= "$data">
										<param name="hasnestedsubheader" value="true"> <!-- default -false -->
										<param name="topheaderposition" value="$topHearderPosition">
										<param name="topheaders" value="$topHearders"> <!-- default -false --> 
                                        <!--Necessary for Modification Grid -->
                                        <param name="names" value= "" >
                                        <!--Necessary for Cookie --> 
                                        <param name="identity" value="sc_05220_plantAllocCheck_list">
                                        <!--Necessary in TYPE COMBO 
                                        <param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
                                        <!--optional - Default Value 있음-->
                                        <param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
                                        <param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
                                        <param name="showgroupingfunction" value="false">  <!-- defalut : true -->
                                        <param name="showprintingfunction" value="false">   <!-- defalut : true -->
                                        <param name="showlockingfunction" value="false"> <!-- defalut : true -->
                                        <param name="showpagingfunction" value="false"> <!-- defalut : true --> 
                                        <param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="enabledragging" value="true"/> <!-- defalut : false --> 
                                        <param name="groupingcolumn" value="5"> <!-- defalut : 그루핑 없음 -->  
                                        <param name="groupsumcolumn" value="-1"> <!-- defalut : 그루핑 없음 --> 
                                        <param name="lockedcolumn" value="6"> <!-- defalut : 락킹 없음 -->   
                                        <param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 --> 
                                        <param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
                                        <param name="bordertype" value="PLANE"> <!-- default - PLANE -->
                                        <param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
                                        <param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0.00"> 									 
                                        <param name="columnwidth" value="$colwidth"> <!-- default -80 -->
                                        <param name="hasverticaltotal" value="false"> <!-- default -true -->
                                        <param name="hashorizontaltotal" value="false"> <!-- default -true -->
                                        <param name="totalrowcolor" value="a1a1a1"> <!-- default ? E6E6FA -->
                                        <param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
                                        <param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
                                        <param name="hascookie" value="false"> <!-- default -false -->
                                        <param name="enableinserting" value="false"> <!-- default -false -->
                                        <param name="enabledeleting" value="false"> <!-- default -false -->
                                        <param name="enableediting" value="false"> <!-- default -false -->										
                                        <!--optional - Default Value 없음-->
                                        ##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
                                        <param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
                                        <param name="disablecolumns" value="">
                                        <param name="columnalign" value="$colalign">
                                        <param name="font" value="굴림">
                                        <param name="fontsize" value="12">
										<param name="columnheight" value="40"> 
										<param name="headertype" value="HORIZONTAL_HEADER">
        							</object>
        						</textarea> 
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
							</td>
						</tr>
					</table> 
					
					<table height="5px"><tr><td></td></tr></table>
					 
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>						
						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
        				<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">						
        			</td></tr></table>  
					
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 계획버전을 반드시 입력하고 조회해야 합니다.";
	helpStr += "<br>◈ 각 항목을 선택후 상단의 조회 버튼을 클릭하여 제품별 공장 할당 결과 검증 화면을  조회합니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;	
	
	// combo box: VERSION 리스트 채움 
	function doChangeVersion(obj){ 
		if(obj.value == null || obj.value == "" ) return;  
		var cnt = 0;
		var div_version = "<select name=\"selected_version\" style=\"width:120px; \"> ";   
	#foreach( $condition in $plant_alloc_chk_version_list )		
   		if ( obj.value == "$condition.get(0)" ) {   
			cnt++;
   			div_version += "<option value=\"$condition.get(1)\" ";
   			if("$condition.get(1)" == "$!{selected_version}")
   				div_version += " selected "; 
			if("$condition.get(3)" == "23" || "$condition.get(3)" == "27" ){//확정버전 or ERP 전송 완료
				div_version += " style=\"background-color:#ffffaa; \" ";
			}
   			div_version += ">$condition.get(1)</option>"; 
   		}
	#end 
		if(cnt == 0){
			div_version += "<option  value=\"\">버전 없음</option> "; 
		}
		div_version += "</select>"; 
		divVersion.innerHTML = div_version;		
	}
	doChangeVersion(document.frm.selected_plan_period);
	
	doChangeDisplayDate(document.frm.selected_plan_period);  
			
</script> 
