## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
##set( $resizeFuncCallCode = "setGridAutoResize('117', '177')" )
#set( $resizeFuncCallCode = "setGridAutoResize('130', '380')" )   

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
						#toolbar_nscm($_moon_toolbar "" "" "" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>		
	<tr> ## 조회 영역
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">            				
            				<tr>
								<td width="8%" align="right">구분 :</td>    
            					<td width="7%">
            						<select name="selected_demand_type" style="width:100px; "> 		 						
            							<option value="">전체</option>
										<option value="주문" #if($!{selected_demand_type} == "주문") selected #else #end >주문</option>
										<option value="판매계획" #if($!{selected_demand_type} == "판매계획") selected #else #end >판매계획</option>
            						</select>
            					</td>
								<td width="12%" align="right">내수/수출 :</td>  
            					<td width="7%">
            						<select name="selected_domain" style="width:50px; "> 		 						
            							<option value="">전체</option>
										<option value="내수" #if($!{selected_domain} == "내수") selected #else #end >내수</option>
										<option value="수출" #if($!{selected_domain} == "수출") selected #else #end >수출</option>
            						</select>
            					</td>
								<td width="8%" align="right">제품 :</td>  
            					<td width="30%">         
            						<input name="item_id" class="normal" style="width:65px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_id}"> 
									<input name="item_name" class="normal" style="width:120px; " 
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_name}" ><img
										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"  
										align="absmiddle" border="0" style="cursor:pointer;" value="$!{item_name}" 
										onClick="openItemSearchPop('item_id', '450', '300'); ">        
                				</td>	
								<td width="9%" align="right">실행일 :</td>  
            					<td width="19%">    
            						<input type="text" name="run_date" size="10" class="normal" maxlength="10" onBlur="chkDate(this, '10')" 
										#if("$!{run_date}" == "") value="$date.get('yyyy-MM-dd')" #else value="$!{run_date}" #end 
										onkeypress="enterCheckDate('$_moon_service', this, '10')" style="text-align:center; "><img
										name="imgRunDate" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"  
										align="absmiddle" border="0" style="cursor:pointer;" value="$!{run_date}"
										onClick="openRunDatePop('420', '350'); ">            
                				</td>
            				</tr>						
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr> 
	<input name="search_h" type="hidden" value="26"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()	## 세로축 스크롤 바			
				<div class="tab-page" id="tabPage1" style="overflow:auto; 
					scrollbar-face-color:#FFFFFF; scrollbar-base-color:#FFFFFF;
					scrollbar-highlight-color:#666666; scrollbar-3dlight-color: #FFFFFF;
					scrollbar-shadow-color:#666666; scrollbar-darkshadow-color: #FFFFFF;
					scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #666666; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>					
    					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
							##<tr><td>1. DEMAND 정보 </td></tr>
							<tr>
    							<td>#page_info()</td>
    							<td align="right">#table_display()</td>
    						</tr>
						</table>
						<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
    						<tr>
    							<td>
									#set( $header = "구분!%!내수/\n수출!%!제품 코드!%!제품 명!%!납기일!%!수량!%!단위!%!오더 번호!%!오더 항목번호!%!생산 요청일!%!출고장 코드!%!출고장" )
    								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT" )
    								#set( $colwidth = "60!%!40!%!70!%!150!%!70!%!50!%!40!%!80!%!60!%!70!%!50!%!110" )   
    								#set( $colalign = "CENTER!%!CENTER!%!CENTER!%!LEFT!%!CENTER!%!RIGHT!%!CENTER!%!CENTER!%!CENTER!%!CENTER!%!CENTER!%!LEFT" )
    								
									## 이중헤더								
    								##set( $topheader = "$!{m01}/%/$!{m02}/%/$!{m03}" )
    								##set( $topheaderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O!%!O/%/O!%!O!%!O!%!O/%/O!%!O!%!O!%!O" )
            								           								
    								#set( $data = $zlattice.getBody($!{sc_02170_dailyPlanResultCheck_list},"!%!", "/%/") )
        								
    								<textarea id="txt1" style="display:none;" rows="0" cols="0">
										<object name="grid"       
    										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
    										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
    										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
    										<!--Necessary--> 
    										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
    										<param name="archive" value="zLattice.jar">
    										<param name="headertypes" value= "$headerType">
    										<param name="headers"  value= "$header">
    										<param name="data" value= "$data">
    										<!--Necessary for Modification Grid -->
    										<param name="names" value= "" >
    										<!--Necessary for Cookie -->
    										<param name="identity" value="sc_02170_dailyPlanResultCheck_list">
    										<!--Necessary in TYPE COMBO 
    										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
    										<!--optional - Default Value 있음-->
    										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
    										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
    										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
    										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
    										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
    										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
    										<param name="enablesorting" value="true">   <!-- defalut : true -->
    										<param name="groupingcolumn" value="5"> <!-- defalut : 그루핑 없음 -->
    										<param name="groupsumcolumn" value="5"> <!-- defalut : 그루핑 없음 -->    
    										<param name="lockedcolumn" value="5"> <!-- defalut : 락킹 없음 -->
    										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
    										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
    										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
    										<param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
    										<param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
    										<param name="outnumberformat" value="&#035;,&#035;&#035;0"> 									 
    										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
    										<param name="hasverticaltotal" value="false"> <!-- default -true -->     
    										<param name="hashorizontaltotal" value="true"> <!-- default -true -->
    										<param name="totalrowcolor" value="eeeeee"> <!-- default ? E6E6FA -->
    										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
    										<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
    										<param name="hascookie" value="false"> <!-- default -false -->
    										<param name="enableinserting" value="false"> <!-- default -false -->
    										<param name="enabledeleting" value="false"> <!-- default -false -->
    										<param name="enableediting" value="false"> <!-- default -false -->
    										<!--optional - Default Value 없음-->
    										##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
    										<param name="columncolor" value="$!{colCor}">
    										<param name="rowcolor" value="$!{rowCol}">
    										<param name="onclickrowfunc" value="onclickfunc">
    										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
    										<param name="disablecolumns" value="">
    										<param name="columnalign" value="$colalign">
    										<param name="font" value="굴림">
    										<param name="fontsize" value="11">  
    										<param name="columnheight" value="40"> 
    										<param name="headertype" value="HORIZONTAL_HEADER">
    										
    										## 이중 헤더
    										<param name="hasnestedsubheader" value="false"> 
    										<param name="topheaders" value="$!{topheader}">
    										<param name="topheaderposition" value="$!{topheaderPosition}">
    										<param name="enabledragging" value="true">
    									</object>										
									</textarea>
    								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>    								
    							</td>
    						</tr>
    					</table>
					
					<table height="5"><tr><td></td></tr></table>
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					</td></tr></table> 
					
					</td></tr></table>
					
					<table height="5"><tr><td></td></tr></table>
					
					##상세조회 iframe  
					<table id="tbBottom" border="0" width="100%" cellpadding="0" cellspacing="0" height="1160px">
						<tr>
							<td >   
								<iframe name="gridDetailInfo" height="100%" width="100%" border="0" frameSpacing="0" frameBorder="0" 
									src="service.do?_moon_service=sc_02170_dailyPlanResultCheckDetail_list&amp;_moon_perpage=100&amp;_moon_pagenumber=1" 
									scrolling="no" class="iframe">
								</iframe>
							</td>							
						</tr>
					</table>
					
					## waiting 표시영역
					#waitingArea()					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 각 항목을 입력하고 상단의 조회 버튼을 클릭하면 해당 DEMAND 정보를 조회 합니다.";
	helpStr += "<br>◈ 제품을 더블클릭하면 하단 그리드에 해당 제품과 관련된 계획결과들이 조회됩니다.";
	helpStr += "<br>◈ 실행일 항목을 입력 후 제품을 더블클릭하면 해당 실행일에 수립되었던 계획 결과들을 조회합니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0; 
	
	//document.cookie = "webfxtab_tabPane1=1";
	
</script>