## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
##set( $resizeFuncCallCode = "setGridAutoResize('117', '177')" ) 
##set( $resizeFuncCallCode = "setGridAutoResize('127', '317')" ) 
#set( $resizeFuncCallCode = "setGridAutoResize('127', '350')" )
   
## List 변수  
##배분율
#set( $allocRate = $!{sc_03030_plantAllocationPolicy_list_01}) 
##비용 
#set( $allocCost = $!{sc_03030_plantAllocationPolicy_list_02})
##최소배분량
#set( $minAllocQty = $!{sc_03030_plantAllocationPolicy_list_03})

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr> 
		<td height="25" align="right"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right"> 
						#button("search")
						#toolbar_nscm($_moon_toolbar "" "" "sc_03030_plantAllocationPolicy_list_save_comp" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="20%" align="right">
            						영업품종분류2 :
            					</td>  
            					<td width="25%" align="left">
									<select name="selected_sales_cat2" style="width:120px; ">   
										<option value="" >전체</option>  
									#foreach( $condition in $plant_alloc_policy_combo_sales_cat2_list ) 
            							<option value="$condition.get(0)" #if($!{selected_sales_cat2} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
            						#end
									</select>
            					</td>    
								<td width="15%" align="right">     
            						제품 :
            					</td>  
            					<td width="40%" align="left"> 
									<input name="item_id" class="normal" style="width:65px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_id}"> 
									<input name="item_name" class="normal" style="width:120px; " 
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_name}"><img
										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
										align="absmiddle" border="0" style="cursor:pointer;" value="$!{item_name}"
										onClick="openCodeSearchPop('selected_sales_cat2', 'item_id', 'item_name', '400', '300'); ">
            					</td> 
            				</tr> 
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea_1" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>					
        					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
        						<tr><td>&nbsp;◆ 공장할당 정책</td></tr> 
        					</table>        					
        					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0" >
								<tr>
								<td valign="top"> 
        						<div id="leftDisplay" style=" overflow:hidden; ">  
        							<table border="0" width="100%" class="normal" style="table-layout:fixed; border-collapse:collapse; ">
        								<tbody id="left_tbody">
        									<tr id="left_tr" height="25px" > 
        										## 배분율
												<td width="20px"></td>
        										<td width="150px" align="left" style=" ">
        											<a id="divAllocRate"></a> 
													<input type="checkbox" name="alloc_rate" value="$allocRate.get(0).get(1)" 
														onClick="checkBoxChange(this); "
														#if($allocRate.get(0).get(3) == "Y") checked #else #end
														> $allocRate.get(0).get(2)</input>
													<input type="hidden" name="alloc_rate_cat01" value="$allocRate.get(0).get(3)"> 
        										</td>
												<td></td>
        									</tr>
        									<tr id="left_tr"  valign="top" >   
        										## 비용
												<td width="20px"></td>
        										<td width="150px" align="left" style=" " > 
        											<a id="divAllocCost"></a>
													<input type="checkbox" name="alloc_cost" value="$allocCost.get(0).get(1)" 
														onClick="checkBoxChange(this); "
														#if($allocCost.get(0).get(3) == "Y") checked #else #end
														> $allocCost.get(0).get(2)</input>
													<input type="hidden" name="alloc_cost_cat01" value="$allocCost.get(0).get(3)">
        										</td>
												<td> 
													<table border="0" width="250px" cellpadding="0" cellspacing="0" align="left">														
														#*<tr height="25px">  
															<td width="150px" align="left">
            													<input type="checkbox" name="alloc_cost_kind" value="$allocCost.get(0).get(4)"
            														onClick="allocCostcheckBoxClick(1); "
            														#if($allocCost.get(0).get(6) == "Y") checked #else #end
            														#if($allocCost.get(0).get(3) == "N") disabled #else #end
            														> $allocCost.get(0).get(5)</input>
            													<input type="hidden" name="alloc_cost_kind_cd" value="$allocCost.get(0).get(4)"/>
            													<input type="hidden" name="alloc_cost_kind_cat01" value="$allocCost.get(0).get(6)"/>
            												</td>
															<td width="100px" align="left">
															</td>
														</tr>*# 
														<tr height="25px" >
															<td width="150px" align="left">
            													<input type="checkbox" name="alloc_cost_kind" value="$allocCost.get(1).get(4)"
            														onClick="allocCostcheckBoxClick(1); "
            														#if($allocCost.get(1).get(6) == "Y") checked #else #end
            														#if($allocCost.get(0).get(3) == "N") disabled #else #end
            														> $allocCost.get(1).get(5)</input>
            													<input type="hidden" name="alloc_cost_kind_cd" value="$allocCost.get(1).get(4)"/>
            													<input type="hidden" name="alloc_cost_kind_cat01" value="$allocCost.get(2).get(6)"/>
            												</td>
															<td width="100px" align="left">
            													<input type="checkbox" name="alloc_cost_kind" value="$allocCost.get(2).get(4)"
            														onClick="allocCostcheckBoxClick(2); "
            														#if($allocCost.get(2).get(6) == "Y") checked #else #end
            														#if($allocCost.get(0).get(3) == "N") disabled #else #end
            														> $allocCost.get(2).get(5)</input>
            													<input type="hidden" name="alloc_cost_kind_cd" value="$allocCost.get(2).get(4)"/>
            													<input type="hidden" name="alloc_cost_kind_cat01" value="$allocCost.get(2).get(6)"/>
            												</td>
														</tr> 
														<tr height="25px"> 
															<td width="150px" align="left">
            													<input type="checkbox" name="alloc_cost_kind" value="$allocCost.get(3).get(4)"
            														onClick="allocCostcheckBoxClick(3); "
            														#if($allocCost.get(3).get(6) == "Y") checked #else #end
            														#if($allocCost.get(0).get(3) == "N") disabled #else #end 
            														> $allocCost.get(3).get(5)</input>
            													<input type="hidden" name="alloc_cost_kind_cd" value="$allocCost.get(3).get(4)"/>
            													<input type="hidden" name="alloc_cost_kind_cat01" value="$allocCost.get(3).get(6)"/>
            												</td>
															<td width="100px" align="left"> 
            													<input type="checkbox" name="alloc_cost_kind" value="$allocCost.get(4).get(4)"
            														onClick="allocCostcheckBoxClick(4); "
            														#if($allocCost.get(4).get(6) == "Y") checked #else #end
            														#if($allocCost.get(0).get(3) == "N") disabled #else #end
            														> $allocCost.get(4).get(5)</input>
            													<input type="hidden" name="alloc_cost_kind_cd" value="$allocCost.get(4).get(4)"/>
            													<input type="hidden" name="alloc_cost_kind_cat01" value="$allocCost.get(4).get(6)"/>
            												</td>
														</tr>
													</table> 
												</td>
        									</tr>												
        									#*<tr id="left_tr" height="25px" >
        										## 최소분배율
												<td width="20px"></td>
        										<td width="150px" align="left" style=" ">
        											<a id="divMinAllocQty"></a>
													<input type="checkbox" name="min_alloc_qty" value="$minAllocQty.get(0).get(3)"
														onClick="togle_checkbox(this); "
														#if($minAllocQty.get(0).get(3) == "Y") checked #else #end
														> $minAllocQty.get(0).get(2)</input>
        										</td>
												<td></td>
        									</tr>*#      									        								
        								</tbody> 
        							</table> 
        						</div>
        					</td> 
        					</tr></table>
        					
        					<table height="5"><tr><td></td></tr></table>  
							<table id="tbBottom" border="0" width="100%" cellpadding="0" cellspacing="0" >           
        						<tr>      
        							<td >
										<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
                                            <table border="0" width="100%" height="100%" cellpading="0" cellspacing="0" class="normal-table">
                                        		<tr><td>&nbsp;◆ 제품별 공장할당 정보</td></tr>
												<tr>
                                					<td><table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                                						<tr>
                                							<td>#page_info()</td>
                                							<td align="right">#table_display()</td>
                                						</tr>
													</table></td>
												</tr>
                                        		<tr>
                                            		<td>	 				
                                            			                                            			
                                            			## 이중헤더
                                            			##set( $topheader = "코드/%/속성1/%/속성2" )     
                                            			##set( $topheaderPosition = "X!%!O!%!O/%/X!%!O!%!O!%!O/%/O!%!O" ) 
                                            			
														#set( $header = "영업품종\n분류2!%!제품코드!%!제품명!%!규격!%!공장!%!배분율!%!최소배분량!%!UOM!%!실 고정비!%!실 변동비!%!표준 고정비!%!표준 변동비")  
                                            			#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT" )
                                            			#set( $colwidth = "60!%!80!%!180!%!80!%!80!%!80!%!80!%!80!%!80!%!80!%!0!%!0" )
                                            			#set( $colalign = "CENTER!%!CENTER!%!LEFT!%!CENTER!%!CENTER!%!RIGHT!%!RIGHT!%!CENTER!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
                                            			#set( $data = $zlattice.getBody($!{sc_03030_plantAllocationPolicyItem_list},"!%!", "/%/") ) 
                                            				        
                                            			<textarea id="txt1" style="display:none;" rows="0" cols="0">					  
                                            				<object name='grid'   
                                            					classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="245px"   
                                            					##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
                                            					codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
                                            					<!--Necessary--> 
                                            					<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
                                            					<param name="archive" value="zLattice.jar">
                                            					<param name="headertypes" value= "$headerType">
                                            					<param name="headers"  value= "$header">
                                            					<param name="data" value= "$data">
                                            					<!--Necessary for Modification Grid -->
                                            					<param name="names" value= "" >
                                            					<!--Necessary for Cookie -->
                                            					<param name="identity" value="sc_03030_plantAllocationPolicyItem_list">
                                            					<!--Necessary in TYPE COMBO 
                                            					<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
                                            					<!--optional - Default Value 있음-->
                                            					<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
                                            					<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
                                            					<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
                                            					<param name="showprintingfunction" value="false">   <!-- defalut : true -->
                                            					<param name="showlockingfunction" value="false"> <!-- defalut : true -->
                                            					<param name="showpagingfunction" value="false"> <!-- defalut : true -->
                                            					<param name="enablesorting" value="true">   <!-- defalut : true -->
                                            					<param name="groupingcolumn" value="4"> <!-- defalut : 그루핑 없음 -->
                                            					<param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 --> 
                                            					<param name="lockedcolumn" value="5"> <!-- defalut : 락킹 없음 -->
                                            					<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 --> 
                                            					<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
                                            					<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
                                            					<param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
                                            					<param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
                                            					<param name="outnumberformat" value="&#035;,&#035;&#035;0"> 									 
                                            					<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
                                            					<param name="hasverticaltotal" value="false"> <!-- default -true -->
                                            					<param name="hashorizontaltotal" value="false"> <!-- default -true -->
                                            					<param name="totalrowcolor" value="909090"> <!-- default ? E6E6FA -->
                                            					<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
                                            					<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
                                            					<param name="hascookie" value="false"> <!-- default -false -->
                                            					<param name="enableinserting" value="false"> <!-- default -false -->
                                            					<param name="enabledeleting" value="false"> <!-- default -false -->
                                            					<param name="enableediting" value="false"> <!-- default -false -->
                                            					<!--optional - Default Value 없음-->
                                            					##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
                                            					<param name="columncolor" value="$!{colCor}">
                                            					<param name="rowcolor" value="$!{rowCol}">
                                            					<param name="onclickrowfunc" value="onclickfunc">
                                            					<param name="callingfunction" value="DOUBLECLICKED_CALLING">
                                            					<param name="disablecolumns" value="">
                                            					<param name="columnalign" value="$colalign">
                                            					<param name="font" value="굴림">
                                            					<param name="fontsize" value="12"> 
                                            					<param name="columnheight" value="40"> 
                                            					<param name="headertype" value="HORIZONTAL_HEADER">
                                            					
                                            					## 이중 헤더
                                            					<param name="hasnestedsubheader" value="false"> 
                                            					<param name="topheaders" value="$!{topheader}">
                                            					<param name="topheaderposition" value="$!{topheaderPosition}">
                                            					<param name="enabledragging" value="true">
                                            				</object>
                                            			</textarea> 
                                            			<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
                                            		</td>
                                            	</tr> 
                                            </table>					  
                                        </td></tr></table>
        							</td>							 
        						</tr>
        					</table>
        					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>						
        						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
								<input type="hidden" name="_moon_service" value="${_moon_service}">
        						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
								##<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}"> 
        						##<input type="hidden" name="_user_id" value="$!{_user_id}">
        					</td></tr></table>
					</td></tr></table>
					 
					## waiting 표시영역
					#waitingArea()
					
				</div>
			</div> 
		</td>
	</tr>
</table>
 
<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
			
	// 도움말 내용 입력
	var helpStr = "◈ 공장할당 정책의 각 항목을 체크한 후 상단의 저장버튼을 클릭하면 공장할당 정책이 저장됩니다.";
	helpStr += "<br>◈ 배분율과 비용은 둘 중 하나만 체크할 수 있습니다.";
	helpStr += "<br>◈ 비용을 체크하면 하위 항목을 체크할 수 있습니다. 반드시 하나는 체크를 해야합니다.";
	helpStr += "<br>◈ 실비용을 체크하면 표준비용에 대해 체크할 수 없습니다.";
	helpStr += "<br>◈ 표준비용을 체크하면 실비용에 대해 체크할 수 없습니다.";
	helpStr += "<br>◈ 최소분배량은 독립적으로 체크 또는 해제할 수 있습니다.";
	helpStr += "<br>◈ 조회조건의 각 항목을 선택한 후 상단의 조회버튼을 클릭하면 하단 그리드에 제품별 공장할당 정보가 조회됩니다.";
	helpStr += "<br>◈ 하단의 제품별 공장할당 정보 그리드의 제품을 더블 클릭하면 배분율과 최소 배분량을 저장할 수 있는 POPUP 창이 실행됩니다."; 
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// combo box:품종분류2 선택시 combo box:품목 리스트 채움  
	/*function doChangeType(obj){
		var div_item = "<select name=\"selected_item\" style=\"width:350px; \"> ";	
		div_item += "<option  value=\"\">전체</option> ";
		if(obj.value == ""){
		#foreach( $condition in $plant_alloc_policy_combo_item_list)  		
    			div_item += "<option value=\"$condition.get(0)\"";
    			if("$condition.get(0)" == "$!{selected_item}")
    				div_item += " selected ";
    			div_item += ">$condition.get(1)</option>";     		
    	#end
		}else{
       	#foreach( $condition in $plant_alloc_policy_combo_item_list)  
    		if ( obj.value == "$condition.get(2)" ) { 
    			div_item += "<option value=\"$condition.get(0)\"";
    			if("$condition.get(0)" == "$!{selected_item}")
    				div_item += " selected ";
    			div_item += ">$condition.get(1)</option>"; 
    		}
    	#end
		}
   		div_item += "</select>"; 
   		divItem.innerHTML = div_item;				
	}
	doChangeType(document.frm.selected_hr_ty2);*/
	
</script> 
