############################################################
## 프로그램ID : sc_11020_dailyProductionPlanAnalysisNew_popup.vm
## 프로그램명 : 일간생산계획 분석(재구성) - 수정화면(POPUP)
## 개발자  : 정재교
## 개발일자 : 2008-11-27 목요일
##
##관련 job file : job_sinc_20_scheduling_00.xml
##
##관련 query file : query_sinc_20_scheduling_00.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2008-11-27  정재교          sc_11020_dailyProductionPlanAnalysisNew_popup.vm 개발
##
##
############################################################
## 비정상적 접근 방지 
#loginCheck() 
## 화면 resizing 을 위한 function 호출 코드
#set( $resizeFuncCallCode = "setHtmlGridAutoResize2('107', '432')" )  
##쿼리 결과 값 저장 
#set( $item_list = $!{sc_12020_dailySemifinishedProductPlanAnalysisNew_popup})

## 전달 받은 변수 저장
<input type="hidden" name="plant_id" value="$!{plant_id}">
##<input type="hidden" name="line_id" value="12020">
<input type="hidden" name="proc_id" value="$!{proc_id}">
##<input type="hidden" name="item_id" value="$!{item_id}">
<input type="hidden" name="version" value="$!{version}">
<input type="hidden" name="seq" value="1">
<input type="hidden" name="prod_dates" value="$!{prod_dates}"> 
<input type="hidden" name="shift_type" value="$!{shift_type}">
<input type="hidden" name="plant_version" value="$!{plant_version}">
<input type="hidden" name="cat_id" value="$!{cat_id}">
<input type="hidden" name="semi_version" value="$!{semi_version}">
	
<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>	
	
<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<script>
		areaBtn.innerHTML = " &nbsp; <input type=\"button\" name=\"btnSave\" value=\"  저장\" onClick=\"GoSave('')\" class=\"btn_sav_on\" > "
							+ " <input type=\"button\" name=\"btnSave\" value=\"  삭제\" onClick=\"GoDelete('sc_11020_dailySemifinishedProductPlanAnalysisNew_popup_del_comp')\" class=\"btn_del_on\" >";
	</script>
	## 조회 영역
	<tr>
		<td width="90%" valign="top"> 
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr> 
								<td width="21%" align="right" colspan="2">제품코드:</td>  
								<td width="27%" align="left" colspan="4">  
									<input type="text" name="item_id" size="10"  style="text-align:center; " class="normal" 
										#if($item_list.size() == 0) value="" #else value="$item_list.get(0).get(5)" #end readOnly>
								</td>
								<td width="8%" align="right">제품명 :</td> 
								<td width="44%" align="left" colspan="4">   
									<input type="text" name="item_name" size="100"  style="width:260px; text-align:center; " class="normal" 
										#if($item_list.size() == 0) value="" #else value="$item_list.get(0).get(6)" #end readOnly>            						
								</td>								
							</tr>
							<tr>
								<td width="15%" align="center">인터페이스 일자</td>    
								<td width="6%" align="right">재고 :</td>
								<td width="8%" align="left">   
									<input type="text" name="if_dttm_stock" size="10"  style="text-align:center; width:80px; " class="normal" 
										value="$!{if_dttm_list.get(0).get(0)}" readOnly> 
								</td>
								<td width="5%" align="right">PO :</td>
								<td width="8%" align="left">
									<input type="text" name="if_dttm_po" size="10"  style="text-align:center; width:80px; " class="normal" 
										value="$!{if_dttm_list.get(0).get(1)}" readOnly>
								</td> 
								<td width="6%" align="right">WIP :</td>
								<td width="8%" align="left">
									<input type="text" name="if_dttm_wip" size="10"  style="text-align:center; width:80px; " class="normal" 
										value="$!{if_dttm_list.get(0).get(2)}" readOnly> 
								</td>  
								<td width="14%" align="right">반제품이고계획 :</td>
								<td width="8%" align="left">
									<input type="text" name="if_dttm_sto" size="10"  style="text-align:center; width:80px; " class="normal" 
										value="$!{if_dttm_list.get(0).get(3)}" readOnly>
								</td>  
								<td width="12%" align="right">자재입고계획 :</td> 
								<td width="10%" align="left"> 
									<input type="text" name="if_dttm_msp" size="10"  style="text-align:center; width:80px; " class="normal" 
										value="$!{if_dttm_list.get(0).get(4)}" readOnly>
								</td>
							</tr> 
						</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr> 
	<input name="search_h" type="hidden" value="47"> ## search 조건 부분 높이  
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr> 
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					  
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table"> 
						<tr>
							<td>◆ 재고, PO, WIP 정보
							</td>
						</tr>
						<tr height="100px">    
							<td>
								     
								#set( $header = 	"제품 코드	!%!제품 명	!%!생산일자	!%!STOCK_IF_DTTM	!%!재고		!%!재고 가용일	!%!WORK ORDER ID!%!조/주/야	!%!계획량		!%!UOM		!%!PO_IF_DTTM	!%!PO ID	!%!PO 수량	!%!PO 완료수량	!%!PO 상태	!%!WIP_IF_DTTM	!%!WIP 수량	!%!WIP 완료수량	!%!WIP 상태" )
								#set( $headerType = "TEXT		!%!TEXT		!%!TEXT		!%!TEXT				!%!NUMBER	!%!TEXT			!%!TEXT			!%!TEXT		!%!NUMBER	!%!TEXT		!%!TEXT			!%!TEXT		!%!NUMBER	!%!NUMBER		!%!TEXT		!%!TEXT			!%!NUMBER	!%!NUMBER		!%!TEXT" )
								#set( $colwidth = 	"0			!%!0		!%!75		!%!0				!%!60		!%!75			!%!330			!%!50		!%!65		!%!40		!%!0			!%!90		!%!65		!%!65			!%!55		!%!0			!%!60		!%!65			!%!65" )
    							#set( $colalign = 	"CENTER		!%!LEFT		!%!CENTER	!%!CENTER 			!%!RIGHT	!%!CENTER		!%!CENTER		!%!CENTER	!%!RIGHT	!%!CENTER	!%!CENTER		!%!CENTER	!%!RIGHT	!%!RIGHT		!%!CENTER	!%!CENTER		!%!RIGHT	!%!RIGHT		!%!CENTER" )
								
    							#set( $data = $zlattice.getBody($!{sc_11020_dailyProductionPlanAnalysisNew_popup_01},"!%!", "/%/") )
								
								##set( $topHearders = "1/%/2/%/3/%/4/%/5/%/6/%/7/%/8/%/9/%/10/%/11/%/12/%/13" )
								##set( $topHearders = "$grid_dates.get(0).get(0)/%/$grid_dates.get(0).get(1)/%/$grid_dates.get(0).get(2)/%/$grid_dates.get(0).get(3)/%/$grid_dates.get(0).get(4)/%/$grid_dates.get(0).get(5)/%/$grid_dates.get(0).get(6)/%/$grid_dates.get(0).get(7)/%/$grid_dates.get(0).get(8)/%/$grid_dates.get(0).get(9)/%/$grid_dates.get(0).get(10)/%/$grid_dates.get(0).get(11)/%/$grid_dates.get(0).get(12)/%/$grid_dates.get(0).get(13)/%/$grid_dates.get(0).get(14)/%/$grid_dates.get(0).get(15)/%/$grid_dates.get(0).get(16)/%/$grid_dates.get(0).get(17)/%/$grid_dates.get(0).get(18)/%/$grid_dates.get(0).get(19)/%/$grid_dates.get(0).get(20)" )
								##set( $topHearderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O" )
								
								<textarea id="txt1" style="display:none;" rows="0" cols="0">  
        							<object name='grid1'
        								classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="100%"  
        								codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
            							##codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
        								<!--Necessary-->     
                                        <param name="code" value="com.zionex.t3sinc.ui.ZLattice">
                                        <param name="archive" value="zLattice.jar">
                                        <param name="headertypes" value= "$headerType">
                                        <param name="headers"  value= "$header">
                                        <param name="data" value= "$data"> 
										<param name="hasnestedsubheader" value="false"> <!-- default -false -->
										<param name="topheaderposition" value="$topHearderPosition">
										<param name="topheaders" value="$topHearders"> <!-- default -false --> 
                                        <!--Necessary for Modification Grid -->
                                        <param name="names" value= "" >
                                        <!--Necessary for Cookie -->
                                        <param name="identity" value="sc_11020_dailyProductionPlanAnalysisNew_popup_01">
                                        <!--Necessary in TYPE COMBO 
                                        <param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
                                        <!--optional - Default Value 있음-->
                                        <param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
                                        <param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
                                        <param name="showgroupingfunction" value="false">  <!-- defalut : true -->
                                        <param name="showprintingfunction" value="false">   <!-- defalut : true -->
                                        <param name="showlockingfunction" value="false"> <!-- defalut : true -->
                                        <param name="showpagingfunction" value="false"> <!-- defalut : true -->
                                        <param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="enabledragging" value="true"/> <!-- defalut : false -->
                                        <param name="groupingcolumn" value="4"> <!-- defalut : 그루핑 없음 -->
                                        <param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
                                        <param name="lockedcolumn" value="2"> <!-- defalut : 락킹 없음 -->   
                                        <param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
                                        <param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
                                        <param name="bordertype" value="PLANE"> <!-- default - PLANE -->
                                        <param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
                                        <param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0"> 									 
                                        <param name="columnwidth" value="$colwidth"> <!-- default -80 -->
                                        <param name="hasverticaltotal" value="false"> <!-- default -true -->
                                        <param name="hashorizontaltotal" value="false"> <!-- default -true -->
                                        <param name="totalrowcolor" value="eeeeee"> <!-- default ? E6E6FA -->
                                        <param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
                                        <param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
                                        <param name="hascookie" value="false"> <!-- default -false -->
                                        <param name="enableinserting" value="false"> <!-- default -false -->
                                        <param name="enabledeleting" value="false"> <!-- default -false -->
                                        <param name="enableediting" value="false"> <!-- default -false -->										
                                        <!--optional - Default Value 없음-->
                                        ##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
                                        <param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
                                        <param name="disablecolumns" value="">
                                        <param name="columnalign" value="$colalign">
                                        <param name="font" value="굴림">
                                        <param name="fontsize" value="12">
										<param name="columnheight" value="40"> 
										<param name="headertype" value="HORIZONTAL_HEADER">
        							</object>
        						</textarea>  
								
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
							</td>
						</tr>
						<tr height="5px"><td></td></tr> 
						<tr> 
							<td>◆ 반제품 이고 계획 및 자재 입고 계획 정보
							</td>
						</tr>
						<tr height="140px">    
							<td>	        
								    
								#set( $header = 	"반제품 코드	!%!반제품 명	!%!STO_IF_DTTM	!%!생산공장		!%!수송일		!%!수송량		!%!UOM		!%!MS_IF_DTTM	!%!STORAGE\nLOCATION	!%!입고\n예정일	!%!입고 수량		!%!UOM		!%!PO/PR\n구분" )
								#set( $headerType = "TEXT		!%!TEXT		!%!TEXT			!%!TEXT			!%!TEXT		!%!NUMBER	!%!TEXT		!%!TEXT			!%!TEXT					!%!TEXT			!%!NUMBER		!%!TEXT		!%!TEXT		 " ) 
								#set( $colwidth = 	"65			!%!100		!%!0			!%!75			!%!75		!%!65		!%!40		!%!0			!%!70					!%!75			!%!65			!%!0		!%!60		 " )
    							#set( $colalign = 	"CENTER		!%!LEFT 	!%!RIGHT		!%!CENTER		!%!CENTER	!%!RIGHT	!%!CENTER	!%!CENTER		!%!CENTER				!%!CENTER		!%!RIGHT		!%!CENTER	!%!CENTER	 " )
								
    							#set( $data = $zlattice.getBody($!{sc_11020_dailyProductionPlanAnalysisNew_popup_02},"!%!", "/%/") )
								  
								##set( $topHearders = "1/%/2/%/3/%/4/%/5/%/6/%/7/%/8/%/9/%/10/%/11/%/12/%/13" )
								##set( $topHearders = "$grid_dates.get(0).get(0)/%/$grid_dates.get(0).get(1)/%/$grid_dates.get(0).get(2)/%/$grid_dates.get(0).get(3)/%/$grid_dates.get(0).get(4)/%/$grid_dates.get(0).get(5)/%/$grid_dates.get(0).get(6)/%/$grid_dates.get(0).get(7)/%/$grid_dates.get(0).get(8)/%/$grid_dates.get(0).get(9)/%/$grid_dates.get(0).get(10)/%/$grid_dates.get(0).get(11)/%/$grid_dates.get(0).get(12)/%/$grid_dates.get(0).get(13)/%/$grid_dates.get(0).get(14)/%/$grid_dates.get(0).get(15)/%/$grid_dates.get(0).get(16)/%/$grid_dates.get(0).get(17)/%/$grid_dates.get(0).get(18)/%/$grid_dates.get(0).get(19)/%/$grid_dates.get(0).get(20)" )
								##set( $topHearderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O" )
								  
								<textarea id="txt2" style="display:none;" rows="0" cols="0">   
        							<object name='grid2'
        								classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="100%" 
        								codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
            							##codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
        								<!--Necessary-->     
                                        <param name="code" value="com.zionex.t3sinc.ui.ZLattice">
                                        <param name="archive" value="zLattice.jar">
                                        <param name="headertypes" value= "$headerType">
                                        <param name="headers"  value= "$header">
                                        <param name="data" value= "$data"> 
										<param name="hasnestedsubheader" value="false"> <!-- default -false -->
										<param name="topheaderposition" value="$topHearderPosition">
										<param name="topheaders" value="$topHearders"> <!-- default -false --> 
                                        <!--Necessary for Modification Grid -->
                                        <param name="names" value= "" >
                                        <!--Necessary for Cookie -->
                                        <param name="identity" value="sc_11020_dailyProductionPlanAnalysisNew_popup_02">
                                        <!--Necessary in TYPE COMBO 
                                        <param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
                                        <!--optional - Default Value 있음-->
                                        <param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
                                        <param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
                                        <param name="showgroupingfunction" value="false">  <!-- defalut : true -->
                                        <param name="showprintingfunction" value="false">   <!-- defalut : true -->
                                        <param name="showlockingfunction" value="false"> <!-- defalut : true -->
                                        <param name="showpagingfunction" value="false"> <!-- defalut : true -->
                                        <param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="enabledragging" value="true"/> <!-- defalut : false -->
                                        <param name="groupingcolumn" value="4"> <!-- defalut : 그루핑 없음 -->
                                        <param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
                                        <param name="lockedcolumn" value="2"> <!-- defalut : 락킹 없음 -->   
                                        <param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
                                        <param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
                                        <param name="bordertype" value="PLANE"> <!-- default - PLANE -->
                                        <param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
                                        <param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0"> 									 
                                        <param name="columnwidth" value="$colwidth"> <!-- default -80 -->
                                        <param name="hasverticaltotal" value="false"> <!-- default -true -->
                                        <param name="hashorizontaltotal" value="false"> <!-- default -true -->
                                        <param name="totalrowcolor" value="eeeeee"> <!-- default ? E6E6FA -->
                                        <param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
                                        <param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
                                        <param name="hascookie" value="false"> <!-- default -false -->
                                        <param name="enableinserting" value="false"> <!-- default -false -->
                                        <param name="enabledeleting" value="false"> <!-- default -false -->
                                        <param name="enableediting" value="false"> <!-- default -false -->										
                                        <!--optional - Default Value 없음-->
                                        ##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
                                        <param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
                                        <param name="disablecolumns" value="">
                                        <param name="columnalign" value="$colalign">
                                        <param name="font" value="굴림">
                                        <param name="fontsize" value="12">
										<param name="columnheight" value="40"> 
										<param name="headertype" value="HORIZONTAL_HEADER">
        							</object>
        						</textarea>  
								
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt2"></script>
							</td>
						</tr>
					</table> 
					 
					<table height="5px"><tr><td></td></tr></table>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>    
							<td width="74%">#page_info2()</td> 
							<td width="15%" align="right"> 생산량 합계 : </td>
							<td width="8%" align="right"><div id="qtyTot">0</div><input type="hidden" name="qty_tot" value="0">
							</td>
							<td width="3%"></td> 
						</tr>
					</table>
					
					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0" ><tr><td>
						##우측상단헤더
						#set( $topLine1 = 3 )##번호
						#set( $topLine2 = 3 )##전체 
						##set( $topLine3 = 9 )##공장
						#set( $topLine4 = 15 )##작업장 
						#set( $topLine5 = 18 )##계획 오더 번호
						#set( $topLine6 = 7 )##생산일장
						#set( $startDate = 6 )##시작일시-날짜 
						#set( $startTime = 5 )##시작일시-시간
						#set( $topLine7 = $startDate + $startTime )##시작일시
						#set( $topLine8 = 4 )##SHIFT
						#set( $topLine9 = 5 )##생산량
						#set( $topLine10 = 18 )##계획 그룹핑 WO_ID
						#set( $topLine11 = 4 )##CAPA MC
						#set( $topLine12 = 4 )##CAPA 수량
						#set( $topLine13 = 4 )##UOM
						#set( $topLine14 = 4 )##MC_QTY
						<div id="topLine" style="height:40px; width:626px;overflow:hidden;">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead>	
									<tr height="40px"> 
										<td width="${topLine1}%">번호</td>
										<td width="${topLine2}%">전체<br><input type="checkbox" name="checked_all" value="N" onClick="checkAll(this);"/></td>
										##<td width="${topLine3}%">공장</td>
										<td width="${topLine4}%">작업장</td>
										<td width="${topLine5}%">계획 오더 번호</td> 
										<td width="${topLine6}%">생산 일자</td>
										<td width="${topLine7}%">시작 일시</td>  
										<td width="${topLine8}%">SHIFT</td>
										<td width="${topLine9}%" >생산량</td>
										<td width="${topLine10}%">계획 그룹핑 WO_ID</td>
										<td width="${topLine11}%">CAPA MC</td>
										<td width="${topLine12}%">CAPA 수량</td> 
										<td width="${topLine13}%" >UOM</td>	
										<td width="${topLine14}%" class="right">MC QTY</td>
									</tr>									 
			   					 </thead>
			   				</table>
			   			</div>
					</td></tr>	
					<tr>
					<td valign="top"> 
						## 우측 하단 로우
						<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-y:scroll; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="main_tbody">
								#if( $item_list.size() == 0)
									<tr height="1"><td colspan="6" width="100%"></td></tr>
								#end
								#foreach( $tr in $item_list )    
									<tr id="main_tr" height="32px" onMouseOver="bgOver2(this); " onMouseOut="bgOut2(this); ">
										## 번호
										<td width="${topLine1}%" align="center" style="background-color:${search_bgcolor}; ">
											<a id="divRowNo">$velocityCount</a>
										</td>	
										## 체크박스 
										<td width="${topLine2}%" align="center">
											<input name="check_modify" type="checkbox" value="N" class="normal" style="" onClick="checkEvent(this)">
											<input name="checkModify" type="hidden" value="N">
										</td>
										##공장
										##<td width="${topLine3}%" align="left" >
											##<a id="divProc">&nbsp;$tr.get(1)</a>
										##</td>
										##작업장(8)(9)
										<td width="${topLine4}%" align="left" onClick="setEditMode(this); ">
											<a id="divProc">&nbsp;$tr.get(9)</a><select 
												name="input_proc_id" onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "  
												style="width:100%; text-align:center; display:none; " tabindex="0" >
													<optin value="$tr.get(8)" selected >$tr.get(9)</optin>
												#foreach( $condition in $semi_plnat_item_proc_list )
													#if("$condition.get(0)" == "$!{plant_id}")
													<option value="$condition.get(2)" #if( $!{proc_id} == "$condition.get(2)" ) selected #end>$condition.get(3)</option>
													#end
												#end
											</select>
										</td>
										## 계획 오더 번호(4) 
										<td width="${topLine5}%" align="center">
											<a id="divWoId">$tr.get(4)</a> 
											<input type="hidden" name="input_wo_id" value="$tr.get(4)">
										</td>
										
										##생산일자(10)
										<td width="${topLine6}%" align="center" >
											<a id="divProdDate">$tr.get(10)</a><input
												type="text" name="input_prod_date" class="normal" size="100" value="$tr.get(10)" tabindex="0"
												onFocusOut="setViewMode(this); "   onKeyDown="moveNextBox(this); "
												style="width:100%; text-align:center; display:none; " onDblClick="this.select(); ">
										</td>
										## 시작 일시  
										<td width="${startDate}%" align="center" onClick="setEditMode(this); ">
											<a id="divStartDttmDate">$tr.get(12)</a><input
												type="text" name="input_start_dttm_date" class="normal" size="100" value="$tr.get(12)" tabindex="1"
												onFocusOut="setViewMode(this); "   onKeyDown="moveNextBox(this); "
												style="width:100%; text-align:center; display:none; " onDblClick="this.select(); ">
										</td>  
										<td width="${startTime}%" align="center" onClick="setEditMode(this); ">
											<a id="divStartDttmTime">$tr.get(13)</a><input
												type="text" name="input_start_dttm_time" class="normal" size="100" value="$tr.get(13)" tabindex="2"
												onFocusOut="setViewMode(this); "   onKeyDown="moveNextBox(this); "
												style="width:100%; text-align:center; display:none; " onDblClick="this.select(); ">
										</td>
										## shift
										<td width="${topLine8}%" align="right" > 
											<a id="divShift">#if($tr.get(11) == "1") 조
														     #elseif($tr.get(11) == "3") 주
															 #elseif($tr.get(11) == "5") 야
															 #end&nbsp;</a> 
										</td>
										##생산량
										<td width="${topLine9}%" align="right" onClick="setEditMode(this); "> 
											<a id="divQty">$tr.get(15)&nbsp;</a><input
												type="text" name="qty" class="normal" size="100" value="$tr.get(15)" tabindex="3"
												onFocusOut="setViewMode(this); "   onKeyDown="moveNextBox(this); "
												style="width:100%; text-align:right; display:none; " onDblClick="this.select(); "> 
											##<input type="hidden" name="qty" value="$tr.get(15)">
										</td>
										##GRP_WO_ID 
										<td width="${topLine10}%" align="center" >    
											<a id="divGrpWoId">$tr.get(21)</a> 
											<input type="hidden" name="input_grp_wo_id" value="$tr.get(21)">
										</td>
										## CAPA MC
										<td width="${topLine11}%" align="center" >    
											<a id="divCapaMc">$tr.get(22)</a> 
										</td>
										## CAPA 수량
										<td width="${topLine12}%" align="center" >    
											<a id="divCapaQty">$tr.get(23)</a> 
										</td>
										## UOM
										<td width="${topLine13}%" align="center" >    
											<a id="divCapaUom">$tr.get(24)</a> 
										</td>
										## MC_QTY
										<td width="${topLine14}%" align="center" class"right">
											<a id="divMcQty">$tr.get(26)</a>
										</td>
										## DATA 저장 변수
										<input type="hidden" name="s_cat_id" value="$tr.get(0)">
										<input type="hidden" name="s_plant_id" value="$tr.get(1)">
										<input type="hidden" name="s_version" value="$tr.get(2)">
										<input type="hidden" name="s_seq" value="$tr.get(3)">
										<input type="hidden" name="s_wo_id" value="$tr.get(4)">
										<input type="hidden" name="s_item_id" value="$tr.get(5)">
										<input type="hidden" name="s_line_id" value="$tr.get(7)">
										<input type="hidden" name="s_proc_id" value="$tr.get(8)">
										<input type="hidden" name="s_prod_dates" value="$tr.get(10)">
										<input type="hidden" name="s_shift_type" value="$tr.get(11)">
										<input type="hidden" name="s_start_dttm" value="$tr.get(12)">													
									</tr>
								#end
								</tbody>
							</table>
						</div>
					</td></tr></table> 	
					
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
						
					<input type="hidden" name="_moon_service">
					<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 수정 할 라인의 좌측 체크박스를 선택하고 시작일시 항목을 수정 후 상단의 저장 버튼을 클릭하면 변경된 값이 저장이<br>&nbsp;&nbsp;&nbsp;&nbsp;됩니다.";
	helpStr += "<br>◈ 그리드의 헤더(타이틀) 중, 전체 항목의 체크 박스를 선택하면 모든 라인의 체크 박스를 선택/해제 할 수 있습니다.";
	helpStr += "<br>◈ 저장시 체크박스가 선택이된 라인만이 저장이 됩니다.";
	helpStr += "<br>◈ 체크박스가 선택이된 라인의 생산량들의 합계가 우측 상단의 생산량 합계 부분에 표시 됩니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
		
</script> 
