############################################################
## 프로그램ID      : sc_13010_set_prod_order_list.vm
## 프로그램명      : 유통가송 생산오더 관리
## 개발자          : 권용찬
## 개발일자        : 2010-11-18
##
## 관련 job file   : job_sinc_10_inventoryPlanning_04.xml
## 관련 query file : query_sinc_10_inventoryPlanning_04.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2009-10-13  권용찬      create
##
############################################################


## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '130')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 등록/수정 화면 이동한 후, 본 화면으로 이동할 때 조회조건을 기억하기 위한 parameter
<input type="hidden" name="cd_grp_pre" value="$!{cd_grp}">
<input type="hidden" name="perpage_pre" value="${_moon_perpage}">
<input type="hidden" name="pagenumber_pre" value="$!{_moon_pagenumber}">
	
<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
  GridCellDblClick(strColumnKey, nRow);
</script>
	
	

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## 기능 버튼 영역
    <tr> 
        <td height="25" align="right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
                <tr>
                    <td align="right">
                    </td>                    
					<td align="right">
                        #button("search")
							&nbsp;&nbsp;
						##<input type="button" name="btnDelete" 	value="  삭제" onClick="GoDelete();" class="btn1_on" >       
							&nbsp;&nbsp;
						<input type="button" name="btnSave" 	value="  등록" onClick="GoReg();" class="btn_reg_on" >
							&nbsp;&nbsp;
						##<input type="button" name="btnDel" 	value="  삭제" onClick="GoDelete();" class="btn_del_on" >
							&nbsp;&nbsp;  
						<input type="button" name="btnIf" 		value="  ERP 전송" onClick="GoIf();" class="btn2_on" >
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
    ## 조회 영역
    <tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                    <td width="100%">
                        <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                            <tr>
								<td width="350px" align="left">
    								계획수립일자  :&nbsp;
									#date_sole_no_title("start_date" "10" "normal" "btnS" "$date.get('yyyy-MM-dd')")
									~ 
									##date_sole_no_title("end_date" "10" "normal" "btnE" "$date.get('yyyy-MM-dd')")
									#date_sole_no_title("end_date" "10" "normal" "btnE" "$commonUtil.toDate($date.get('yyyy-MM-dd'),'YYYY-MM-DD','DAY',40)")
									   
								</td>
            					<td width="60px" align="right">구분  :</td>    
            					<td width="80px">									 
            						<select name="idu_flag" style="width:80px; ">
            							<option value="T">전체</option>
            							<option value="I" #if($!{idu_flag} == "I") selected #else #end >생성</option>
            							<option value="D" #if($!{idu_flag} == "D") selected #else #end >삭제</option>
            							##<option value="HAWA" #if($!{item_type} == "HAWA") selected #else #end >상품</option>
            						##foreach( $condition in $do_cdc_id_and_name_list )  
            							##<option value="$condition.get(0)" #if($!{selected_src_loc} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
            						##end
            						</select>	 	  							  
            					</td> 
								<td>
            						##담당
            						<select name="scm_charge" >
            							#foreach( $condition in $rp_01160_SCM_CHARGE_list )
            								<option value="$condition.get(0)" #if( "$!{_user_id}" == "$condition.get(0)" ) selected #end  >$condition.get(1)</option>
            							#end
            						</select>								
								</td>
            					<td width="80px">									 
            						<select name="if_flag" style="width:80px; ">
            							<option value="T">전체</option>
            							<option value="N" #if($!{if_flag} == "N") selected #else #end >전송전</option>
            							##<option value="HAWA" #if($!{item_type} == "HAWA") selected #else #end >상품</option>
            						##foreach( $condition in $do_cdc_id_and_name_list )  
            							##<option value="$condition.get(0)" #if($!{selected_src_loc} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
            						##end
            						</select>	 	  							  
            					</td>
								<td>
								</td>
								<td>
								</td>
                            </tr>
                        </table>   
                    </td>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
            </table>
        </td> 
    </tr>

    <input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
    ## TAB 영역
    <tr>
        <td valign="top">
        ## tab 좌측 여백
        ##tabLeft()               
            
            <table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>                    

            <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                <tr>
                    <td align="left" width="100%" >
                        <script>initWiseGrid("WiseGrid", "100%", "100%");</script>
                    </td>
				</tr>
            </table> 
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
        </td>
    </tr>
</table>

<script>
    
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
