############################################################
## 프로그램ID : sc_11020_dailyProductionPlanAnalysisNewItem_reg.vm
## 프로그램명 : 일간생산계획 분석(재구성) - 등록 화면(POPUP)
## 개발자  : 정재교
## 개발일자 : 2008-11-27 목요일
##
##관련 job file : job_sinc_20_scheduling_00.xml
##
##관련 query file : query_sinc_20_scheduling_00.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2008-11-27  정재교          sc_11020_dailyProductionPlanAnalysisNewItem_reg.vm 개발
##
##
############################################################
## 비정상적 접근 방지 
#loginCheck() 
## 화면 resizing 을 위한 function 호출 코드 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize('42', '92')" )      

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

<input type="hidden" name="seq" value="1">
<input type="hidden" name="plant_version" value="$!{plant_version}">
<input type="hidden" name="date_form" value="$!{date_form}">

<input type="hidden" name="plant_list" value="$!{plant_list}">
<input type="hidden" name="version_list" value="$!{version_list}">
<input type="hidden" name="stored_item" value="$!{item_id}">
	
<input type="hidden" name="input_cat_id" value="SS"/>
<input type="hidden" name="input_seq" value="1"/>
<input type="hidden" name="semi_version" value="$!{semi_version}">

	
<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<script>
		areaBtn.innerHTML = " &nbsp; <input type=\"button\" name=\"btnSave\" value=\"  저장\" onClick=\"GoSave('sc_12020_dailySemifinishedProductPlanAnalysisNewItem_reg_save01_comp')\" class=\"btn_sav_on\" >";
	</script>
	## 조회 영역
	<tr>
		<td width="90%" valign="top"> 
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr> 								
							</tr> 
						</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr> 
	<input name="search_h" type="hidden" value="46"> ## search 조건 부분 높이  
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>
								<img src="/nscm/sinc/template/basic/skin/nongshim/images/common/dot_sub6.gif" width="16" height="13">Total :
								<span id="areaTot" class="f_color_o b">1</span>
							</td> 
						</tr>
					</table>
					
					#set( $topLeft1 = 30 )##번호
					#set( $topLeft2 = 40 )##추가/삭제
					#set( $topLeft3 = 100 )##공장        
					#set( $topLeft4 = 185 )##작업장  
					#set( $topLeft5 = 500 )##제품    
					<input type="hidden" name="top_left1" value="$!{topLeft1}px"/>
					<input type="hidden" name="top_left2" value="$!{topLeft2}px"/>
					<input type="hidden" name="top_left3" value="$!{topLeft3}px"/>
					<input type="hidden" name="top_left4" value="$!{topLeft4}px"/>
					<input type="hidden" name="top_left5" value="$!{topLeft5}px"/>
					#set( $leftWidth = $topLeft1 + $topLeft2 + $topLeft3 + $topLeft4 + $topLeft5 ) ## 
					#set( $height = 35 )##높이
					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0" ><tr><td>
						<div id="topLeft" style="height:$!{height}px; width:$!{leftWidth}px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead> 
									<tr height="$!{height}px">   
										<td width="$!{topLeft1}px">번호</td>		## 1
										<td width="$!{topLeft2}px" onClick="addRow(this); " id="areaAdd" 
											onMouseOver="this.style.cursor='pointer'; " onMouseOut="this.style.cursor=''; ">추가<br>삭제</td> ## 2
										<td width="$!{topLeft3}px">공장</td>		## 3
										<td width="$!{topLeft4}px">작업장</td>	## 4
										<td width="$!{topLeft5}px">제품</td>		## 5										
									</tr> 
			   					 </thead>
			   				</table>
			   			</div>
					</td>  
					<td>  
						#set( $topLine1 = 60 )##생산일자       
						#set( $topLine2 = 45 )##shift 
						##set( $sDate = 60 )
						##set( $sTime = 50 )
						#set( $topLine3 = $sDate + $sTime )##시작 일시
						##set( $eDate = 60 )
						##set( $eTime = 50 ) 
						#set( $topLine4 = $eDate + $eTime )##종료 일시
						#set( $topLine5 = 60 )##수량 
						<input type="hidden" name="top_line1" value="$!{topLine1}px"/>
						<input type="hidden" name="top_line2" value="$!{topLine2}px"/>
						<input type="hidden" name="s_date" value="$!{sDate}px"/>
						<input type="hidden" name="s_time" value="$!{sTime}px"/>
						<input type="hidden" name="e_date" value="$!{eDate}px"/>
						<input type="hidden" name="e_time" value="$!{eTime}px"/>
						<input type="hidden" name="top_line5" value="$!{topLine5}px"/>
						<input type="hidden" name="top_line7" value="$!{topLine7}px"/>
						#set( $rightWidth = $topLine1 + $topLine2 + $topLine3 + $topLine4 + $topLine5 ) ## 
						<div id="topLine" style="height:$!{height}px; width:$!{rightWidth}px; overflow:hidden;">  
							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead>  
									<tr height="$!{height}px">	  
										<td width="$!{topLine1}px">생산 일자</td>	## 4
										<td width="$!{topLine2}px">SHIFT</td>
										##<td width="$!{topLine3}px">시작 일시 </td>				## 1
										##<td width="$!{topLine4}px">종료 일시</td>					## 2
										<td width="$!{topLine5}px">수량</td>						## 3
									</tr>									
			   					 </thead>
			   				</table>
			   			</div>
					</td></tr>	
					<tr><td valign="top">
						<div id="leftDisplay" style="width:$!{leftWidth}px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="left_tbody"> 
									<tr id="left_tr" height="24px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 번호 
										<td width="$!{topLeft1}px" align="center" style="background-color:${search_bgcolor}; ">
											<a id="divRowNo">1</a>
										</td>
										## 추가/삭제
										<td width="$!{topLeft2}px" align="center">
											<input name="btnAddRow" type="button" value="O" class="button1_1"
												style="width:17px; text-align:center; font-weight:bold; " onClick="addRow(this); "
												onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'"><input
												name="btnDelRow" type="button" value="X" class="button1_1"
												style="width:17px; text-align:center; font-weight:bold; " onClick="delRow(this); "
												onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">
										</td>
										## 공장
										<td width="$!{topLeft3}px" align="center" >
											<select 
												name="input_plant_id" onKeyDown="moveNextBox(this);" tabindex="1"
												onChange="doChangeProc(this); " style="width:100%; padding-left:5px; ">
												<option value="">선택</option> 
        									#foreach( $condition in $semi_all_plant_list )  
        										<option value="$condition.get(0)" #if( "$!{input_plant_id}" == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
        									#end
											</select> 	
											<input type="hidden" name="input_version" value="$semi_version">
										</td>
										## 작업장
										<td width="$!{topLeft4}px" align="center">
											<a id="divProcSelect" style="width:100%; " ><select
												name="input_proc_id" onKeyDown="moveNextBox(this); " style="width:100%; padding-left:5px; " tabindex="2" >
												<option value="">선택</option>
											</select></a>												
										</td>										
										## 제품
										<td width="$!{topLeft5}px" align="center" >  
											<a id="divItem"><select
												name="input_item_id" onKeyDown="moveNextBox(this); " style="width:100%; padding-left:5px; " tabindex="3" >
												<option value="">선택</option>
											</select></a>											
										</td>										
									</tr>
								</tbody> 
							</table> 
						</div> 
					</td>  
					<td valign="top">  
						<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-y:scroll; overflow-x:scroll; " onscroll="scrollX(); scrollY(); ">
							<table width="$!{rightWidth}px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="main_tbody"> 
									<tr id="main_tr" height="24px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 생산일자  
										<td width="$!{topLine1}px" align="center" >
											<input type="text" name="input_prod_dates" class="normal" value=""
												onChange="chkDate(this,'8'); " style="width:100%; border:0px; text-align:center; " tabindex="4" >
										</td>
										## SHIFT
										<td width="$!{topLine2}px" align="center" > 
											<select name="input_shift_type" style="width:100%; " tabindex="5" >
        										<option value="1" #if( "$!{input_shift_type}" == "1") selected #end>조</option>
        										<option value="3" #if( "$!{input_shift_type}" == "3") selected #end>주</option>
        										<option value="5" #if( "$!{input_shift_type}" == "5") selected #end>야</option>
        									</select>											
										</td>
										## 시작 일시
										## date
										#*<td width="$!{sDate}px" align="center" >
											<input type="text" name="input_start_date" class="normal" value=""
												onChange="dateFormatCheck(this); " style="width:100%; border:0px; text-align:center; " tabindex="6" >
										</td>*#
										## time
										#*<td width="$!{sTime}px" align="center" >
											<input type="text" name="input_start_time" class="normal" value=""
												onChange="timeFormatCheck(this); " style="width:100%; border:0px; text-align:center; " tabindex="7" >
										</td>*#
										## 종료 일시
										## date
										#*<td width="$!{eDate}px" align="center" >
											<input type="text" name="input_end_date" class="normal" value=""
												onChange="dateFormatCheck(this); " style="width:100%; border:0px; text-align:center; " tabindex="8" >
										</td>*#
										## time
										#*<td width="$!{eTime}px" align="center" >
											<input type="text" name="input_end_time" class="normal" value=""
												onChange="timeFormatCheck(this); " style="width:100%; border:0px; text-align:center; " tabindex="9" >
										</td>*#
										## 수량
										<td width="$!{topLine5}px" align="right" >
											<input type="text" name="input_shift_qty" class="normal" value=""
												onChange="checkNum(this,'BLANK_INT_UP'); " style="width:100%; border:0px; text-align:right; padding-right:5px; " tabindex="10" >
											<input type="hidden" name="input_ord_no" value=""/>
											<input type="hidden" name="input_ord_item_no" value=""/>
										</td>										
									</tr>
								</tbody>
							</table>
						</div>
					</td></tr></table>
					
					<table border="0" width="100%" cellpadding="0" cellspacing="0" height="5px"><tr><td></td></tr></table>
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
						
					<input type="hidden" name="_moon_service" value="$!{_moon_service}">
					<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
					<input type="hidden" name="_user_id" value="$!{_user_id}">
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">
						
						
					## 공장 select box string 생성
					#set( $plantLocStr = "<option value=\"\">선택</option>" )
					#foreach( $sel in $semi_all_plant_list )
						#set( $plantLocStr = "$!{plantLocStr}<option value=\"${sel.get(0)}\">${sel.get(1)}</option>" )
					#end
					#set( $plantLocStr = "<option value=''>선택</option>" )
					#foreach( $sel in $semi_all_plant_list )
						#set( $plantLocStr = "$!{plantLocStr}<option value='${sel.get(0)}'>${sel.get(1)}</option>" )
					#end
					<input type="hidden" name="plant_loc_sel_str" value="$!{plantLocStr}">
																				
				</div>
			</div> 
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 수정 할 라인의 좌측 체크박스를 선택하고 시작일시 항목을 수정 후 상단의 저장 버튼을 클릭하면 변경된 값이 저장이<br>&nbsp;&nbsp;&nbsp;&nbsp;됩니다.";
	helpStr += "<br>◈ 그리드의 헤더(타이틀) 중, 전체 항목의 체크 박스를 선택하면 모든 라인의 체크 박스를 선택/해제 할 수 있습니다.";
	helpStr += "<br>◈ 저장시 체크박스가 선택이된 라인만이 저장이 됩니다.";
	helpStr += "<br>◈ 체크박스가 선택이된 라인의 생산량들의 합계가 우측 상단의 생산량 합계 부분에 표시 됩니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	//transferChar1();
	
	function doChangeVersion(obj){
		var rowIdx = obj.parentNode.parentNode.rowIndex;
		var tableLen = left_tbody.rows.length;
		var idx = obj.options.selectedIndex-1;
		var versionList = document.frm.version_list.value.split(',');
		
		if(document.frm.input_version[rowIdx] && tableLen > 1)
			document.frm.input_version[rowIdx].value = versionList[idx];
		else
			document.frm.input_version.value = versionList[idx];
		//alert(idx);
		//doChangeProc(obj);
	}
	
	// combo box:작업장 리스트 채움
	function doChangeProc(plant){
		
		var idx = plant.parentNode.parentNode.rowIndex;
		var tableLen = left_tbody.rows.length;
		var div_proc = "<select name=\"input_proc_id\" style=\"width:100%; \" onChange=\"doChangeItemList(this); \"> "; 
		div_proc += "<option  value=\"\">선택</option> ";    
	#foreach( $condition in $semi_proc_list )
		if ( (plant.value == "$condition.get(0)")) { 
			div_proc += "<option value=\"$condition.get(2)\"" 
				if("$condition.get(2)" == "$!{input_proc_id}"){
					div_proc += " selected ";
				}
			div_proc += ">$condition.get(3)</option>"; 
		}
	#end 
		div_proc += "</select>";
		if(divProcSelect[idx] && tableLen > 1)
			divProcSelect[idx].innerHTML = div_proc;
		else
			divProcSelect.innerHTML = div_proc;
		
		//doChangeVersion(plant);
		
	}
	//doChangeProc(document.frm.input_plant_id);
	
	if(document.frm.input_proc_id.value != ""){
		doChangeItemList(document.frm.input_proc_id);
	}
	
</script> 
