/* CSS Document */

/* 게시판스타일 */

.t_head{
	border-top: 1px solid #9cc5d1;
	border-bottom: 1px solid #d0dfdf;
	background-color:#ebf2f4;
	color:#5098ac;
	font-weight:bold;
	text-align:center;
	padding:4px 0px 1px 0px;
	}

.t_head1{
	border-top: 1px solid #9cc5d1;
	border-left: 1px solid #9cc5d1;
	background-color:#ebf2f4;
	color:#5098ac;
	font-weight:bold;
	text-align:center;
	}

.t_head_tl{
	border-top: 1px solid #9cc5d1;
	border-left: 1px solid #9cc5d1;
	background-color:#ebf2f4;
	color:#5098ac;
	font-weight:bold;
	text-align:center;
}

.t_head_l{
	border-left: 1px solid #9cc5d1;
	background-color:#9cc5d1;
	background-color:#ebf2f4;
	color:#5098ac;
	font-weight:bold;
	text-align:center;
}
	
.t_head_b{
	border-bottom: 1px solid #d0dfdf;
	background-color:#ebf2f4;
	color:#5098ac;
	font-weight:bold;
	text-align:center;
}

.t_wrt{
	border-top: 1px solid #9cc5d1;
	border-bottom: 1px solid #9cc5d1;
	background-color:#f5f5f5;
	padding:10px;
}

.t_line{
	border-bottom: 1px solid #d0dfdf;
	font-size:12px;
	height:28px;
	text-align:center;
}

.t_line_b{
	border-bottom: 1px solid #d0dfdf;
	font-size:12px;
	text-align:center;
	padding:4px 0px 1px 0px;	
}


.t_line_lb{
	border-left: 1px solid #d0dfdf;
	border-bottom: 1px solid #d0dfdf;
	font-size:12px;
	text-align:center;
	padding:4px 0px 1px 0px;	
}

.t_bottom{
	background-color:#eff4f4;
	height:2px;
}

.t_bg_g {
	background-color:#f9f8f5;
}

.t_bg_c {
	background-color:#ebf2f4;
}

.bg_line_c {
	background:url(../images/bg_line_c.gif) right no-repeat;
}

.bg_line_g {
	background:url(../images/bg_line_g.gif) right no-repeat;
}


/* 서브메뉴레이어 스타일 */
.bg_sub {
	background:url(../images/common/bg_layer_b.png) left repeat-y;
}

.bg_sub_m {
	background:url(../images/common/bg_layer_t.png) left top no-repeat;
	padding: 9px 25px 30px 21px;
}

.s_line{
	border-bottom: 1px solid #c4dde9;
	font-size:12px;
	height:20px;
	padding:3px 0 2px 0;
}

/* 여백 */
.pd_left5 {padding-left:5px;}
.pd_left10 {padding-left:10px;}
.pd_left15 {padding-left:15px;}
.pd_left20 {padding-left:20px;}
.pd_left25 {padding-left:25px;}

.pd_right3 {padding-right:3px;}
.pd_right5 {padding-right:5px;}
.pd_right10 {padding-right:10px;}
.pd_right10 {padding-right:10px;}
.pd_right15 {padding-right:15px;}
.pd_right20 {padding-right:20px;}
.pd_right25 {padding-right:25px;}

.pd_top2 {padding-top:2px;}
.pd_top3 {padding-top:3px;}
.pd_top5 {padding-top:5px;}
.pd_top10 {padding-top:10px;}
.pd_top15 {padding-top:15px;}
.pd_top20 {padding-top:20px;}

.pd_bot2 {padding-bottom:2px;}
.pd_bot5 {padding-bottom:5px;}
.pd_bot10 {padding-bottom:10px;}
.pd_bot15 {padding-bottom:15px;}
.pd_bot20 {padding-bottom:20px;}

.a_left {text-align:left;}

/* 검색스타일  */
#div_bar {border:2px solid #d0d0d0; background-color:#f2f2f2;text-align:center;}

#div_cell {border:1px solid #e5d4ac; background-color:#fcf0d3;padding : 5px 15px 1px 15px;}

/* 농심 기본 테이블 스타일 */
.ns-table {
	border: 0px Solid;
	cellspacing:0;
	cellpadding:0;
}

.ns-table thead {
	background-color:#faf8fd;
	font-weight:bold;
}

.ns-table thead td {
	color:#7259b1;
	border-top:2px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:1px solid #9e83d0;
	text-align:center;
	text-align:center;
}

.ns-table thead td.right {
	color:#7259b1;
	border-top:2px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:0px solid #9e83d0;
	text-align:center;
	padding:3px 0;
	text-align:center;
}

.ns-table thead td.mid {
	color:#7259b1;
	border-top:0px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:1px solid #9e83d0;
	text-align:center;
}

.ns-table thead td.midright {
	color:#7259b1;
	border-top:0px solid #9e83d0;
	border-bottom:1px solid #9e83d0;
	border-left:0px solid #9e83d0;
	border-right:0px solid #9e83d0;
	text-align:center;
	padding:3px 0;
}

.ns-table tbody td {
	color:#2c2c2c;
	border-top:0px solid #e6dee6;
	border-bottom:1px solid #e6dee6;
	border-left:0px solid #e6dee6;
	border-right:1px solid #e6dee6;
}

.ns-table tbody td.right {
	color:#2c2c2c;
	border-top:0px solid #e6dee6;
	border-bottom:1px solid #e6dee6;
	border-left:0px solid #e6dee6;
	border-right:0px solid #e6dee6;
}

.ns_scroll {
	overflow:auto;
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#9e83d0;
	scrollbar-highlight-color:#9e83d0;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#9e83d0;
}
