## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setTabAutoResize('90')" )

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#toolbar($_moon_toolbar "" "" "moon_board_admin_modify" "moon_board_admin_delete")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr style="display:none; ">
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="10%" align="right">
									&nbsp;
            					</td>
            					<td width="90%" align="left">
									&nbsp;
            					</td>
            				</tr> 
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="0"> ## search 조건 부분 높이 
	##<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>						
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table cellspacing="0" width="100%" class="normal-table2">									
						<tr>
							<td class="td1" width="25%" align="right">테이블 이름 &nbsp;</td>
							<td class="td2">&nbsp;$!{moon_board_admin_detail.get(0).get(0)}</td>
						</tr>
						<tr> 
							<td class="td1" align="right">테이블 설명 &nbsp;</td>
							<td class="td2">&nbsp;$!{moon_board_admin_detail.get(0).get(1)}</td>
						</tr>
						<tr> 
							<td class="td1" align="right">등록수 &nbsp;</td>
							<td class="td2">&nbsp;$!{moon_board_admin_detail.get(0).get(5)}</td>
						</tr>
						<tr>
							<td class="td1" align="right">TITLE &nbsp;</td>
							<td class="td2">&nbsp;$!{moon_board_admin_detail.get(0).get(2)}</td>
						</tr>	
						<tr>
							<td class="td1" align="right">파일업로드 설정  여부 &nbsp;</td>											
							<td class="td2">#if($!{moon_board_admin_detail.get(0).get(3)}=='1')&nbsp;설정 
								  #else&nbsp;미설정 
								  #end
							</td>											
						</tr>		
						<tr>
							<td class="td1" align="right">메모기능 설정 여부 &nbsp;</td>										
							<td class="td2">#if($!{moon_board_admin_detail.get(0).get(4)}=='1')&nbsp;설정 
								  #else&nbsp;미설정 
								  #end
							</td>
						</tr>
						<tr> 
							<td class="td1" align="right">등록일 &nbsp;</td>
							<td class="td2">&nbsp;$!{moon_board_admin_detail.get(0).get(6)}</td>
						</tr>	
						<tr> 
							<td class="td1" align="right">그룹별  권한 &nbsp;
							<td class="td2">
								#foreach( $td in ${moon_board_admin_secu_detail} ) 
									#if($td.get(3)=='1')
										&nbsp;$td.get(1)&nbsp;[$td.get(0)]&nbsp;:&nbsp;설정<br>
									#else
										&nbsp;$td.get(1)&nbsp;[$td.get(0)]&nbsp;:&nbsp;미설정<br>
									#end
									
								#end
							</td>
						</tr>
						<input type="hidden" name="_moon_service">
						<input type="hidden" name="_board_admin_del" value="${_board_id}">	
						<input type="hidden" name="_board_id" 		 value="${_board_id}">
					</table>
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 게시판의 상세 내용을 확인하고 수정하려는 내용이 있으면, 상단의 수정 버튼을 클릭하여 수정 화면으로 이동합니다.";
	helpStr += "<br>◈ 현재 게시판을 삭제하려면 상단의 삭제 버튼을 클릭합니다.";
	helpCont.innerHTML = helpStr;
	// 도움말 zoomOut 높이 조절 변수
	var hDynamicHeight = 0;
	
</script>
