## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize2('125', '173')" )

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
						#toolbar($_moon_toolbar "moon_board_write" "" "" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="15%" align="right">
            						<select name="_board_search_condition">
            							##<option value="">선택</option>						
            							<option value="subject" #if($_board_search_condition == 'subject') 	selected #end>제목</option>
            							<option value="content" #if($_board_search_condition == 'content') 	selected #end>내용</option>
            							<option value="name" 	#if($_board_search_condition == 'name') 	selected #end>작성자</option>
            						</select>
									&nbsp;
            					</td>
            					<td width="85%" align="left">
									<input type="text" name="_board_search_value" size="20" class="normal" 
										value="$!{params.get("_board_search_value")}" 
										onKeyPress="enterCheck('$_moon_service');" onBlur="strCheck(); " ondblClick="select(); " >
            					</td>
            				</tr> 
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					#if( ${moon_board_title.size()} > 0 )
						#set( $title = "$!{moon_board_title.get(0).get(0)}" )
					#else
						#set( $title = "게시판" )
					#end
					<h2 class="tab">$!{title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info()</td>
							<td align="right">#table_display()</td>
						</tr>
					</table>
					
					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td>
						<div id="topLine" style="height:30px; width:100%; overflow:hidden; "> 
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead>
									<tr align="center" height="30px"> 
										<td align="center" width="5%">번호</td> 
										<td align="center" width="68%">제목</td> 
										<td align="center" width="10%">이름</td> 
										<td align="center" width="12%">날짜</td> 
										<td align="center" width="5%" class="right">조회</td> 
									</tr> 
			   					 </thead>
			   				</table>
			   			</div>
					</td></tr>	
					<tr><td valign="top">
						<div id="mainDisplay" class="ns_scroll" style="border:0; width:100%; overflow-y:scroll; " onScroll="scrollY(); ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; "> 
								<tbody> 
								#foreach( $tr in ${moon_board_list} )
									##<tr id="main_tr" height="22px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); " > 
									<tr id="main_tr" height="20px" onMouseOver="this.style.backgroundColor='#eeeeee'" onMouseOut="this.style.backgroundColor='#ffffff'"> 
										<td align="center" width="5%">$math.sub($math.sub($_moon_service_count, $math.mul($_moon_perpage, $math.sub($_moon_pagenumber, 1))), $math.sub($velocityCount,1))</td>
										<td width="68%">
											<script language="javascript">
													for(var i=0; i < $!{tr.get(6)}; i++){
														document.write("&nbsp;&nbsp;&nbsp;&nbsp;");
													}
													if( $!{tr.get(6)} > 0 ){
														document.write("<img src='$!{project}/sinc/template/${_moon_template}/images/common/reply.gif'>");
													}else{
														document.write("&nbsp;");
													}
												</script>
												
												<a href="service.do?_moon_service=moon_board_detail_s&_board_id=$tr.get(10)&_board_step=${tr.get(4)}&_data_flag=${tr.get(7)}&_memo_flag=${tr.get(8)}&_moon_perpage=${_moon_perpage}&_moon_pagenumber=${_moon_pagenumber}">$!tr.get(0)</a>
											#if(${tr.get(5)} != '')[${tr.get(5)}]#end
										</td>
										<td align="center" width="10%">$!{tr.get(1)}</td>
										<td align="center" width="12%">$!{tr.get(2)}</td>
										<td align="center" width="5%" class="right">$!{tr.get(3)}</td>
									</tr>	
								#end 
								</tbody>
							</table>
						</div>
					</td></tr></table>
					
					<table height="5"><tr><td></td></tr></table>
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber,$request.getContextPath())
						<input type="hidden" name="_moon_service" 	value="${_moon_service}">						
						<input type="hidden" name="_board_id" 		value="${_board_id}">
						#if($moon_board_list.size() > 0) 
							#set($data_flag = "${moon_board_list.get(0).get(7)}") 
						#else 
							#set($data_flag = "${moon_board_title.get(0).get(1)}") 
						#end 
						<input type="hidden" name="_data_flag" 		 value="$!{data_flag}">
						<input type="hidden" name="_moon_pagenumber" value="$_moon_pagenumber">
					
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 상단의 등록 버튼을 클릭하여 새로운 게시물을 등록할 수 있는 화면으로 이동합니다.";
	helpStr += "<br>◈ 게시판 ID 는 기존에 있는 게시판 ID 와 중복하여 등록할 수 없습니다.";
	helpCont.innerHTML = helpStr;
	// 도움말 zoomOut 높이 조절 변수
	var hDynamicHeight = 0;
	
</script>
