<script type='text/javascript' src='$!{project}/dwr/interface/nongshim.js'></script>
<script type='text/javascript' src='$!{project}/dwr/engine.js'></script>
<script type='text/javascript' src='$!{project}/dwr/util.js'></script>
	
<table id="dataArea" border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	<tr>
		<td height="25" align="right" bgcolor="${toolbar_bgcolor}" class="line">
			<table align="right" width="100%" height="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
				<tr>
					<td align="right">
						<input type="button" name="btnSearch" value=" 조회" onClick="searchIFrameData('fc_04010_methodAnalysis_tailer');" class="btn_search_on">
						#toolbar_nscm($_moon_toolbar "" "" "" "")
					</td>
				</tr>
			</table>
		</td>                                                                                                                                                                                                                  
	</tr>
	<tr id="search_menu" style="DISPLAY:block">
		<td height="20" valign="top" bgcolor="${search_bgcolor}" class="line">			
			<div class="tab-pane" id="fcstMethodHeadTbp">				
				<div class="tab-page" id="tabPage1">
					<h2 class="tab" id="tab1">조회 Option</h2>
				
        			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; display:block; ">
        				<tr>
        					<td height="10"></td>
        				</tr> 
        				<tr>
        					<td width="50%" align="center">
        						<table height="21" border="0" cellpadding="0" cellspacing="0">
        							<tr>
        								<td width="80" align="center" class="td1">
        									<span>계획 유형</span>
        								</td>
        								<td align="left">
        									<select name="oper_type" style="width:120" OnChange="changeTarget(this);">
        										<option value="">선택</option>
        										#foreach( $choice in $!{oper_types} )
        											<option value="$choice.get(0)" #if( "$choice.get(0)" == "$!{oper_type}") selected #end >$choice.get(1)</option>
        										#end
        									</select>											
        								</td>
        							</tr>
        							<tr>
										<td width="80" align="center" class="td1">
											<span>계획 명</span>
										</td>
        								<td align="left">
        									<select type="list" style="width:120" name="fcst_code" onChange="setFcstName(this);">
												<option value="">---------------</option>												
											</select>
											<input type="hidden" name="fcst_name" value="$!{fcst_name}">
        								</td>
										<script>
											if(document.frm.oper_type.value != '') {												
												changeTarget(document.frm.oper_type);
												setFcstName(document.frm.fcst_code);
											}
										</script>
                                    </tr>
									<tr>        								
										<td width="80" align="center" class="td1">
        									<span>품목그룹</span>
        								</td> 
        								<td width="220" align="left">
        									<input name="item_code" type="text" value="$!{item_code}" class="normal" style="width:80px;"
										   ><img name="searchBt1" src="$!{project}/sinc/template/basic/skin/nongshim/images/common/icon_search.gif" align="absmiddle" onClick="openPopupWindow('ITEM1');" style="cursor:pointer; "
										  /><input name="item_name" type="text" value="$!{item_name}" class="normal" style="width:120px;background:#CCCCCC;" readonly>
                                        </td> 
        							</tr>
									<tr> 
        								<td width="80" align="center" class="td1">
        									<span>영업그룹</span>
        								</td> 
        								<td width="220" align="left">
        									<input name="site_code" type="text" value="$!{site_code}" class="normal" style="width:80px;"
										   ><img name="searchBt2" src="$!{project}/sinc/template/basic/skin/nongshim/images/common/icon_search.gif" align="absmiddle" onClick="openPopupWindow('SITE1');" style="cursor:pointer; "
										  /><input name="sales_name" type="text" value="$!{sales_name}" class="normal" style="width:120px;background:#CCCCCC;" readonly>
                                        </td> 
        							</tr>
									<tr>
										<td width="80" align="center" class="td1">
        									<span>배송그룹</span>
        								</td>
        								<td width="220" align="left">
        									<input name="dc_code" type="text" value="$!{dc_code}" class="normal" style="width:80px;"
										   ><img name="searchBt3" src="$!{project}/sinc/template/basic/skin/nongshim/images/common/icon_search.gif" align="absmiddle" onClick="openPopupWindow('DC1');" style="cursor:pointer; "
										  /><input name="dc_name" type="text" value="$!{dc_name}" class="normal" style="width:120px;background:#CCCCCC;" readonly>
                                        </td> 
                                     </tr>															
        						</table>
        					</td>							
							<td width="50%" align="left" rowspan="3">  
        						<table height="21" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="20" align="center" class="td1" rowspan="2">										 
											예<br>측<br>방<br>법
										</td>
										<td width="240" align="left" class="td1">
											<input type="checkbox" name="all_chk" value="$!{all_chk}" onClick="selectAll(this,document.frm.fcst_method,document.frm.methods);" #if("$!{all_chk}" == "Y") checked #end> 
												전체선택
										</td>
									</tr>
        							<tr>										
        								<td width="250" align="left">						
											<input type="hidden" name="methods" value="$!{methods}">
        									<select type="list" style="width:250" name="fcst_method" multiple size="5" onClick="setTimeout('setValues(document.frm.fcst_method, document.frm.methods)',1000);">
												#foreach( $choice in $!{forecasts_methods} )													
        											<option value="$choice.get(0)">$choice.get(1)</option>
												#end							 
											</select>
        								</td>       								
                                     </tr>									
									 <script>
									 	selectAll(document.frm.all_chk,document.frm.fcst_method,document.frm.methods);
									 </script>
                                 </table>
        					 </td>
        				 </tr>	
        		  		 <tr height="10"><td></td></tr>
        		     </table>					
    			 </div>							 
				 <div class="tab-page" id="tabPage4">
					<h2 class="tab" id="tab4">수요예측 방법 분석 Chart</h2>					
					<table width="100%" border="0" cellpading="0" cellspacing="0"  style="background-color:#f2f2f2; display:block; ">						
						<tr>
							<td width="70%" colspan="3">																						
                        		<div id="my_chart" style="padding: 0px; margin:10px; border: 1px solid lightblue; width: 100%;"></div>  					
							</td>
        				</tr>
        			</table>
					<table height="5"><tr><td></td></tr></table>
				</div>
			 </div> 
		 </td>   
	 </tr>	 
	 <tr class="line" height="10"><td></td></tr>
	 <tr>
	 	 <td valign="top">
			<iframe id="child" name="iframe" src="service.do?_moon_service=fc_04010_methodAnalysis_tailer&amp;_moon_perpage=100&amp;_moon_pagenumber=1" width="100%" height="100%" scrolling="no" topmargin="0" leftmargin="0" frameborder="NO" border="0" framespacing="0"></iframe>
		 </td>
	 </tr>
	 <input type="hidden" name="_moon_service" value="${_moon_service}">
	 <input type="hidden" name="_moon_pagenumber" value="${_moon_pagenumber}">
</table>

## waiting 표시 영역
<table width="100%" height="100%" id="waitArea" style="display:none;"> 
	<tr>
		<td valign="middle" align="center">
			<img src="sinc/template/basic/skin/nongshim/images/common/progress_waiting.gif" 
				align="absmiddle" border="0" width="200px" height="60px">
			<img src="sinc/template/basic/skin/nongshim/images/common/loading_icon.gif" 
				align="absmiddle" border="0" width="60px" height="60px">
			<br><h1>&nbsp;</h1><br><h1>&nbsp;</h1><br>
		</td>
	</tr>
</table>