#*-----------------------------------------------------------------------
 @path    /sinc/50.Forecast/script/fc_05090_itemSalesMonitoring_tailer.vm
 @Creator    김규철 
 @version    1.0
 @date        2008-11-26 
 @description : 판매현황 조회(2)화면 (iframe) - 월, 주별 조회   
 -------------------------------------------------------------------------
*# 
 
<input type="hidden" name="project" value="$!{project}">
 
##부모의 변수를 set	  
<input type="hidden" name="periodGB"       value="$!{periodGB}">        ##기간 구분
<input type="hidden" name="create_month"   value="$!{create_month}">    ##월

<input type="hidden" name="item_GB1"   value="$!{item_GB1}"> 	  ##구분2
<input type="hidden" name="item_GB2"   value="$!{item_GB2}"> 	  ##구분2
<input type="hidden" name="item_GB3"   value="$!{item_GB3}"> 	  ##구분2
<input type="hidden" name="item_GB4"   value="$!{item_GB4}"> 	  ##구분2

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>	
         <table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">	 
        	 <tr>
        		<td valign="top"> 
        			<div class="tab-pane" id="salesCtlTailTbp"> 
        				<div class="tab-page" id="tabPage1">
        					<h2 class="tab">판매현황 조회2(월/주)</h2>		
        					<table id="gridArea" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">						
        					<tr>
        						<td> 
								###### page 구현 , KIM KC
        						<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
            						<tr>
            							<td>#page_info()</td>
            							<td align="right">#table_display()</td>
            						</tr>
            					</table>	   
								###### page 구현시 500 row 이상 안됨.
        					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
								<tr> 
        							<td>   
            							##조회기간  setting 
            							#set( $getMon = $month12_list.get(0))   							
        								#set($total = $nongshim.getTotal(${fc_05090_itemSalesMonitoring_tailer}))
        
        								#if($total == "0")
        									#set( $headertype = "TEXT" )
                                    		#set( $header = "데이터 없음" ) 
                                    		#set( $colwidth = "100" )
                                    		#set( $data = "데이터 없음" )
                                    		#set( $columaligns = "" )
        									#set( $groupingCol = "-1" )
        									#set( $lockedCol = "-1" )
        									#set( $hasnestedsubheader = "false")
        								#else										 						 
											#set( $header = "품종코드1!%!품종코드2!%!구분명1!%!구분명2!%!품 종!%!목표!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률" )			 					
            								#set( $header = "$!{header}!%!실적!%!달성률!%!누적달성률!%!실적!%!달성률!%!누적달성률" )
											
            								## 이중헤더								 
            								#set( $topheader = "$!getMon.get(0)/%/$!getMon.get(1)/%/$!getMon.get(2)/%/$!getMon.get(3)/%/$!getMon.get(4)/%/$!getMon.get(5)/%/$!getMon.get(6)/%/$!getMon.get(7)/%/$!getMon.get(8)/%/$!getMon.get(9)" )
            								#set( $topheader = "$!{topheader}/%/$!getMon.get(10)/%/$!getMon.get(11)" ) 
	         								
											#set( $topheaderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O" )
            								#set( $topheaderPosition = "$!{topheaderPosition}/%/O!%!O!%!O/%/O!%!O!%!O)" )
                       
            								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT" )
            								#set( $headerType = "$!{headerType}!%!NUMBER!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT" ) 
            			  
											#set( $colwidth   = "0!%!0!%!0!%!0!%!130!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100!%!100" ) 
            								#set( $colwidth = "$!{colwidth}!%!100!%!100!%!100!%!100!%!100!%!100)" )

											#set( $colalign   = "CENTER!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT" )
											#set( $colalign = "$!{colalign}!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT!%!LEFT)" ) 
 											      
            								#set( $hasnestedsubheader = "true")
											
											#set( $data = $zlattice.getBody($!{fc_05090_itemSalesMonitoring_tailer},"!%!", "/%/") ) 											
										#end 
        							   <textarea id="txt1" style="display:none;" rows="0" cols="0">  
        									<object name='grid'
        										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
        										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
        										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
        										<!--Necessary--> 
        										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
        										<param name="archive" value="zLattice.jar">
        										<param name="headertypes" value= "$headerType">
        										<param name="headers"  value= "$header">
        										<param name="data" value= "$data">
        										<!--Necessary for Modification Grid -->
        										<param name="names" value= "" >
        										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
        										<!--optional - Default Value 있음--> 
        										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
        										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
        										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
        										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
        										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
        										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
        										<param name="enablesorting" value="true">      <!-- defalut : true -->
        										<param name="groupingcolumn" value="4"> <!-- defalut : 그루핑 없음 --> 
        										<param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
        										<param name="lockedcolumn" value="6"> <!-- defalut : 락킹 없음 --> 
        										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
        										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
        										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
        										<param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
        										<param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
        										<param name="outnumberformat" value="&#035;,&#035;&#035;0">  									 
        										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
        										<param name="hasverticaltotal" value="false"> <!-- default -true -->
        										<param name="hashorizontaltotal" value="false"> <!-- default -true -->
        										<param name="totalrowcolor" value="909090"> <!-- default ? E6E6FA -->
        										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
        										<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
        										<param name="hascookie" value="false">       <!-- default -false -->
        										<param name="enableinserting" value="false"> <!-- default -false -->
        										<param name="enabledeleting" value="false">  <!-- default -false -->
        										<param name="enableediting" value="false"> <!-- default -false -->
                                                <!--optional - Default Value 없음-->
                                                <param name="columncolor" value="$!{colCor}">     
                                                #set( $rowCor = "1,1=CCCCCC" )       										
                                                <param name="rowcolor" value="$!{rowCor}">   
        										<param name="onclickrowfunc" value="onclickfunc">
        										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
        										<param name="disablecolumns" value="">
        										<param name="columnalign" value="$colalign">
        										<param name="font" value="굴림">
        										<param name="fontsize" value="12">
        										<param name="columnheight" value="40"> 
        										<param name="headertype" value="HORIZONTAL_HEADER">
        										
        										## 이중 헤더 
        										<param name="hasnestedsubheader" value="true">  
        										<param name="topheaders" value="$!{topheader}">
        										<param name="topheaderposition" value="$!{topheaderPosition}">
        										<param name="enabledragging" value="true">
        									</object>
        								</textarea> 
        								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
        							</td>
        						</tr> 
        					</table>		 			
                			 	  </td>  
        					    </tr> 
        					</table>  
                            ## waiting 표시 영역
            				 #waitingArea()
                            ## waiting 표시영역 
 							
							<!-- page start --> 
        					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                    			$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
                    			<input type="hidden" name="_moon_service"     value="${_moon_service}">				
                    			<input type="hidden" name="_moon_pagenumber"  value="${_moon_pagenumber}"> 
                    			##<input type="hidden" name="_moon_perpage"     value="$!{_moon_perpage}"> 
        					</td></tr></table>
        					<!-- page end -->  
          
        				</div>			 
        			</div>
        		</td>   
        	</tr>
        </table>
		</td> 
	</tr>
</table>	 