## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize('142', '195')" )
##set( $resizeFuncCallCode = "setHtmlGridAutoResize('142', '260')" )  
##set( $resizeFuncCallCode = "setHtmlGridAutoResize('140', '155')" ) 

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						##button("search")
						<input type="button" name="btnSearch" value=" 찾기" onClick="GoSearch('fc_02030_removeOutlier_list_search_comp'); " class="btn1_on">
						<input type="button" name="btnApply" value=" 조정" onClick="GoSave('fc_02030_removeOutlier_list_update_comp'); " class="btn1_on">
						#toolbar_nscm($_moon_toolbar "" "" "" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr>
            					<td width="20%" align="right">
            						실적 기간 :
            					</td>   
            					<td width="30%" align="left">
									<select name="selected_start" style="width:65px; " onChange="doChangeStart(this); ">
									#foreach( $condition in $rem_out_period_list )
										<option value="$condition.get(0)" #if( "$condition.get(0)" == "$!{selected_start}") selected #end >$condition.get(0)</option>
									#end 
									</select>~
									<a id="divSelectedEnd">
										<select name="selected_end" style="width:65px; ">
											<option value="">선택</option>
										</select>
									</a>	
									##date_sole_no_title( "sdate" "7" "normal" "startBtn" $date.get('yyyy-MM'))~
            						##date_sole_no_title( "edate" "7" "normal" "endBtn" $date.get('yyyy-MM')) 
            						##date_both_no_title( )            						
            					</td>
            					<td width="25%" align="right">
            						한계 표준편차 :
            					</td>
            					<td width="25%" align="left">
									<input name="limit_std" type="text" size="4" class="normal" value="$!{limit_std}" onKeyPress="checkNum(this, 'BLANK'); ">
            					</td>            					
            				</tr>            				
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="47"> ## search 조건 부분 높이
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info()</td>
							<td align="right">#table_display()</td>
						</tr>
					</table>
					  
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0" ><tr><td>
						<div id="topLeft" style="height:50px; width:200px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead> 
									<tr height="50px"> 
										<td width="30px">번호</td>
										<td width="30px">전체<br><input type="checkbox" name="checked_all" value="N" onClick="checkAll(this);"/></td>
										<td width="60px">품목<br>코드</td>
										<td width="80px">품목명</td>										
									</tr> 
			   					 </thead>
			   				</table>
			   			</div>
					</td>  
					<td> 
						<div id="topLine" style="height:50px; width:645px;overflow:hidden;"> 
							<table width="645px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead> 
									<tr height="50px">
										<td width="30px">영업<br>지점<br>코드</td>
										<td width="90px">영업지점</td>
										<td width="30px">배송<br>지점<br>코드</td>
										<td width="130px">배송지점</td>
										<td width="60px">이상기간</td> 
										<td width="40px">판매<br>실적</td>
										<td width="50px">조정된<br>판매<br>실적</td>
										<td width="50px">적합값</td> 
										<td width="40px">이전<br>기간<br>실적</td>
										<td width="40px">다음<br>기간<br>실적</td>
										<td width="50px">조정값</td>
										<td width="40px">조정<br>여부</td>
										<td width="50px" class="right">상세<br>Graph</td>										
									</tr>									
			   					 </thead>
			   				</table>
			   			</div>
					</td></tr>
					<tr><td valign="top">
						<div id="leftDisplay" style="width:200px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="left_tbody">
								## 조회 결과데이터가 없는 경우, 빈 라인 생성
								#if( $fc_02030_removeOutlier_list.size() == 0 )
									<tr height="1"><td colspan="3" width="170px"></td></tr>
								#end
								#foreach( $tr in $fc_02030_removeOutlier_list )
									<tr id="left_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 번호
										<td width="30px" align="center" style="background-color:${search_bgcolor}; ">
											<a id="divRowNo">$velocityCount</a>
										</td>
										## 체크박스
										<td width="30px" align="center">
											<input name="check_modify" type="checkbox" value="N" class="normal" style="" onClick="checkEvent(this)">
											<input name="checkModify" type="hidden" value="N">
										</td>
										## 품목코드
										<td width="60px" align="center" >
											<a id="divItemCd">$tr.get(0)</a><input
												type="text" name="item_cd" class="normal" value="$tr.get(0)"												
												style="width:100%; display:none; "> 											
										</td>
										## 품목 명
										<td width="80px" align="left" >
											<a id="divItemName">&nbsp;$tr.get(1)</a><input
												type="text" name="item_name" class="normal" value="$tr.get(1)"												
												style="width:100%; display:none; "> 
										</td>										
									</tr>
								#end
								</tbody> 
							</table> 
						</div> 
					</td>   
					<td valign="top"> 
						<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-y:scroll; overflow-x:scroll; " onscroll="scrollX(); scrollY(); ">
							<table width="645px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="main_tbody"> 
								## 조회 결과데이터가 없는 경우, 빈 라인 생성 
						 		#if( $fc_02030_removeOutlier_list.size() == 0 )
									<tr height="1"><td colspan="6" width="985"></td></tr>									
								#end  
								#foreach( $tr in $fc_02030_removeOutlier_list )
									<tr id="main_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 영업지점 코드
										<td width="30px" align="left" >
											<a id="divSiteCd">&nbsp;$tr.get(2)</a><input
												type="text" name="site_cd" class="normal" value="$tr.get(2)"												
												style="width:100%; display:none; "> 
										</td>
										## 영업지점
										<td width="90px" align="left" >
											<a id="divSiteName">&nbsp;$tr.get(3)</a><input
												type="text" name="site_name" class="normal" value="$tr.get(3)"												
												style="width:100%; display:none; "> 
										</td>
										## 배송지점코드
										<td width="30px" align="center" >
											<a id="divDcCd">$tr.get(4)</a><input
												type="text" name="dc_cd" class="normal" value="$tr.get(4)"												
												style="width:100%; display:none; "> 
										</td>
										## 배송지점 
										<td width="130px" align="left" >
											<a id="divDcName">&nbsp;$tr.get(5)</a><input
												type="text" name="dc_name" class="normal" value="$tr.get(5)"												
												style="width:100%; display:none; "> 
										</td>
										## 이상기간
										<td width="60px" align="left" >
											<a id="divSalesMonth">&nbsp;$tr.get(6)</a><input
												type="text" name="sales_month" class="normal" value="$tr.get(6)"												
												style="width:100%; display:none; "> 
										</td>
										## 판매실적
										<td width="40px" align="right" >
											<a id="divSalesQty">$tr.get(7)&nbsp;</a><input
												type="text" name="sales_qty" class="normal" value="$tr.get(7)"												
												style="width:100%; display:none; "> 											
										</td>
										## 조정된 판매실적
										<td width="50px" align="right" >
											<a id="divAdjSalesQty">$tr.get(8)&nbsp;</a><input 
												type="text" name="adj_sales_qty" class="normal" value="$tr.get(8)"												
												style="width:100%; display:none; "> 											
										</td>
										## 적합값
										<td width="50px" align="right" >
											<a id="divFittedQty">$tr.get(9)&nbsp;</a><input
												type="text" name="fitted_qty" class="normal" value="$tr.get(9)"												
												style="width:100%; display:none; "> 											
										</td>
										## 이전 기간실적
										<td width="40px" align="right" >
											<a id="divBeforeHistQty">$tr.get(10)&nbsp;</a><input
												type="text" name="before_hist_qty" class="normal" value="$tr.get(10)"												
												style="width:100%; display:none; "> 											
										</td>
										## 다음 기간실적
										<td width="40px" align="right" >
											<a id="divAfterHistQty">$tr.get(11)&nbsp;</a><input
												type="text" name="after_hist_qty" class="normal" value="$tr.get(11)"												
												style="width:100%; display:none; "> 											
										</td>
										## 조정값
										<td width="50px" align="right" onClick="setEditMode(this); ">
											<a id="divAdjFitted">$tr.get(12)&nbsp;</a><a id="divItemIdSelect" 
												style="width:100%; display:none;" ><input
												type="text" name="adj_fitted" class="normal" size="100" value="$tr.get(12)"
												onFocusOut="setViewMode(this); " onKeyPress="checkNum(this, 'BLANK'); "
												style="width:100%; padding-right:5px; text-align:right; "></a>										
										</td>										
										## 조정여부
										<td width="40px" align="center" >
											<a id="divApplyCheck">$tr.get(13)</a><input
												type="text" name="apply_check" class="normal" size="20" value="$tr.get(13)"												
												style="width:100%; display:none; "> 											
										</td>
										## 상세 Graph
										<td width="50px" align="left" class="right">
											<a id="divDtlGraph"></a><input
												type="text" name="dtl_graph" class="normal" size="20" value=""												
												style="width:100%; display:none; "> 											
										</td>										
									</tr>
								#end
								</tbody>
							</table>
						</div>
					</td></tr></table>
					
					<table border="0" width="100%" cellpadding="0" cellspacing="0" height="5px"><tr><td></td></tr></table>
					</td></tr></table>
											
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">						
						##<input type="hidden" name="_user_id" value="$!{_user_id}">
					</td></tr></table>
										
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">					
							
					## waiting 표시영역
					#waitingArea()
				</div>
			</div>
		</td>
	</tr>
</table>
 
<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 각 항목을 입력한 후 상단의 찾기 버튼을 클릭하여 이상요인 찾기를 실행합니다.";	
	helpStr += "<br>◈ 이상요인 조정 할  항목을 좌측의 체크박크를 선택하고 해당 조정값을 변경 후 조정 버튼을클릭합니다 .";	
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// combo box:계획 유형 선택시 계획명 리스트 채움 
	function doChangeStart(obj){
		var div_end = "<select name=\"selected_end\" style=\"width:65px; \"> ";	
		//div_end += "<option  value=\"\">전체</option> ";
   	#foreach( $condition in $rem_out_period_list)  
		if ( "$condition.get(0)" > obj.value) { 
			div_end += "<option value=\"$condition.get(0)\"";
			if("$condition.get(0)" == "$!{selected_end}")
				div_end += " selected ";
			div_end += ">$condition.get(0)</option>"; 
		}
	#end
   		div_end += "</select>"; 
   		divSelectedEnd.innerHTML = div_end;				
	}
	doChangeStart(document.frm.selected_start);
	
</script>
