############################################################
## 프로그램ID     : md_01020_masterDataCheckItem_list.vm
## 프로그램명      : 기준정보 CHECK
## 개발자          : 정재교
## 개발일자        : 2009-04-22
##
## 관련 job file   : job_md_01020_masterDataCheckItem_list.xml
## 관련 query file : query_md_01020_masterDataCheckItem_list.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2009-04-22  정재교     create
##
############################################################


## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize2('79', '100')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>


#########################################    WiseGrid Event     #####################################################			
######################################### 기본 Event외 추가 Event #####################################################


<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>

<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>

############################################ WiseGrid Event #########################################################

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## 기능 버튼 영역
    <tr>
        <td height="25" align="right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
                <tr>
                    <td align="right">
                        #button("search")
                        #toolbar_nscm($_moon_toolbar "" "" "" "")
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
    ## 조회 영역
    <tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                    <td width="100%">
                        <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                            <tr >
								<td width="10%" align="right">
									제품 :
            					</td>
								<td width="90%" align="left">
									<input name="item_id" class="normal" style="width:70px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_id}">
									<input name="item_name" class="normal" readOnly style="width:180px; " value="$!{item_name}"><img
										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
										align="absmiddle" border="0" style="cursor:pointer;"  
										onClick="openItemSearchPop('item_id', '450', '300'); ">
								</td>            					
                            </tr>
                        </table> 
                    </td>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
            </table>
        </td> 
    </tr>

    <input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
    ## TAB 영역
    <tr>
        <td valign="top">
        ## tab 좌측 여백
        #tabLeft()                
            
            <table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>                    

            <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                <tr>
                    <td align="left" width="50%">
                        <script>initWiseGrid("WiseGrid", "100%", "100%");</script>
                    </td>
                    <td align="left" width="50%">
                        <script>initWiseGrid("WiseGrid2", "100%", "100%");</script>
                    </td>
                </tr>
            </table> 
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
            ## waiting 표시영역
            #waitingArea()
                    
        </td>
    </tr>
</table>

<script>
   
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
