## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
##set( $resizeFuncCallCode = "setGridAutoResize2('120', '180')" )
#set( $resizeFuncCallCode = "setGridAutoResize('78', '103')" )

##공장할당 버전
<input type="hidden" name="plant_alloc_version" value="$plant_alloc_version.get(0).get(0)">


<!--	 WiseGrid의 셀을 더블클릭 했을때 발생한다. -->
<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
	GridCellDblClick(strColumnKey, nRow);
</script>

<!--	 WiseGrid에 MOUSE OVER 되었을때 발생한다. -->
<script language=javascript for="WiseGrid" event="MouseOver(strType, strColumnKey, nRow)">
	GridMouseOver(strType, strColumnKey, nRow);
</script>

<!--	 WiseGrid에 MOUSE OUT 되었을때 발생한다. -->
<script language=javascript for="WiseGrid" event="MouseOut(strType, strColumnKey, nRow)">
	GridMouseOut(strType, strColumnKey, nRow);
</script>


<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>


<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
						#toolbar_nscm($_moon_toolbar "" "" "GoSave" "")							
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " ></td></tr> ##onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "
				<tr>
					<td width="2" style="background-color:#d0d0d0; " ></td> ##onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
							
							<tr>
								<td width="10%" align="right">조회 일자 :</td> 
								<td width="20%">  																	    
            						#date_sole_no_title( "sdate" "10" "normal" "searchBtn" $date.get('yyyy-MM-dd'))
            					</td>
								
								<td width="40%"> 
									<input type="hidden" name="checked_domain" value="DO">
									##<input type="radio" name="checked_domain" value="DO" style="border:0px;"
            						##	onClick="this.checked" #if("$!{checked_domain}" == "DO" ) checked #else #end>내수</input>&nbsp;
            						##<input type="radio" name="checked_domain" value="EXMTS" style="border:0px;"
            						##	onClick="this.checked" #if("$!{checked_domain}" == "EXMTS") checked #else #end>수출MTS</input>&nbsp;            						
            						##<input type="radio" name="checked_domain" value="EXMTO" style="border:0px;"
            						##	onClick="this.checked" #if("$!{checked_domain}" == "EXMTO") checked #else #end>수출MTO</input>&nbsp;            						
									##<input type="radio" name="checked_domain" value=""  style="border:0px;"
            						##	onClick="this.checked" #if("$!{checked_domain}" == "") checked #else #end>전체</input>
            					</td>
								
								<td width="10%" align="right">필요량/계획 :</td>
            					<td width="20%"> 
									<input type="radio" name="checked_pa_pr" value="" style="border:0px;" checked="on"
            							onClick="this.checked" #if("$!{checked_pa_pr}" == "") checked #else #end>생산필요량</input>&nbsp;
            						<input type="radio" name="checked_pa_pr" value="PR" style="border:0px;"
            							onClick="this.checked" #if("$!{checked_pa_pr}" == "PR") checked #else #end>생산계획</input>           					       						
            					</td>
							</tr>
						</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " ></td> ##onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " ></td></tr> ##onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			##<div>&nbsp;</div>
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
    					<table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
    						 
    						<tr>
    							<td align="left" > 
    								<script>initWiseGrid("WiseGrid", "100%", "450");</script>  
    							</td> 
    						</tr>
    					</table> 
					
					</td></tr></table>
					
				##</div>

    			<input type="hidden" name="_moon_service" value="${_moon_service}">
    			<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
				<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
    			<input type="hidden" name="_user_id" value="$!{_user_id}">
					
                <input type="hidden" name="perpage_pre" value="${_moon_perpage}">
                <input type="hidden" name="pagenumber_pre" value="$!{_moon_pagenumber}">					
				
			##</div>
		</td>
	</tr>
</table>

<script>

	//그리드 객체 전역변수 선언! 모든곳에서 GridObj 객체를 사용 함.
    var GridObj = document.WiseGrid;
	
	//mode 전역변수 선언 초기값 "search"
	//var mode = "";
	
	//gridRow 그리드의 전체 로우수를 담을 전역변수.
	var gridRow = "";
	
	//라디오 박스 전역변수
	var checked_domain = "";
	var checked_pa_pr = "";
	
	//셀수정시 꼭필요한 펑션!
	//function GridChangeCell(strColumnKey, nRow){
	
	//}
	
	
	
	// 차주 생산필요량 변경전 값
	var oldProdQty = new Array; //최초 조회시 차주 생산필요량 값을 저장.
	var oldProdQty2 = new Array; //최초 조회시 차차주 생산필요량 값을 저장.
	var oldNNPlanVsStk = new Array; //최초 조회시 계획대비 재고일수 저장.
	var oldNNActVsStk = new Array; //최초 조회시 실적대비 재고일수 저장.
	var oldRp1Qty = new Array; //최초 조회시 보충요구량 저장.
	
	var oldEptStk = new Array; //최초 조회시 예상재고(차주초) 값을 저장.
	var oldEptStk2 = new Array; //최초 조회시 예상재고(차차주) 값을 저장.
	var oldNSalesPlan = new Array; //최초 조회시 차주, 판매계획(차주) 값을 저장.
	var oldNNSalesPlan = new Array; //최초 조회시 차차주, 판매계획(차차주) 값을 저장.
	var oldNNWkWork = new Array; //최초 조회시 차차주 영업일수 값을 저장.
	var oldSalesMeanWeek1 = new Array;   //최초 조회시 1주 평균 판매 값을 저장.
	

	
	
	
	var restp = new Array; //설비유형 값을 저장.
	//소계, 총계 변수선언.
	//소계
	var oldTotPartProdQty = new Array; //최초 조회시 차주 생산필요량 소계!! 값을 저장.
	var oldTotPartNwkAdjQty = new Array; //최초 조회시 차주 요구/생산 차이 소계!! 값을 저장.
	
	

	
	
	
	
	
	
	
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	
	// 
	function chkOpenClose( obj ) {
		alert(obj.tagName);
		if( obj.tagName != "INPUT" && obj.tagName != "SELECT" && obj.tagName != "BUTTON" ) {
			OpenClose(search_menu); $!{resizeFuncCallCode};
		}
	}
	
	
	// 도움말 내용 입력
	var helpStr = "◈ 조회된 리스트의 데이터를 더블클릭하면 해당 코드 그룹 수정화면으로 이동합니다.";
	helpStr += "<br>◈ 상단의 등록버튼을 클릭하면 코드 등록 화면으로 이동합니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	//document.cookie = "webfxtab_tabPane1=1";
	
	
</script> 
