############################################################
## 프로그램ID      : sc_12020_dailySemifinishedProductPlanAnalysisNew_list_test_pop.vm
## 프로그램명      : 반제품 생산계획 소요량 조회
## 개발자          : 남웅용
## 개발일자        : 2009-10-13
##
## 관련 job file   : job_sinc_10_inventoryPlanning_04.xml  
## 관련 query file : query_sinc_10_inventoryPlanning_04.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2009-10-13  남웅용      create
##
############################################################

   
## 비정상적 접근 방지 
#loginCheck()      
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '70')" )  ## ('79', '60')" )           

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>


## 두번째 와이즈 그리드 설정을 위한 변수 선언 
<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>
<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>	
	
## 두번째 와이즈 그리드 설정을 위한 변수 선언 
<script language="javascript" for="WiseGrid3" event="Initialize()">
	init3();
</script>
<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid3" event="EndQuery()">
	GridEndQuery3();
</script>		

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## 조회 영역
	## TAB 영역
	##<br>
	
	<tr>
		<td align="right">#button("search")</td>
	</tr>
	<tr>
    	<td width="100%" valign="top" align="left">			
			<input type="text" name="test2" class="normal" style="width:0px; text-align:left; font:12px/15px 맑은 고딕 bold; ">			
			<b>공장 : </b> 	&nbsp;
    			<select name="plant_id">
					<option value="1170"#if( "$!{plant_id}" == "1170" ) selected #end>부산제품</option>
          			<option value="1110"#if( "$!{plant_id}" == "1110" ) selected #end>안양제품</option> 
    				<option value="1120"#if( "$!{plant_id}" == "1120" ) selected #end>안성제품</option>
    				<option value="1130"#if( "$!{plant_id}" == "1130" ) selected #end>안성음료</option> 
    				<option value="1140"#if( "$!{plant_id}" == "1140" ) selected #end>아산제품</option>
					<option value="1160"#if( "$!{plant_id}" == "1160" ) selected #end>구미제품</option>
					<option value="1180"#if( "$!{plant_id}" == "1180" ) selected #end>녹산제품</option>
    			</select>
		</td>
	</tr>
	<tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " ></td>
                </tr>
                <tr height="2">  
					<td colspan="3" style="background-color:#d0d0d0; " ></td>
				</tr>
            </table>
        </td> 
    </tr>
    <tr>
        <td align="left" width="100%" height="52px">    
            <script>initWiseGrid("WiseGrid", "100%", "100%");</script>
        </td>
	</tr>
	<input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
	## TAB 영역
    <tr>
        <td valign="top">
        ## tab 좌측 여백
        ##tabLeft()               
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            
        </td>
    </tr>
</table>

<script>
    
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
	//init();
	//GoSearch();
    
    // 도움말 내용 입력
    var helpStr = "◈ ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
