## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수
#set( $resizeFuncCallCode = "setGridAutoResize('122', '145')" )

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top3 pd_bot3">
            	<tr>
                	<td align="right">
						#button("search")
						#if( $!{super_user_check.size()} > 0 )
							#toolbar($_moon_toolbar "user_add" "" "" "")
						#else
							#toolbar("0000" "" "" "" "")
						#end
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="4"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="4px" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="99%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="15%" align="right">
									<select name="_board_search_condition">
										<option value="U.USER_NAME" #if("${_board_search_condition}"=="U.USER_NAME")selected #end>$text.get("user_list_1.search.condition")</option>
										<option value="U.USER_ID" #if("${_board_search_condition}"=="U.USER_ID")selected #end>$text.get("user_list_2.search.condition")</option>
										<option value="G.GROUP_NAME" #if("${_board_search_condition}"=="G.GROUP_NAME")selected #end>$text.get("user_list_3.search.condition")</option>
									</select>
									&nbsp;
            					</td>
            					<td width="85%" align="left">
									#input_text ("_board_search_value" "20" "")
            					</td>
            				</tr> 
            			</table>
					</td>
					<td width="4px" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="4"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					#*
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info()</td>
							<td align="right">#table_display()</td>
						</tr>
					</table>
					*#
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td align="left">
								<script>initWiseGrid("WiseGrid", "100%", "350");</script>
							</td>
						</tr>
					</table> 
					
					
                    <!-- 등록, 수정, 삭제가 실행되면 발생한다.-->
                    <div id="message" style="display:none ">
						<fieldset>
                    		<legend> [변경된 내용] </legend>
                    		<textarea name="confirm" cols="101" rows="8" style="border:0px" scrolling="auto"></textarea>
                    	</fieldset>
                    </div>
					
					<table height="5"><tr><td></td></tr></table>
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
						##$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
						<input type="hidden" name="_user_id" value="$!{_user_id}">
						#if( $!{super_user_check.size()} > 0 ) 
                            <input type="hidden" name="adminFlag" value="Y">
						#else
                            <input type="hidden" name="adminFlag" value="N">
						#end
					</td></tr></table>
					
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 조회된 리스트의 데이터를 더블클릭하면 해당 사용자의 상세정보 화면으로 이동합니다.";
	helpStr += "<br>◈ 상단의 등록버튼을 클릭하면 사용자등록 화면으로 이동합니다.";
	helpStr += "<br>◈ 관리자가 아닌 일반 사용자는 본인의 정보만 조회 및 수정가능하고, 사용자 등록을 할 수 없습니다.";
	helpCont.innerHTML = helpStr;
	// 도움말 zoomOut 높이 조절 변수
	var hDynamicHeight = 0;

function setGridAutoResize( tab_h, table_h ){
	
	var maxWidthValue;
	var maxHeightValue;
	
	if (document.layers) {
		//Nescape
		maxWidthValue = window.innerWidth;
		maxHeightValue = window.innerHeight;
	}
	if (document.all) {
		//explore
		maxWidthValue = document.body.clientWidth;
		maxHeightValue = document.body.clientHeight;
	} 
	
	var tabHeightValue = Number(maxHeightValue) - Number(tab_h) ; 
	var tableHeightValue = Number(maxHeightValue) - Number(table_h) ; 
	
	var search_h = document.frm.search_h.value; 
	if( search_menu.style.display == "none" ) 
	{ 
		tabHeightValue += Number(search_h); 
		tableHeightValue += Number(search_h); 
	} 
	
	// 화면 size 축소 시 화면이 너무 작아 그리드 크기가 음수가 되면 에러가 나므로 그 경우 무조건 1로 세팅 
	// ==> 화면이 더이상 축소되지 않음 
	if( tabHeightValue < 1 ) 
		tabHeightValue = 1; 
	if( tableHeightValue < 1 ) 
		tableHeightValue = 1; 
	
	tabPage1.style.height = tabHeightValue + "px"; 
	//tbMain.style.height = tableHeightValue + "px"; 
	document.WiseGrid.height = tableHeightValue + "px"; 
	
} 
	
</script> 
