/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #3B2F53;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #fff;
  font-family: 돋움,tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background: #B0ADC1;
  color: #fff;
  font-size: 90%;
}

.calendar .nav {
  background: #B0ADC1 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year"      달,년,*/
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: #625882;
  color: #fff;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #565;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover  헤더 마우스 올렸을 떄 */
  background-color: #A5A4B7;
  color: #000;
  border: 1px solid #3B2F53;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header   헤더 마우스 눌렀을 떄 */
  background-color: #C2B2D0;
  padding: 2px 0px 0px 2px;
}

.calendar thead .daynames { /* Row <TR> containing the day names  /*요일  배경...*/*/
  background: #E2E0EB;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #564;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {   /* 주(WEEK) 배경 */
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #5C4D7B;
  background: #E2E0EB;
}

.calendar tbody .rowhilite td {  /*날짜 마우스 올렸을 때...*/
  background: #AFABC3;
}

.calendar tbody .rowhilite td.wn {  /*주(wk) 마우스 올렸을 때...*/
  background:#C3BED7;
}

.calendar tbody td.hilite { /* Hovered cells <TD> *****달력 날짜 위에 올렸을 시 하이라이트 ***/
  background: #EDEBF2;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> *****달력 날짜 위에 눌렀을 시  배경 */
  background: #CEC7DD;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date 오늘 날짜배경*/
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #D5CFDE;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { font-weight: bold; color: #483F5D; }  /*오늘 날짜 글씨 색*/

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #565;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> 아래 백그라운드...*/
  padding: 2px;
  background: #625882;
  color: #fff;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  border: 1px solid #084;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {  /*콤보박스 배경*/
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #565;
  background: #C2B2D0;
  color: #000;
  font-size: 90%;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {   /*글짜 선택시 하이라이트**/
  background: #fff;
}

.calendar .combo .active { /* 선택된 글자 배경 */
  border-top: 1px solid #3B2F53;
  border-bottom: 1px solid #3B2F53;
  background: #E4D6ED;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #8a8;
  padding: 1px 0px;
  text-align: center;
  background-color: #dfb;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #898;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #686;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
