##############################################################
## ?îÑÎ°úÍ∑∏?û®ID      : rp_01190_EXP_Stock_Info_list.vm
## ?îÑÎ°úÍ∑∏?û®Î™?      : ?àòÏ∂úÏ∂úÍ≥†Ïû• ?û¨Í≥†Î∂Ñ?Ñù
## Í∞úÎ∞ú?ûê          : ?Ç®?õÖ?ö©
## Í∞úÎ∞ú?ùº?ûê        : 2016-08-09
##
## Í¥??†® job file   : job_sinc_40_replenishmentPlanning_03.xml
## Í¥??†® query file : query_sinc_40_replenishmentPlanning_03.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2016-08-09  ?Ç®?õÖ?ö©          create


## git?ÑúÎ≤ÑÏóê?Ñú ÏßÅÏ†ëÎ≥?Í≤?

## ÎπÑÏ†ï?ÉÅ?†Å ?†ëÍ∑? Î∞©Ï? 
#loginCheck()
## ?ôîÎ©? resizing ?ùÑ ?úÑ?ïú size Î≥??àò 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '270')" ) 

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
 	CellDblClick_DW1(strColumnKey, nRow);
</script> 
 
<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>

## DoQuery Î©îÏÜå?ìúÍ∞? ?ã§?ñâ?êòÍ≥? ?ÑúÎ≤ÑÏ??ùò ?Üµ?ã†?ù¥ ?†ï?ÉÅ?†Å?úºÎ°? ?ôÑÎ£åÎêòÎ©? Î∞úÏÉù?ïú?ã§. 
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>

## ?ì±Î°?/?àò?†ï ?ôîÎ©? ?ù¥?èô?ïú ?õÑ, Î≥? ?ôîÎ©¥ÏúºÎ°? ?ù¥?èô?ï† ?ïå Ï°∞ÌöåÏ°∞Í±¥?ùÑ Í∏∞Ïñµ?ïòÍ∏? ?úÑ?ïú parameter
<input type="hidden" name="cd_grp_pre" value="$!{cd_grp}">
<input type="hidden" name="perpage_pre" value="${_moon_perpage}">
<input type="hidden" name="pagenumber_pre" value="$!{_moon_pagenumber}">

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## Í∏∞Îä• Î≤ÑÌäº ?òÅ?ó≠
    <tr>
        <td height="25" align="right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
                <tr>
                    <td align="right">
                        #button("search")
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
    ## Ï°∞Ìöå ?òÅ?ó≠
	
    <tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                    <td width="100%">
                        <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                            <tr>            
								<td width="35%" align="left"> 
    								Ï°∞ÌöåÍ∏∞Í∞Ñ :&nbsp;
									#date_sole_no_title( "cnfm_date" "10" "normal" "work_dateBtn" $commonUtil.toDate($date.get('yyyy-MM-dd'),'YYYY-MM-DD','DAY',0) )
								</td>
            					<td width="65%" align="left">  
                					<select name="sel_gubn" style="width:100px; ">
										<option value="%" #if( "$!{sel_gubn}" == "%" ) selected #end >?†ÑÏ≤?</option>
        								<option value="10" #if( "$!{sel_gubn}" == "10" ) selected #end >Î©?</option>
        								<option value="20" #if( "$!{sel_gubn}" == "20" ) selected #end >?ä§?Çµ</option>
                					</select>	             									
            					</td> 
                            </tr>                            
                        </table> 
                    </td>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
            </table>
        </td> 
    </tr>

    <input name="search_h" type="hidden" value="45"> ## search Ï°∞Í±¥ Î∂?Î∂? ?Üí?ù¥ 
    <tr><td height="1"></td></tr>
    ## TAB ?òÅ?ó≠
    <tr>
        <td valign="top">
        ## tab Ï¢åÏ∏° ?ó¨Î∞?
        ##tabLeft()               
 			<table id="tbBottom" border="0" width="100%" cellpadding="0" cellspacing="0" width="100%" height="170px">
				<tr height="100%">
					<td align="left" width="100%" >
						<script>initWiseGrid("WiseGrid2", "100%", "100%");</script>
					</td>  
				</tr>
			</table>
            <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                <tr>
                    <td align="left" width="100%" >
                        <script>initWiseGrid("WiseGrid", "100%", "200");</script>
                    </td>
				</tr>
            </table> 
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
        </td>
    </tr>
</table>

<script>
    
    // ?ôîÎ©? resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // ?èÑ??Îß? ?Ç¥?ö© ?ûÖ?†•
    var helpStr = "?óà  ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
