############################################################
## 프로그램ID      : rp_01140_transProgressTransBill_list.vm
## 프로그램명      : 수송 전표별 수송진행행 현황
## 개발자          : 허준성
## 개발일자        : 2008-09-08 월요일
##
## 관련 job file   : job_sinc_40_replenishmentPlanning_03.xml
## 관련 query file : query_sinc_40_replenishmentPlanning_03.xml
##        
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.1        2011-10-26  우종균              update   
##
## CODE_MST   실행구분  : ACT_GUBN
##			    변경사유  : LaticeGrid -> WiseGrid로 SourceCode 변경
############################################################ 

     
## 비정상적 접근 방지 
#loginCheck() 
## 화면 resizing 을 위한 size 변수      
##set( $resizeFuncCallCode = "setGridAutoResize('79', '283')" ) 원본     
#set( $resizeFuncCallCode = "setGridAutoResize('79', '480')" )           ## 숫자 상승                            

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/replenishPlan.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 등록/수정 화면 이동한 후, 본 화면으로 이동할 때 조회조건을 기억하기 위한 parameter

<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
  GridCellDblClick(strColumnKey, nRow);
</script>

<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>


##  WiseGrid의 t_combo타입의 컬럼내용이 변경되었을때 발생합니다  
<script language=javascript for="WiseGrid" event="ChangeCombo(strColumnKey,nRow,nOldIndex,nNewIndex)">
	GridChangeComboHandler(strColumnKey, nRow, nOldIndex, nNewIndex);
</script>


<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
## Button기능 영역	
		<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
						#toolbar_nscm($_moon_toolbar "" "" "" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>	
## 조회 조건기능 영역	
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; "> 
            				<tr>  
								<td width="35%" align="left">
									수송유형 :&nbsp;    
																	 
									<select name="selected_plan_type" style="width:90px; ">
										<option value="">전체</option>
									#foreach( $condition in $code_mst_of_plan_type )  
										<option value="$condition.get(0)" #if($!{selected_plan_type} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select>	 	  							  
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;검색어 :&nbsp;
									<input type="text" name="search_item" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:100px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{search_item})">
									<input type="hidden" name="serch_item_pre" value ="$!{search_item}" >
								</td>
								
								
								<td width="15%" align="right">출고장 :</td>    
            					<td width="30%">									 
									<select name="selected_src_loc" style="width:100px; ">
										<option value="">전체</option>
									#foreach( $condition in $dc_id_and_short_name_list )  
										<option value="$condition.get(0)" #if($!{selected_src_loc} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select>	 	  							  
   								</td> 
							</tr> 
							<tr>  
								<td width="55%" align="left">
									수송기간 :&nbsp;   
																	 
									#date_sole_no_title("trans_start" "10" "normal" "btnS" $date.get('yyyy-MM-dd'))
									~ #date_sole_no_title("trans_end" "10" "normal" "btnE" $date.get('yyyy-MM-dd')) 	  							  
   								</td> 
								<td width="15%" align="right">입고장 :</td>    
            					<td width="30%">									 
									<select name="selected_tgt_loc" style="width:100px; ">
										<option value="">전체</option>
									#foreach( $condition in $dc_id_and_short_name_list )  
										<option value="$condition.get(0)" #if($!{selected_tgt_loc} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select>	 	  							  
   								</td> 
							</tr> 
            			</table> 
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>          
    ## 조회 영역
    <tr>
    </tr>
    <input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
	#############################################################################################################
    ## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
			
				##<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					##<h2 class="tab">중장기 자재수급 계획</h2>
					 
					<table id="gridArea1" width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
                                <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                                    <tr>
                                        <td align="left" width="100%" > ##  height="320px"   
                                            <script>initWiseGrid("WiseGrid", "100%", "320");</script>       
                                        </td> 
                    				</tr>
                                    <tr height="2">
        								<td style="background-color:#d0d0d0; " >  
        								</td>
        								<td style="background-color:#d0d0d0; " >
        								</td>
                                    </tr>
                                    <tr>  
                                        <td align="left" width="100%" > ## height="320px"             
                                            <script>initWiseGrid("WiseGrid2", "100%", "320");</script>     
                                        </td> 
                    				</tr>
                                </table>
        					</td>
    					</tr>
					</table>
				</div>
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
               
				<input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
            ## waiting 표시영역
          ##waitingArea()
                    
        </td>
    </tr>
</table>

<script>
    
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
	


	
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
	

	
           
</script> 
