############################################################
## 프로그램ID      : ip_05040_WMS_CloseInfo_Scm_list.vm
## 프로그램명       : WMS 출고마감별 사유관리
## 개발자           : 이강욱
## 개발일자         : 2015-02-06 수요일
##
## 관련 job file   : job_sinc_10_inventoryPlanning_04.xml
## 관련 query file : query_sinc_10_inventoryPlanning_04.xml
##        
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2015-02-06	CREATOR		신규 
##
############################################################ 
## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '120')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

##  WiseGrid의 t_combo타입의 컬럼내용이 변경되었을때 발생합니다  
<script language=javascript for="WiseGrid" event="ChangeCombo(strColumnKey,nRow,nOldIndex,nNewIndex)">
	GridChangeComboHandler(strColumnKey, nRow, nOldIndex, nNewIndex);
</script>


<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
  GridCellDblClick(strColumnKey, nRow);
</script>

<script language=javascript for="WiseGrid" event="HeaderClick(strColumnKey)">
  HeaderClick(strColumnKey);
</script>




<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
					<td width="50%" align="left">
						<input type="button" name="btnSync" 	value="재고 동기화" onClick="Synchronize();" class="btn2_on" >
					
					</td>
                	<td width="50%" align="right">
						#button("search")					
							
						<input type="button" name="btnSave" 	value="  저장" onClick="GoSave();" class="btn_sav_on" >
					</td>
            	</tr>
        	</table>
		</td>
	</tr>  
    ## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
								<td width="15%" align="left">
									조회일자 : 
									#date_sole_no_title( "start_date" "10" "normal" "work_dateBtn" $commonUtil.toDate($date.get('yyyy-MM-dd'),'YYYY-MM-DD','DAY',-1) )									
								</td>
								<td width="30%" align="left">
									물류 마감구분 :
									&nbsp;
									<select name="insel_close_gubn" >
										<option value="%" selected>전체</option>
										#foreach( $condition in $ip_05020_WMS_close_gubn_combo )
											<option value="$condition.get(0)" #if( "$!{insel_close_gubn}" == "$condition.get(0)" ) selected #end>$condition.get(1)</option>
										#end
									</select>								
            					</td>
								<td width="15%" align="left">
									조회구분 :
									&nbsp;
									<select name="in_sel_gubn">
        								<option value="01" #if( "$!{in_sel_gubn}" == "01" ) selected #end >SCM관리</option>
        								<option value="02" #if( "$!{in_sel_gubn}" == "02" ) selected #end >수출냉동</option>
        								<option value="%" #if( "$!{in_sel_gubn}" == "%" ) selected #end >전체</option>
        							</select>
								</td> 
								<td width="15%" align="left">
									배송지점 :
									&nbsp;
									<select name="insel_dc" >
										<option value="%" selected>전체</option>
										#foreach( $condition in $ip_05010_DC_combo )
											<option value="$condition.get(0)" #if( "$!{insel_dc}" == "$condition.get(0)" ) selected #end>$condition.get(1)</option>
										#end
									</select>
            					</td>	
								<td width="30%" align="left">
									품목 :
									&nbsp;
									<input name="item_id" class="normal" style="width:70px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_id}">
									<input name="item_name" class="normal" readOnly style="width:180px; " value="$!{item_name}"><img
										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
										align="absmiddle" border="0" style="cursor:pointer;"  
										onClick="openCodeSearchPop('item_id', 'item_name', '400', '300'); ">
								</td>	
							</tr>
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
    ## TAB 영역
    <tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				<table id="gridArea1" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					 
                        <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                            <tr >
                                <td  width="100%" > 
                                    <script>initWiseGrid("WiseGrid", "100%", "100%");</script>     
                                </td> 
            				</tr>
						
							
                        </table>
					
				</td></tr></table>
			</div>
            
            <table height="5"><tr><td></td></tr></table>
            
			<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
        </td>
    </tr>
</table>

<script>
 
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
