############################################################
## 프로그램ID		: ip_07010_BL_popup.vm
## 프로그램명		: SCM품목추적조회(B/L popup)
## 개발자		: 남웅용
## 개발일자		: 2009-07-17 
##
##관련 job file 		: job_sinc_10_inventoryPlanning_04.xml
##
##관련 query file	: query_sinc_10_inventoryPlanning_04.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2009-07-17  남웅용     ip_07010_BL_popup.vm 개발
##
##
############################################################

## 비정상적 접근 방지 
#loginCheck() 
## 화면 resizing 을 위한 function 호출 코드
#set( $resizeFuncCallCode = "setGridAutoResize('90', '100')" )
<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr>
								<td width="20%" align="right"> 
									B/L : 
								</td>
								<td width="35%" align="left"> 
									<input type="text" name="selected_item_id" maxlength="100" class="normal" 
										onKeyPress="enterCheck('$_moon_service'); " value="$!{selected_bl_no}" 
										onBlur="strCheck(); " ondblClick="select(); " style="width:100px; "
										#if( "$!{selected_bl_no}" == "$!{delete_code_input}" ) onClick="firstClick();" #end>
            						#if( "$!{first_condition}" != "N" )
            							<script>document.frm.selected_bl_no.select();</script>
            						#end 
								</td>
                            	<td width="15%" align="right">
            						#button("search")
            					</td>
							</tr>
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="25"> ## search 조건 부분 높이
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
##					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
##						<tr>
##							<td>#page_info()</td>
##							<td align="right">#table_display()</td>
##						</tr>
					</table>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>	
								
								#set( $header = "입고일!%!B/L" )
								
								## 이중헤더
								##set( $topheader = "코드/%/속성1/%/속성2" )
								##set( $topheaderPosition = "X!%!O!%!O/%/X!%!O!%!O!%!O/%/O!%!O" )
								
								#set( $headerType = "DATE!%!TEXT" )
								#set( $colwidth = "100!%!220" )
								#set( $colalign = "CENTER!%!LEFT" )
								#set( $data = $zlattice.getBody($!{ip_07030_BL_popup},"!%!", "/%/") ) 
								
								<textarea id="txt1" style="display:none;" rows="0" cols="0"> 
									<object name='grid'
										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
										<!--Necessary-->  
										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
										<param name="archive" value="zLattice.jar">
										<param name="headertypes" value= "$headerType">
										<param name="headers"  value= "$header">
										<param name="data" value= "$data">
										<!--Necessary for Modification Grid -->
										<param name="names" value= "" >
										<!--Necessary for Cookie -->
										<param name="identity" value="ip_07030_BL_popup">
										<!--Necessary in TYPE COMBO 
										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
										<!--optional - Default Value 있음-->
										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
										<param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="groupingcolumn" value="-1"> <!-- defalut : 그루핑 없음 -->
										<param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
										<param name="lockedcolumn" value="0"> <!-- defalut : 락킹 없음 -->
										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
										<param name="indateformat" value="MM/dd/yyyy HH:mm:ss"> <!-- default - yyyyMMdd -->
										<param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0.0"> 									 
										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
										<param name="hasverticaltotal" value="false"> <!-- default -true -->
										<param name="hashorizontaltotal" value="false"> <!-- default -true -->
										<param name="totalrowcolor" value="909090"> <!-- default ? E6E6FA -->
										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
										<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
										<param name="hascookie" value="flase"> <!-- default -false -->
										<param name="enableinserting" value="false"> <!-- default -false -->
										<param name="enabledeleting" value="false"> <!-- default -false -->
										<param name="enableediting" value="false"> <!-- default -false -->
										<!--optional - Default Value 없음-->
										##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
										<param name="onclickrowfunc" value="fillOpenWindow">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
										<param name="disablecolumns" value="">
										<param name="columnalign" value="$colalign">
										<param name="font" value="굴림">
										<param name="fontsize" value="12">
										<param name="columnheight" value="30">
										<param name="headertype" value="HORIZONTAL_HEADER">
										
										## 이중 헤더
										<param name="hasnestedsubheader" value="false"> 
										<param name="topheaders" value="$!{topheader}">
										<param name="topheaderposition" value="$!{topheaderPosition}">
										<param name="enabledragging" value="true">
									</object>
								</textarea> 
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
							</td>
						</tr>
					</table> 
					
					<table height="5"><tr><td></td></tr></table>
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
##						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
						<input type="hidden" name="_user_id" value="$!{_user_id}">
					</td></tr></table>
					
					</td></tr></table>
					
					## waiting 표시영역
					##waitingArea()
					<table width="100%" height="100%" id="waitArea" style="display:none; ">
                    	<tr>
                    		<td valign="middle" align="center">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/progress_waiting.gif" 
                    				align="absmiddle" border="0" width="200px" height="60px">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/loading_icon.gif" 
                    				align="absmiddle" border="0" width="60px" height="60px">
                    			<br><h6>&nbsp;</h6>
                    		</td>
                    	</tr>
                    </table>					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 제품 검색 POPUP 화면입니다.";
	helpStr += "<br>◈ 제품 입력창은 제품 코드, 제품 명 모두 검색 가능합니다.";
	helpStr += "<br>◈ 데이터 리스트에서 원하는 제품을 더블 클릭하면 창이 닫히고 해당 제품이 부모창에 표시됩니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
</script> 
