############################################################
## 프로그램ID      : op_02010_Long_Term_Planning_list.vm
## 프로그램명      : 중장기 자재수급 / 상품발주 계획
## 개발자          : 권용찬
## 개발일자        : 2010-04-12
##
## 관련 job file   : job_op_02010_Long_Term_Planning_list.xml
## 관련 query file : query_op_02010_Long_Term_Planning_list.xml
##        
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2010-04-12  권용찬      create   
##
## CODE_MST   실행구분  : ACT_GUBN
##			    변경사유  : CHNG_RESN
############################################################ 

     
## 비정상적 접근 방지 
#loginCheck() 
## 화면 resizing 을 위한 size 변수      
##set( $resizeFuncCallCode = "setGridAutoResize('79', '283')" ) 원본     
#set( $resizeFuncCallCode = "setGridAutoResize('79', '310')" )           ## 숫자 상승                   

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/replenishPlan.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 등록/수정 화면 이동한 후, 본 화면으로 이동할 때 조회조건을 기억하기 위한 parameter

<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
  GridCellDblClick(strColumnKey, nRow);
</script>
<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>

<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid3" event="Initialize()">
	init3();
</script>
<script language="javascript" for="WiseGrid3" event="EndQuery()">
	GridEndQuery3();
</script>

<!--  	서버와의 통신이 정상적으로 완료되면 발생한다.   -->
<script language="javascript" for="WiseGrid4" event="Initialize()">
	init4();
</script>
<script language="javascript" for="WiseGrid4" event="EndQuery()">
	GridEndQuery4();
</script>



## WiseGrid의 셀을 클릭했을때 발생한다. 
<script language=javascript for="WiseGrid3" event="CellDblClick(strColumnKey, nRow)">
  	GridCellDblClickHandler(strColumnKey, nRow);
</script>

## DW5 의 셀을 클릭했을때 발생한다. 
<script language=javascript for="WiseGrid4" event="CellDblClick(strColumnKey, nRow)">
  	DW4_DblClick(strColumnKey, nRow);
</script>

## DW5 의 셀을 클릭했을때 발생한다. 
<script language=javascript for="WiseGrid5" event="CellDblClick(strColumnKey, nRow)">
  	DW5_DblClick(strColumnKey, nRow);
</script>

##  WiseGrid의 t_combo타입의 컬럼내용이 변경되었을때 발생합니다  
<script language=javascript for="WiseGrid" event="ChangeCombo(strColumnKey,nRow,nOldIndex,nNewIndex)">
	GridChangeComboHandler(strColumnKey, nRow, nOldIndex, nNewIndex);
</script>

## 그리드의 스크롤 이동시에 발생하는 이벤트 
##<script language=javascript for="WiseGrid" event="RowScroll(nFirstVisibleRowIndex, nEndVisibleRowIndex)">
####  	GridRowScrollHandler(nFirstVisibleRowIndex, nEndVisibleRowIndex);
####</script>
<!--	 WiseGrid의 셀의 내용이 변경되었을때 발생한다. -->
<script language="javascript" for="WiseGrid2" event="ChangeCell(strColumnKey,nRow,nOldValue,nNewValue)">
	Grid2ChangeCell(strColumnKey, nRow,nOldValue,nNewValue);
</script>

<!--	 WiseGrid의 셀의 내용이 변경되었을때 발생한다. -->
<script language="javascript" for="WiseGrid3" event="ChangeCell(strColumnKey,nRow,nOldValue,nNewValue)">
	Grid3ChangeCell(strColumnKey, nRow,nOldValue,nNewValue);
</script>


  


<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## 기능 버튼 영역
    <tr>
        <td height="25" align="right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
                <tr>
                    <td >
                        <table border="0" width="100%" cellpading="0" cellspacing="0">
                            <tr height="2">
                                <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                            </tr>
                            <tr>
                                <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                                <td width="100%">
                                    <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                        				<tr>
											<td width="70px" align="right"> 
                        						작업일자 :
                        					</td>								
                        					<td width="120px" align="left" colspan="4">
            									#date_sole_no_title("cnfm_date" "10" "normal" "btnE" "$commonUtil.toDate($date.get('yyyy-MM-dd'),'YYYY-MM-DD','DAY',-1)")
                        					</td>
            								#############
            								<td width="80px" align="right" > 
            									정렬기준 :
            								</td> 
                        					<td width="60px" align="left">
            									<select name="sort_flag">
                                          			<option value="sort_dc"   #if( "$!{sort_flag}" == "sort_dc")  selected #end>배송지점</option>
                                          			<option value="sort_item" #if( "$!{sort_flag}" == "sort_item") selected #end>품목코드</option>
            									</select>
                        					</td>																			
            								<td>
            									##<input type="button" name="btnPopupMonthly"	value=" 일괄 변경"  onClick="changeChecked(); " class="btn2_on"/>  
            									<select name="changeTemp">
                                          			<option value="">미납사유 선택</option>  
            										#foreach( $condition in $ip_02070_Edi_Default_code_combo )
            											<option value="$condition.get(0)"  #if( "$!{changeTemp}" == "$condition.get(1)" ) selected #end>$condition.get(1)</option>
            										#end
            									</select>									
									<input name="btnDeSelectRow" type="button" value="일괄변경" style="width:50px; text-align:center;" onClick="changeChecked(this); " ##clickLine(this,1); 
            							class="button1_1" onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">
									<input name="btnDeSelectRow" type="button" value="선택해제" style="width:50px; text-align:center;" onClick="rowInsDeSel(this); " ##clickLine(this,1); 
            							class="button1_1" onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">

            								</td>
											<td>
            								</td>
            							</tr>
                                    </table>  
                                </td>
                                <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                            </tr>
                            <tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
                        </table>
                    </td> 					
                    <td align="right">
                        #button("search")  
						<input type="button" name="btnSave" 		value="  저장" onClick="GoSave();" class="btn_sav_on" >
						<input type="button" name="btnExcelUpload"	value=" Excel ▲"  onClick="excelUpload(); " class="btn1_on"/>
						<input type="button" name="btnPopupMonthly"	value=" 월간미납현황"  onClick="popupMonthly(); " class="btn3_on"/>  
                    </td>
                </tr>
            </table>
        </td>
    </tr>      
    ## 조회 영역
    <tr>
    </tr>
    <input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
	#############################################################################################################
    ## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
			
				##<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					##<h2 class="tab">중장기 자재수급 계획</h2>
					 
					<table id="gridArea1" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					 
                        <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                            <tr>
                                <td align="left" width="100%" > ##  height="320px"   
                                    <script>initWiseGrid("WiseGrid", "100%", "280");</script>     
                                </td> 
            				</tr>
							<tr>
								<td>
                        			<font color="black">
										<input type="text" name="sel_item_id" value="$!{sel_item_id}" readonly> -
										<input type="text" name="sel_item_name" value="$!{sel_item_name}" width="200px"	 readonly>    
								</td>
							</tr>
                            <tr height="2">
								<td style="background-color:#d0d0d0; " >
								</td>
								<td style="background-color:#d0d0d0; " >
								</td>
                            </tr>
							<tr>  
            					<td align="right">
                					<table id="tbBottom" border="0" width="100%" cellpadding="0" cellspacing="0" width="100%" height="150">   
										<tr height="100%">
                							<td align="left"  id="tdBLeft"> ## 판매정보영역 
                								<table border="0" width="100%" cellpadding="0" cellspacing="0" width="100%" height="100%">
                									
													<tr height="50px">   
                										<td width="100%" height="70px">
                											<script>initWiseGrid("WiseGrid2", "100%", "85");</script>   
                										</td>
                									</tr> 
                									<tr height="100px">       
                										<td width="100%" height="70px">
                											<script>initWiseGrid("WiseGrid4", "100%", "100");</script>
                										</td>  
                									</tr>
                									<tr height="80px"> 
                										<td width="100%" height="120px">  
                											<script>initWiseGrid("WiseGrid3", "100%", "100");</script>
                										</td>
                									</tr>
												</table> 
                							</td>
                						</tr>
                					</table>									
            					</td>
                            </tr>
                        </table>
					
					</td></tr></table>
				</div>
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
            ## waiting 표시영역
            ##waitingArea()
                    
        </td>
    </tr>
</table>

<script>
    
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 버전 초기값 세팅
	//setVersions(document.frm.plan_version.value);
	//doChange();
//	if( "$!{version}" != "" ) {
//		document.frm.version.value = "$!{version}";
//	}
	// 입고장 리스트 생성
	//doChangeVersion();

	
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
	

	
           
</script> 
