## 프로그램명 : <!-- 품목별 재고추이 분석  02 -->
## 개발자 : 권용찬
## 개발일자 : 2008-10-17 금요일


## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('150', '197')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
						###toolbar_nscm($_moon_toolbar "" "" "" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; " id="search_menu">
							<tr>
            					<td width="20%" align="right">
            						기간 :
									&nbsp;
									#date_sole_no_title("start_date" "10" "normal" "btnS" "$date.get('yyyy-MM')-01")
									~ #date_sole_no_title("end_date" "10" "normal" "btnE" "$date.get('yyyy-MM-dd')")
            					</td>								
								<td width="3%" align="right"> 
            						구분 :
            					</td>
								<td width="52%" align="center">
									<select name="item_type" > 
										<option value="" selected >전체</option>
										<option value="FERT" #if( "$!{item_type}" == "FERT" ) selected #end>제품</option>
										<option value="HAWA" #if( "$!{item_type}" == "HAWA" ) selected #end>상품</option>
									</select>
									<select name="search_type">
                              			<option value="">선택</option> 
                              			<option value="1020"#if( "$!{search_type}" == "1020" ) selected #end>면/스낵</option> 
											##<option value="10V"#if( "$!{search_type}" == "10V" ) selected #end>면(Visual구분)</option>
										#foreach( $condition in $ip_02020_combo_search_type )
											<option value="$condition.get(0)"  #if( "$!{search_type}" == "$condition.get(0)" ) selected #end>$condition.get(1)</option>
										#end
                              			<option value="P40"#if( "$!{search_type}" == "P40" ) selected #end>유통가공품</option> 
										<option value="310"#if( "$!{search_type}" == "310" ) selected #end>용기면(VISUAL)</option>
										<option value="T86"#if( "$!{search_type}" == "T86" ) selected #end>관심 품목</option>
										<option value="T87"#if( "$!{search_type}" == "T87" ) selected #end>관심 품목-II</option>
										<option value="O1020"#if( "$!{search_type}" == "O1020" ) selected #end>수출 면/스낵</option>
										<option value="O10"#if( "$!{search_type}" == "O10" ) selected #end>수출 면</option>
										<option value="O20"#if( "$!{search_type}" == "O20" ) selected #end>수출 스낵</option>
										<option value="JG"  #if( "$!{search_type}" == "JG" ) selected #end>장기체화예상(전체)</option>
										<option value="JG10"#if( "$!{search_type}" == "JG10" ) selected #end>장기체화예상(음료)</option>
										<option value="JG20"#if( "$!{search_type}" == "JG20" ) selected #end>장기체화예상(상품1팀)</option>
										<option value="JG30"#if( "$!{search_type}" == "JG30" ) selected #end>장기체화예상(상품2팀)</option>
									</select>
									<select name="in_act_type" onChange="" >
										<option value="01" #if( "$!{in_act_type}" == "01" ) selected #end >일반</option>
										##<option value="02" #if( "$!{in_act_type}" == "02" ) selected #end >타계정</option>
										<option value="02" #if( "$!{in_act_type}" == "02" ) selected #end >타계정포함</option>
									</select>
									##&nbsp;&nbsp;
									##MTO/MTS : &nbsp;
									##<input type="radio" name="checked_button_mt" value="ALL" style="border:0px; "
            						##	onClick="this.checked" #if($!{checked_button_mt} == "ALL") checked #else #end checked>전체</input>&nbsp;
									##<input type="radio" name="checked_button_mt" value="MTO" style="border:0px; "
            						##	onClick="this.checked" #if($!{checked_button_mt} == "MTO") checked #else #end >MTO</input>&nbsp;
									##<input type="radio" name="checked_button_mt" value="MTS" style="border:0px; "
            						##	onClick="this.checked" #if($!{checked_button_mt} == "MTS") checked #else #end >MTS</input>
            					</td>									
								<td width="25%" align="left">
									검색어 :
									&nbsp;
									<input type="text" name="search_item" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:100px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{search_item})">
									<input type="hidden" name="serch_item_pre" value ="$!{search_item}" >
								</td>
								<td></td>
							</tr>
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>#page_info()</td>
							<td align="right">#table_display()</td>
						</tr>
					</table> 
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>	
							<td>
								#set( $header 	  = "자재그룹1!%!자재그룹3!%!제품코드!%!제품명!%!규격!%!구분!%!기초재고!%!재고일수!%!유통기한\n경과일수!%!유통기한\n평균경과!%!경과일수히든!%!유통기한히든!%!유통기한!%!유통기한\n경과율!%!전일계!%!일계!%!누계!%!전월계!%!예상재고!%!금일생산계획!%!금주잔여\n생산계획!%!차주생산계획!%!총공급량!%!총재고일수!%!생산누계!%!1주평균판매!%!3주평균판매!%!1/3주평균\n편차!%!편차비율!%!전년동월\n누계!%!전년동월\n대비!%!년누계!%!전년누계!%!전년누계\n대비!%!판매목표!%!판매목표\n달성률!%!기초재고\n(PALLET)!%!예상재고\n(PALLET)!%!재고소진완료\n경과율!%!장기체화\n처리기한!%!사외창고!%!생산의뢰량" )
								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!TEXT!%!NUMBER!%!NUMBER" ) 
								#set( $colwidth   = "0!%!80!%!80!%!150!%!100!%!60!%!70!%!70!%!70!%!0!%!0!%!0!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!70!%!100!%!70!%!70!%!0!%!0!%!0!%!0" ) 
								#set( $colalign   = "CENTER!%!CENTER!%!CENTER!%!LEFT!%!LEFT!%!CENTER!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
								##set( $colCor = "8=eeeeee&9=eeeeee&10=eeeeee&11=eeeeee&15=eeeeee&16=eeeeee&17=eeeeee&21=eeeeee&22=eeeeee&23=eeeeee&27=eeeeee&28=eeeeee&29=eeeeee" )
								
								## 이중헤더
								##set( $topheader = "$gh.get(0).get(0)/%/$gh.get(0).get(1)/%/$gh.get(0).get(2)/%/$gh.get(0).get(3)/%/$gh.get(0).get(4)/%/$gh.get(0).get(5)/%/$gh.get(0).get(6)" )
								##set( $topheaderPosition = "X!%!X!%!X!%!X!%!X!%!X!%!X!%!O!%!O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O/%/O!%!O!%!O" )
								
								#set( $data = $zlattice.getBody($!{ip_01050_inventoryPlanAnalysis_02_list},"!%!", "/%/") )
								
								<textarea id="txt1" style="display:none;" rows="0" cols="0"> 
									<object name='grid'
										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
										<!--Necessary--> 
										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
										<param name="archive" value="zLattice.jar">
										<param name="headertypes" value= "$headerType">
										<param name="headers"  value= "$header"> 
										<param name="data" value= "$data">
										<!--Necessary for Modification Grid -->
										<param name="names" value= "" >
										<!--Necessary for Cookie -->
										<param name="identity" value="ip_01050_inventoryPlanAnalysis_02_list">
										<!--Necessary in TYPE COMBO 
										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
										<!--optional - Default Value 있음-->
										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
										<param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="groupingcolumn" value="2"> <!-- defalut : 그루핑 없음 -->
										<param name="groupsumcolumn" value="2"> <!-- defalut : 그루핑 없음 -->
										<param name="lockedcolumn" value="6"> <!-- defalut : 락킹 없음 -->
										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 --> 
										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
										<param name="indateformat" value="yyyy-MM-dd"> <!-- default - yyyyMMdd -->
										<param name="outdateformat" value="yyyy-MM-dd">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0.#"> 									 
										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
										<param name="hasverticaltotal" value="false"> <!-- default -true -->
										<param name="hashorizontaltotal" value="true"> <!-- default -true -->
										<param name="totalrowcolor" value="E6E6FA"> <!-- default ? E6E6FA -->
										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
										<param name="totalhorizontalrowcolor" value="98FB98"> <!-- default ? E6E6FF -->
										<param name="hascookie" value="false"> <!-- default -false -->
										<param name="enableinserting" value="false"> <!-- default -false -->
										<param name="enabledeleting" value="false"> <!-- default -false -->
										<param name="enableediting" value="false"> <!-- default -false -->
										<!--optional - Default Value 없음-->
										##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
										<param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
										<param name="disablecolumns" value="">
										<param name="columnalign" value="$colalign">
										<param name="font" value="굴림">
										<param name="fontsize" value="12">
										<param name="columnheight" value="55">
										<param name="headertype" value="HORIZONTAL_HEADER">
										
										## 이중 헤더
										<param name="hasnestedsubheader" value="true"> 
										<param name="topheaders" value="$!{topheader}">
										<param name="topheaderposition" value="$!{topheaderPosition}">
										<param name="enabledragging" value="true">
									</object>
								</textarea> 
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
							</td>
						</tr>
					</table> 
					
					<table height="5"><tr><td></td></tr></table>
					<table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
						$moon.paging($_moon_service, $_moon_service_count, $_moon_perpage, $_moon_pagenumber, $request.getContextPath())
						<input type="hidden" name="_moon_service" value="${_moon_service}">
						<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
						##<input type="hidden" name="_moon_pagenumber" value="300">

						<input type="hidden" name="_user_id" value="$!{_user_id}">
					</td></tr></table>
					
					</td></tr></table>
					
					## waiting 표시영역
					#waitingArea()
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 물류거점명, 품종구분, 품목코드중 하나이상을 조건으로 설정하여야 조회가 가능합니다.";
	helpStr += "<br>◈ 각 제/상품에 대한 일주일 동안의 재고 추이를 분석할수있는 화면입니다.";
	helpStr += "<br>◈ 한 화면에서 2일간의 예상재고 데이타를 확인하실 수 있습니다.";
	helpStr += "<br>◈ 시작일자는 예상재고를 보고싶은 시작일자입니다.(일반적으로 수송계획 시작일자)";
	helpCont.innerHTML = helpStr;

	
</script> 
