############################################################
## 프로그램ID : ip_02060_SalesAllocationNiceLikePlan.vm
## 프로그램명 : 공급정보입력정정
## 개발자  : 남웅용
## 개발일자 : 2010-02-18
##
##관련 job file : 
##
##관련 query file : 
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2010-02-18  남웅용     ip_02060_SalesAllocationNiceLikePlan.vm 개발
##
##
############################################################

## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수
#set( $resizeFuncCallCode = "setWiseGridAutoResize('150', '120')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/replenishPlan.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

############################ Index ###################################
## 전월실적(0)      입고사업장ID(1)  입고사업장(2)    당일재고(3) 
## 판매누계(4)     판매오더(5)       1주평균판매(6)    3주평균판매(7)  
## 입고예정(8)     출고예정(9)       예상재고(10)    ,  재고기간(25)
## 익일판매계획(12) 안전재고(13)      보충요구량(14)  공급량PLT(15)  
## 공급량BOX(16)   출고사업장ID(17)  출고사업장(18)   예상재고2(19)
## 최소수송단위(20) 전일판매(21)    CRDC_FLAG(22)	당일판매계획(23)	익일판매오더 (24)


#########################################    WiseGrid Event     #####################################################			
######################################### 기본 Event외 추가 Event #####################################################

<script language=javascript for="WiseGrid" event="HeaderClick(strColumnKey)">
	HeaderClick_DW1(strColumnKey);
</script> 

<script language=javascript for="WiseGrid" event="RowActivate(nRow)">
	GridRowActivate(nRow);
</script> 

## WiseGrid가 생성됨과 동시에 발생한다. 
<script language="javascript" for="WiseGrid2" event="Initialize()">
	init2();
</script>

## DoQuery 메소드가 실행되고 서버와의 통신이 정상적으로 완료되면 발생한다. 
<script language="javascript" for="WiseGrid2" event="EndQuery()">
	GridEndQuery2();
</script>

<script language="javascript" for="WiseGrid3" event="Initialize()">
	init3();
</script>

## DoQuery 메소드가 실행되고 서버와의 통신이 정상적으로 완료되면 발생한다. 
<script language="javascript" for="WiseGrid3" event="EndQuery()">
	GridEndQuery3();
</script>


<script language=javascript for="WiseGrid2" event="RowActivate(nRow)">
	Grid2RowActivate(nRow);
</script> 

<!--	 WiseGrid의 셀의 내용이 변경되었을때 발생한다. -->
<script language="javascript" for="WiseGrid2" event="ChangeCell(strColumnKey,nRow,nOldValue,nNewValue)">
	GridChangeCell_DW2(strColumnKey, nRow,nOldValue,nNewValue);
</script>

############################################ WiseGrid Event #########################################################
##onkeypress
<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0" > ##onkeydown="enterShortKey();" onKeyUp="onKeyUp();"
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
					<td align="left">
						## 적용일자
							<input type="text" name="cnfm_date" size="10" class="normal" value="$ip_02060_NEXT_SALE_DATE.get(0).get(0)" maxlength="10" onBlur="chkDate(this, '10')" 
                				onkeypress="enterCheckDate('$_moon_service', this, '10');" onChange="doChange2();" style="text-align:center; "><img src="sinc/template/basic/skin/nongshim/images/common/icon_cal.gif"
                				id="btnS" align="absmiddle" border="0" style="cursor:pointer;">
                	    	<script type="text/javascript">
                        	    Calendar.setup({
                        	        inputField     :    "cnfm_date",     // id of the input field
                        			ifFormat       :    "%Y-%m-%d",      // format of the input field 
                        			button         :    "btnS",  			// trigger for the calendar (button ID)
                        	        align          :    "Tl",           // alignment (defaults to "Bl")
                        	        singleClick    :    true
                        	    });
                        	</script>
						##date_sole_no_title("cnfm_date" "10" "normal" "btnS" $ip_02060_NEXT_SALE_DATE.get(0).get(0))
    					<a id="divItemCombo" align="left">
    						##품목
    						<select name="item_id" onChange="" >
    							<option value=""  selected  >선택</option>
    						</select>
    					</a>
						<script>
							doChange2();
						</script>
		                <input name="item_info" class="normal" style="width:50px; " value="" style="text-align:center; " disabled >	
						##<input name="box_per_palet" class="normal" style="width:30px; " value="" style="text-align:center; " disabled >	
						<input type="hidden" name="box_per_palet" value="">
						<input type="hidden" name="itype" value="">
						<input name="cd_gubn" class="normal" style="width:40px; font:10px/15px 맑은 고딕 bold;" value="" style="text-align:center; " disabled >	
						<input type="hidden" name="curr_item_id" value="">
						<input type="hidden" name="curr_cnfm_date" value="">
						<input type="hidden" name="curr_version" value="">
						<input type="hidden" name="today" value="$date.get('yyyy-MM-dd')">
						<input type="button" name="btnAllocConf" value="" onClick="execute_alloc_flag_yes();"
								class="btn1_on">
						<input type="button" name="btnAddAllocConf" value="" onClick="execute_add_alloc_flag_yes();"
								class="btn1_on">
						<input type="text" name="common_comment" class="normal" style="width:320px; text-align:left; maxlength:500; font:12px/15px 맑은 고딕 bold; ">
					</td>
					<td align="right">
						#button("search")
						<input type="button" name="btnSave" value="  저장" onClick="GoSave();" class="btn_sav_on" > 
						<a id="divDeptStorQuota">
							<input type="hidden" name="quota_dept_code" value="">
						</a>
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " ></td>
				</tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " ></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" 
							id="search_menu" style="background-color:#f2f2f2; display:block; ">
            				<tr>
								<td colspan="2" align="left">
									공급할당기준
									<select name="insel_allocQoutaType" onChange="check_QoutaType_Change();" >
										##<option value="%" #if( "$!{sel_allocQuotaType}" == "%" || "$!{sel_cal_grp}" == "") selected #end >전체</option>
										#foreach( $condition in $ip_02060_combo_allocQuotaType )
											<option value="$condition.get(0)" >$condition.get(1)</option>
										#end
									</select>
									&nbsp;&nbsp;
									공급할당사유
									<select name="insel_allocReason" >
											<option value = "00" selected>선택</optione>
										#foreach( $condition in $ip_02060_combo_allocReason )											
											<option value="$condition.get(0)" 
												#if( "$!{sel_allocReason}" == "$condition.get(0)"  || "$ip_02040_DC_ALLOC_ITEM_INFO.get(0).get(1)" == "$condition.get(0)" ) selected #end>$condition.get(1)</option>
										#end
									</select>
									&nbsp;&nbsp
									품목 메세지&nbsp; 
									<input type="text" name="alloc_comment" class="normal" style="width:500px; text-align:left; maxlength:100; font:12px/15px 맑은 고딕 bold; ">
									&nbsp;
									<input name="btn_Caculate_DW2" type="button" value="출고장 재계산" style="width:80px; text-align:center;" onClick="ReCalculation_DW2(); "  
            							class="button1_1" onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">
									&nbsp;&nbsp
									자동공급할당
									<input name="chk_AutoAllocCheck" type="checkbox" class="normal" onClick="AutoAllocQoutaType_disabled(this);"
        								style="background-color:#f2f2f2; border:0;"  >
									##<select name="insel_AutoAllocQoutaType" onChange="" disabled >
									##	#foreach( $condition in $ip_02060_combo_allocQuotaType )
									##		<option value="$condition.get(0)" >$condition.get(1)</option>
									##	#end
									##</select>
								</td>
								<td>
								</td>
							</tr>
							<tr>
            					<td align="left">
									할당율
            						<input type="text" name="dc_alloc_rate" class="normal" style="width:40px; text-align:right; "  
										style="ime-mode:disabled;" onkeypress="checkForNumber(this);" onKeyDown="enter_dc_alloc(this);" disabled> ## onChange ="Do_DC_Allocate(this);">
									&nbsp;
									판매계획or누적有
									<input name="chk_sel_10" type="checkbox" class="normal" onClick="doQuery2();"
        								style="background-color:#f2f2f2; border:0;" checked>
									&nbsp;
									재고有
									<input name="chk_sel_11" type="checkbox" class="normal" onClick="doQuery2();"
        								style="background-color:#f2f2f2; border:0;" checked>
									&nbsp;
									C/D연산
									<input name="chk_sel_20" type="checkbox" class="normal" onClick="ReCalculation_DW2();"
        								style="background-color:#f2f2f2; border:0;" >
								</td>
								<td align="right">
            						누적
									<input name="chk_add_alloc" type="checkbox" class="normal" onClick=""
        								style="background-color:#f2f2f2; border:0;" >
									ZONE
									<select name="insel_CAT_ALLOC_ZONE" onChange="" >
										#foreach( $condition in $ip_02060_combo_catAllocZone )
											<option value="$condition.get(0)" >$condition.get(1)</option>
										#end
									</select>
									&nbsp;할당율
            						<input type="text" name="alloc_rate" class="normal" style="width:40px; text-align:right; "  
										style="ime-mode:disabled;" onkeypress="checkForNumber(this);" onKeyDown="enter_alloc(this);" > ## onChange ="Do_DC_Allocate(this);">
									&nbsp;추가율
            						<input type="text" name="add_alloc_rate" class="normal" style="width:40px; text-align:right; "  
										style="ime-mode:disabled;" onkeypress="checkForNumber2(this);" onKeyDown="enter_add_alloc(this);"> ## onChange ="Do_DC_Allocate(this);">
        						    &nbsp;달성율
            						<input type="text" name="alloc_goal_rate" class="normal" style="width:40px; text-align:right; "  
										style="ime-mode:disabled;" onkeypress="checkForNumber2(this);" onKeyDown="enter_alloc_goal_rate(this);"> ## onChange ="Do_DC_Allocate(this);">
        						    &nbsp;EDI
            						<input type="text" name="alloc_by_edi" class="normal" style="width:40px; text-align:right; "  
										style="ime-mode:disabled;" onkeypress="checkForNumber2(this);" onKeyDown="enter_alloc_by_edi(this);"> 
									&nbsp;
									##<select name="in_sel_gubn" onChange="doQuery_DW1();">
            						##	<option value="01" #if( "$!{in_sel_gubn}" == "01" ) selected #end >출고장-지점</option>
            						##	<option value="02" #if( "$!{in_sel_gubn}" == "02" ) selected #end >지점-출고장</option>
            						##</select>            					
    								&nbsp;
									실적有
									<input name="chk_sel_01" type="checkbox" class="normal" onClick=""
        								style="background-color:#f2f2f2; border:0;" checked >
									EDI有
									<input name="chk_sel_02" type="checkbox" class="normal" onClick="chk_sel_02_EDI_disabled(this);"
        								style="background-color:#f2f2f2; border:0;" >
									<select name="chk_sel_02_EDI" disabled > ##onChange="setHeader_by_combo(this);"
            							<option value="00" #if( "$!{chk_sel_02_EDI}" == "00" ) selected #end >전체</option>
            							<option value="22" #if( "$!{chk_sel_02_EDI}" == "22" ) selected #end >이마트</option>
            							<option value="21" #if( "$!{chk_sel_02_EDI}" == "21" ) selected #end >HOME+</option>
            							<option value="23" #if( "$!{chk_sel_02_EDI}" == "23" ) selected #end >롯데마트</option>
            							<option value="99" #if( "$!{chk_sel_02_EDI}" == "99" ) selected #end >기타</option>
            						</select>    
									추가요청
									<input name="chk_sel_03" type="checkbox" class="normal" onClick=""
        								style="background-color:#f2f2f2; border:0;" >
        						</td>
            				</tr>
						</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2">
					<td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="50"> ## search 조건 부분 높이
	<tr><td height="1"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
				<td align="left" width="41%" > 
					<table name="grid2" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr height="20%">
							<td >
							<script>initWiseGrid("WiseGrid3", "100%", "100%");</script>
							</td>
						</tr>
						<tr  height="80%">
							<td>
							<script>initWiseGrid("WiseGrid2", "100%", "100%");</script>
							</td>
						</tr>
					</table>
				</td>
				<td  align="left" width="59%" > 
					<table name="grid3" width="100%" height="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr height="100%">
    						<td align="left" width="100%" > 
    							<script>initWiseGrid("WiseGrid", "100%", "100%");</script>
    						</td>
						</tr>
					</table>
				</td>
			</table>
		</td>
	</tr>

	<input type="hidden" name="_moon_service" value="$!{_moon_service}">
	<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
	<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
	<input type="hidden" name="_user_id" value="$!{_user_id}">
	## 번호 배경색
	<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">

</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 계획버전, 수송일자, 품목코드를 반드시 입력하고 조회해야 합니다.";
	helpStr += "<br>◈ 각 항목을 입력한 후 상단의 저장 버튼을 클릭하여 수정 내용을 저장합니다.";
	helpStr += "<br>◈ PLT, BOX를 수정하기 전에 출고장을 먼저 선택하셔야 합니다.";
	helpStr += "<br>◈ 수정가능한 컬럼은 PLT, BOX, 출고사업장, 최소수송단위 입니다.";
	helpStr += "<br>◈ PLT나 BOX를 0으로 변경하면 해당 수송계획은 삭제됩니다.";
	helpStr += "<br>◈ PLT값을 수정하면 BOX 수량이 자동 셋팅되고, BOX값을 수정하면 PLT값이 자동 셋팅됩니다.";
	helpCont.innerHTML = helpStr;
	// 도움말 zoomOut 높이 조절 변수
	hDynamicHeight = 0;
	
</script>
