## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
##set( $resizeFuncCallCode = "setGridAutoResize('117', '177')" )
#set( $resizeFuncCallCode = "setGridAutoResize('120', '180')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

	
##  GYR 일자 정보	
<input type="hidden" name="gyr_date" value="$get_max_gyrdate.get(0).get(0)">
	

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
								<td width="70px" align="right">
									일자 : 
								</td>
								<td width="110px" align="left"> 
									#date_sole_no_title( "cnfm_date" "10" "normal" "cnfm_dateBtn" $commonUtil.toDate($date.get('yyyy-MM-dd'),'YYYY-MM-DD','DAY', 0) )
            					</td>
								<td width="70px" align="right"> 
            						구분 :
            					</td>
								<td width="160px" align="left">
									<select name="item_type" > 
										<option value="%" selected >전체</option>
										<option value="FERT" #if( "$!{item_type}" == "FERT" ) selected #end>제품</option>
										<option value="HAWA" #if( "$!{item_type}" == "HAWA" ) selected #end>상품</option>
									</select>
									<select name="search_type">
                              			<option value="">선택</option> 
										#foreach( $condition in $ip_02020_combo_search_type )
											<option value="$condition.get(0)"  #if( "$!{search_type}" == "$condition.get(0)") selected #end>$condition.get(1)</option>
										#end
									</select>
            					</td>
								<td width="90px" align="right">
									출고장 :
								</td>    
            					<td width="70px">									 
									<select name="selected_dc_id" style="width:100px; ">
										<option value="">전체</option>
									#foreach( $condition in $dc_id_and_short_name_list )  
										<option value="$condition.get(0)" #if($!{selected_dc_id} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select>	 	  							  
   								</td>
            					<td width="70px" align="right">
            						CDC/RDC :
            					</td>
            					<td width="80px" align="left">
									<select name="dc_flag">
                              			<option value="RDC"#if( "$!{dc_flag}" == "RDC" ) selected #end>RDC</option>
                              			<option value="CDC"#if( "$!{dc_flag}" == "CDC" ) selected #end>CDC</option>
                              			<option value="ALL"#if( "$!{dc_flag}" == "ALL" ) selected #end>전체</option>
									</select>
									##<input type="hidden" name="dc_flag" value="" >
            					</td>
								<td></td>
							</tr>
							<tr>
								<td width="70px" align="right">
									입고경과일 :
								</td> 
								<td width="20px" align="left">
									<input type="text" name="stock_term" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:50px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{stock_term})">
									<input type="hidden" name="stock_term_pre" value ="$!{stock_term}" >
								</td>
								<td width="70px" align="right">
									소진가능일 :
								</td> 
								<td width="20px" align="left">
									<input type="text" name="reduce_term" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:50px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{reduce_term})">
									<input type="hidden" name="reduce_term_pre" value ="$!{reduce_term}" >
								</td>
								<td width="90px" align="right">
									예상경과비율 :
								</td> 
								<td width="20px" align="left">
									<input type="text" name="fc_rate" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:50px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{fc_rate})">
									<input type="hidden" name="fc_rate_pre" value ="$!{fc_rate}" >
								</td>
								<td width="70px" align="right">
									품목 :
								</td>
								<td width="10px" align="left">
									<input type="text" name="search_item" size="20" class="normal" onKeyPress="enterCheck('$_moon_service'); " 
										style="width:100px; padding-left:5px; " onBlur="strCheck(); " ondblClick="select(); " 
										onChange="strCheck(this); " value="$commonUtil.replaceQuot($!{search_item})">
									<input type="hidden" name="search_item_pre" value ="$!{search_item}" >
								</td>
								<td></td>
							</tr>
##							<tr>
##								<td width="10%" align="right">
##									품목 :
##								</td>
##            					<td width="65%" colspan="4" align="left">
##									<input name="item_id" class="normal" style="width:70px; " onChange="getItemName(this); "
##										onkeypress="enterCheck('${_moon_service}'); " value="$!{item_id}">
##									<input name="item_name" class="normal" readOnly style="width:230px; " value="$!{item_name}"><img
##										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
##										align="absmiddle" border="0" style="cursor:pointer;"  
##										onClick="openCodeSearchPop('item_id', 'item_name', '400', '300'); ">
##								</td>	
##								<td></td>							
##							</tr>
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이 
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; " >
					<h2 class="tab">출고장별</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
##					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
##						<tr>
##							<td>#page_info()</td>
##							<td align="right">#table_display()</td>
##						</tr> 
##					</table>  								
								
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>	
								
								#set( $header = "출고장\n번호!%!출고장명!%!제품코드!%!제품명!%!익일예상\n재고!%!1주\n평균!%!3주\n평균!%!전국\n재고일수!%!재고소진\n가능일수!%!입고\n경과일!%!유통\n기한!%!유통기한\n잔여일!%!유통기한\n경과비율!%!입고경과기간\n판매계획!%!입고경과기간\n판매실적!%!계획오차!%!계획오차\n비율!%!안전\n재고!%!수송\n단위" )
								##set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!TEXT!%!TEXT" )
								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER" )
								#set( $colwidth = "50!%!80!%!80!%!150!%!60!%!60!%!60!%!70!%!60!%!60!%!60!%!90!%!90!%!90!%!90!%!60!%!60!%!60!%!60" )
    							#set( $colalign = "CENTER!%!LEFT!%!CENTER!%!LEFT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
								#set( $data = $zlattice.getBody($!{ip_01080_StockTermAnalysis},"!%!", "/%/") ) 
								
								<textarea id="txt1" style="display:none;" rows="0" cols="0"> 
									<object name='grid'
										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
										<!--Necessary--> 
										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
										<param name="archive" value="zLattice.jar">
										<param name="headertypes" value= "$headerType">
										<param name="headers"  value= "$header">
										<param name="data" value= "$data">
										<!--Necessary for Modification Grid -->
										<param name="names" value= "" >
										<!--Necessary for Cookie -->
										<param name="identity" value="ip_05010_DeleteOrder_list_DW1">
										<!--Necessary in TYPE COMBO 
										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
										<!--optional - Default Value 있음-->
										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
										<param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="groupingcolumn" value="2"> <!-- defalut : 그루핑 없음 -->
										<param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
										<param name="lockedcolumn" value="4"> <!-- defalut : 락킹 없음 -->
										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
										<param name="indateformat" value="yyyy-MM-dd HH:mm:ss"> <!-- default - yyyyMMdd hh:mm:ss.SSS -->
										<param name="outdateformat" value="yyyy-MM-dd HH:mm:ss">  <!-- default - yyyyMMdd -->									
                            			##<param name="outnumberformat" value="###,###,##0.0"> ## 을 주석으로 인식하므로 아래와 같이 &#035; 로 표기
										<param name="outnumberformat" value="&#035;,&#035;&#035;0.0"> 									 
										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
										<param name="hasverticaltotal" value="false"> <!-- default -true -->
										<param name="hashorizontaltotal" value="true"> <!-- default -true -->
										<param name="totalrowcolor" value="909090"> <!-- default ? E6E6FA -->
										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
										<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
										<param name="hascookie" value="false"> <!-- default -false -->
										<param name="enableinserting" value="false"> <!-- default -false -->
										<param name="enabledeleting" value="false"> <!-- default -false -->
										<param name="enableediting" value="false"> <!-- default -false -->
										<!--optional - Default Value 없음-->
										##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
										<param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
										<param name="disablecolumns" value="">
										<param name="columnalign" value="$colalign">
										<param name="font" value="굴림">
										<param name="fontsize" value="12">
										<param name="columnheight" value="40">
										<param name="headertype" value="HORIZONTAL_HEADER">
										
										## 이중 헤더
										<param name="hasnestedsubheader" value="false"> 
										<param name="topheaders" value="$!{topheader}">
										<param name="topheaderposition" value="$!{topheaderPosition}">
										<param name="enabledragging" value="true">
									</object>
								</textarea> 
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt1"></script>
							</td>
						</tr>
					</table> 
					</td></tr></table>
				    <table width="100%" height="100%" id="waitArea" style="display:none; ">
                    	<tr>
                    		<td valign="middle" align="center">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/progress_waiting.gif" 
                    				align="absmiddle" border="0" width="200px" height="60px">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/loading_icon.gif" 
                    				align="absmiddle" border="0" width="60px" height="60px">
                    			<br><h1>&nbsp;</h1><br><h1>&nbsp;</h1><br>
                    		</td>
                    	</tr>
                    </table>
					
				</div>
				
				<div class="tab-page" id="tabPage2" style="overflow:hidden; " >
					<h2 class="tab">제품별</h2>
					
					<table id="gridArea2" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>

							
								
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>	
								
								#set( $header = "제품코드!%!제품명!%!출고장\n번호!%!출고장명!%!익일예상\n재고!%!1주\n평균!%!3주\n평균!%!전국\n재고일수!%!재고소진\n가능일수!%!입고\n경과일!%!유통\n기한!%!유통기한\n잔여일!%!유통기한\n경과비율!%!입고경과기간\n판매계획!%!입고경과기간\n판매실적!%!계획오차!%!계획오차\n비율!%!안전\n재고!%!수송\n단위" )
								#set( $headerType = "TEXT!%!TEXT!%!TEXT!%!TEXT!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER!%!NUMBER" )
								#set( $colwidth = "80!%!150!%!50!%!80!%!60!%!60!%!60!%!70!%!60!%!60!%!60!%!90!%!90!%!90!%!90!%!60!%!60!%!60!%!60" )
    							#set( $colalign = "CENTER!%!LEFT!%!CENTER!%!LEFT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT!%!RIGHT" )
								#set( $data = $zlattice.getBody($!{ip_01080_StockTermAnalysis_2},"!%!", "/%/") ) 								
								<textarea id="txt2" style="display:none;" rows="0" cols="0"> 
									<object name='grid2'
										classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="100%" height="375"
										##codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_03-windows-i586.cab#Version=1,5,3,0">
										codebase="http://javadl.sun.com/webapps/download/AutoDL?BundleId=19588#Version=6,0,050,13">
										<!--Necessary--> 
										<param name="code" value="com.zionex.t3sinc.ui.ZLattice">
										<param name="archive" value="zLattice.jar">
										<param name="headertypes" value= "$headerType">
										<param name="headers"  value= "$header">
										<param name="data" value= "$data">
										<!--Necessary for Modification Grid -->
										<param name="names" value= "" >
										<!--Necessary for Cookie -->
										<param name="identity" value="ip_05010_DeleteOrder_list_DW2">
										<!--Necessary in TYPE COMBO 
										<param name="combo9" value="DATA1!%!DATA2!%!DATA3">-->
										<!--optional - Default Value 있음-->
										<param name="columndelimeter" value="!%!"> <!-- defalut : !%! -->
										<param name="rowdelimeter" value="/%/"> <!-- defalut : /%/ -->
										<param name="showgroupingfunction" value="false">  <!-- defalut : true -->
										<param name="showprintingfunction" value="false">   <!-- defalut : true -->
										<param name="showlockingfunction" value="false"> <!-- defalut : true -->
										<param name="showpagingfunction" value="false"> <!-- defalut : true -->
										<param name="enablesorting" value="true">   <!-- defalut : true -->
										<param name="groupingcolumn" value="2"> <!-- defalut : 그루핑 없음 -->
										<param name="groupsumcolumn" value="0"> <!-- defalut : 그루핑 없음 -->
										<param name="lockedcolumn" value="4"> <!-- defalut : 락킹 없음 -->
										<param name="presentpage" value="$_moon_pagenumber">   <!-- defalut : 1 -->
										<param name="listinpage" value="$_moon_perpage">   <!-- defalut : 40 -->
										<param name="bordertype" value="PLANE"> <!-- default - PLANE -->
										<param name="indateformat" value="yyyy-MM-dd HH:mm:ss"> <!-- default - yyyyMMdd hh:mm:ss.SSS -->
										<param name="outdateformat" value="yyyy-MM-dd HH:mm:ss">  <!-- default - yyyyMMdd -->									
										<param name="outnumberformat" value="&#035;,&#035;&#035;0.0"> 									 
										<param name="columnwidth" value="$colwidth"> <!-- default -80 -->
										<param name="hasverticaltotal" value="false"> <!-- default -true -->
										<param name="hashorizontaltotal" value="true"> <!-- default -true -->
										<param name="totalrowcolor" value="909090"> <!-- default ? E6E6FA -->
										<param name="totalverticalrowcolor" value="909090"> <!-- default ? E6E6FF -->
										<param name="totalhorizontalrowcolor" value="a1a1a1"> <!-- default ? E6E6FF -->
										<param name="hascookie" value="false"> <!-- default -false -->
										<param name="enableinserting" value="false"> <!-- default -false -->
										<param name="enabledeleting" value="false"> <!-- default -false -->
										<param name="enableediting" value="false"> <!-- default -false -->
										<!--optional - Default Value 없음-->
										##set( $colCor = "12=dfdfdf&13=dfdfdf&14=dfdfdf&18=dfdfdf&19=dfdfdf&20=dfdfdf" ) 
										<param name="columncolor" value="$!{colCor}">
										<param name="rowcolor" value="$!{rowCol}">
										<param name="onclickrowfunc" value="onclickfunc">
										<param name="callingfunction" value="DOUBLECLICKED_CALLING">
										<param name="disablecolumns" value="">
										<param name="columnalign" value="$colalign">
										<param name="font" value="굴림">
										<param name="fontsize" value="12">
										<param name="columnheight" value="40">
										<param name="headertype" value="HORIZONTAL_HEADER">
										
										## 이중 헤더
										<param name="hasnestedsubheader" value="false"> 
										<param name="topheaders" value="$!{topheader}">
										<param name="topheaderposition" value="$!{topheaderPosition}">
										<param name="enabledragging" value="true">
									</object>
								</textarea> 
								<script language="javascript" src="${project}/object_activity.jsp?txtID=txt2"></script>
							</td>
						</tr>
					</table> 
					</td></tr></table>
				    <table width="100%" height="100%" id="waitArea2" style="display:none; ">
                    	<tr>
                    		<td valign="middle" align="center">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/progress_waiting.gif" 
                    				align="absmiddle" border="0" width="200px" height="60px">
                    			<img src="sinc/template/basic/skin/nongshim/images/common/loading_icon.gif" 
                    				align="absmiddle" border="0" width="60px" height="60px">
                    			<br><h1>&nbsp;</h1><br><h1>&nbsp;</h1><br>
                    		</td>
                    	</tr>
                    </table>
					
				</div>
    			<input type="hidden" name="_moon_service" value="${_moon_service}">
    			<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
    			<input type="hidden" name="_user_id" value="$!{_user_id}">
					
				## waiting 표시영역
				##waitingArea()

			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }



	

 	// 도움말 내용 입력
	var helpStr = "◈ 조회된 리스트의 데이터를 더블클릭하면 해당 코드 그룹 수정화면으로 이동합니다.";
	helpStr += "<br>◈ 상단의 등록버튼을 클릭하면 코드 등록 화면으로 이동합니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	//document.cookie = "webfxtab_tabPane1=1";
	
</script> 
