############################################################
## 프로그램ID      : ip_01180_import_md_PlanAnalysis_list_month.vm
## 프로그램명       : 수입 상품 재고 관리(월)
## 변경자           : 이강욱
## 개발일자         : 2016-01-11 
##
## 관련 job file   : job_sinc_10_inventoryPlanning_07.xml
## 관련 query file : query_sinc_10_inventoryPlanning_07.xml
##        
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.1        2016-01-11  이강욱      CREATE  
##
############################################################ 
## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '120')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

##  WiseGrid의 t_combo타입의 컬럼내용이 변경되었을때 발생합니다  
<script language=javascript for="WiseGrid" event="ChangeCombo(strColumnKey,nRow,nOldIndex,nNewIndex)">
	GridChangeComboHandler(strColumnKey, nRow, nOldIndex, nNewIndex);
</script>

<script language=javascript for="WiseGrid" event="ChangeCell(strColumnKey, nRow, vtOldValue, vtNewValue)">
 GridChangeCell(strColumnKey, nRow, vtOldValue, vtNewValue);
</script>

<script language=javascript for="WiseGrid" event="CellDblClick(strColumnKey, nRow)">
  GridCellDblClick(strColumnKey, nRow);
</script>

<script language=javascript for="WiseGrid" event="HeaderClick(strColumnKey)">
  HeaderClick(strColumnKey);
</script>

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search")				
							
						<input type="button" name="btnSave" 	value="정렬" 		onClick="sort();" class="btn1_on" >
						<input type="button" name="btnSafe" 	value="안전재고" onClick="SafeStock();" class="btn1_on" >
						##<input type="button" name="btnDelete" 	value="  삭제" onClick="GoDelete();" class="btn_sav_on" >
					</td>
            	</tr>
        	</table>
		</td>
	</tr>  
    ## 조회 영역
	
    <tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                    <td width="100%">
                        <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                            <tr>            
	        					<td width="30%" align="left">
            						일자 :
									&nbsp;
									#date_sole_no_title("cnfm_date" "10" "normal" "btnS" "$date.get('yyyy-MM-dd')")									
            					</td>								
								<td width="70%" align="left">             					
									구분 : 
									&nbsp;
									<select name="sales_cat05" onChange="changeValue(this); ">
                              			<option value="" selected>전체</option> 
                              			<option value="400" >상품마케팅1팀</option> 
										<option value="420" >상품마케팅2팀</option> 
										<option value="300" >음료마케팅팀</option> 
									</select> &nbsp;&nbsp;
										브랜드 : 
									<select name="search_type">
                              			<option value="" selected>전체</option> 
                              			#foreach( $condition in $ip_01130_import_md_PlanAnalysis_list_combo )
											<option value="$condition.get(0)"  #if( "$!{search_type}" == "$condition.get(0)" ) selected #end>$condition.get(1)</option>
										#end                              			
									</select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								
            					</td>														
								
								<td></td>
							</tr>
							
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	
    <input id="search_h" name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
    ## TAB 영역
    <tr>
        <td valign="top">
        ## tab 좌측 여백
        ##tabLeft()               
            
            <table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>                    

            <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                <tr>
                    <td align="left" width="100%" >
                        <script>initWiseGrid("WiseGrid", "100%", "320");</script>
                    </td>
				</tr>
            </table> 
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
        </td>
    </tr>
</table>

<script>
 
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
