## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize2('100', '180')" )

## DWR 사용을 위한 js
<script type='text/javascript' src='$!{project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='$!{project}/dwr/engine.js'></script>
<script type='text/javascript' src='$!{project}/dwr/util.js'></script>

## 이전 화면으로 이동할 때 조회조건을 기억하기 위한 parameter


<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						##<input type="button" name="btnBack" value=" 이전화면" onClick="moveBack(); " class="btn1_on">
						<input type="button" name="btnBack" value="품목이력 생성" onClick="CreateItemHist(); "  class="btn3_on">
						##toolbar_nscm($_moon_toolbar "" "" "md_01080_itemHistoryMgmt_reg_save_comp" "")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " ></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="15%" align="right" border="1">
            						신규 품목 :
            					</td>
            					<td width="47%" align="left" border="1">
									<input name="new_item_id" class="normal" style="width:70px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{new_item_id}">
										## onClick="setClearText(this,'NEW');"
									<input type="hidden" name="hidden_item_id" class="normal" value="$!{new_item_id}">
									<input type="hidden" name="user_id" class="normal" value="$!{user_id}">
									<input type="hidden" name="idx" class="normal" value="$!{idx}">
									<input name="new_item_name" class="normal" readOnly style="width:230px; " value="$!{new_item_name}">
##										<img
##										name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
##										align="absmiddle" border="0" style="cursor:pointer;"  
##										onClick="openCodeSearchPop('new_item_id', 'new_item_name', '400', '300'); ">
	           					</td>
							</tr> 
							<tr>
            					<td width="15%" align="right" border="1">
            						구 품목 :
            					</td>
            					<td width="47%" align="left" border="1">
									<input name="old_item_id" class="normal" style="width:70px; " onChange="getItemName(this); "
										onkeypress="enterCheck('${_moon_service}'); " value="$!{old_item_id}">
										## onClick="setClearText(this,'NEW');"
									<input name="old_item_name" class="normal" readOnly style="width:230px; " value="$!{old_item_name}"><img
            							name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
            							align="absmiddle" border="0" style="cursor:pointer;"
            							onClick="openItemSearchPop('old_item_id', 'old_item_name', '400', '300'); ">
									##<input name="item_id" class="normal" style="width:60px; " onClick="setClearText(this);" onChange="getItemName2(this); " value="$!{chk_item_id}">
            						##<input name="item_name" class="normal" readOnly style="width:120px; " value="$!{item_name}">
									##openCodeSearchPop
##									<input name="new_item_id" class="normal" style="width:80px; " onClick="setClearText(this,'NEW');"
##														onChange="getItemName1(this,'NEW'); " >
##            						<input name="new_item_name" class="normal" readOnly style="width:200px; " ><img
##            							name="imgItem" src="sinc/template/basic/skin/nongshim/images/common/icon_search.gif"
##            							align="absmiddle" border="0" style="cursor:pointer;"
##            							onClick="openItemHistCodeSearchPop('n_item_id', 'n_item_name', '400', '400', 'NEW'); ">
	           					</td>
							</tr> 
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " ></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " ></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="47"> ## search 조건 부분 높이
	<tr><td height="5"></td></tr>
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">


					
					## waiting 표시영역
					#waitingArea()
					<script>
						addRow();
					</script>
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>

 	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 해당 출고 물류거점과 입고 물류거점에 새로운 품목을 추가합니다.";
	helpStr += "<br>◈ 새로운 입고거점 추가는 신규버튼을 누른 후 작업하세요.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// 최초 화면 로드 시, 5 LINE DISPLAY
	//addRows(5);
	
</script>
