## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setHtmlGridAutoResize('100', '138')" )

## 이전 화면으로 이동할 때 조회조건을 기억하기 위한 parameter
<input type="hidden" name="cd_grp_pre" value="$!{cd_grp_pre}">
<input type="hidden" name="perpage_pre" value="${perpage_pre}">
<input type="hidden" name="pagenumber_pre" value="$!{pagenumber_pre}">

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						<input type="button" name="btnBack" value=" 이전화면" onClick="moveBack(); " class="btn1_on">
						<input type="button" name="btnAddRow" value=" 라인추가" onClick="addRows(10); " class="btn1_on">
						#toolbar_nscm($_moon_toolbar "" "" "md_01030_codeMasterManagement_mod_save_comp" "md_01030_codeMasterManagement_mod_del_comp")
					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table border="0" width="100%" cellpading="0" cellspacing="0" style="background-color:#f2f2f2; ">
            				<tr id="search_menu" style="display:block; ">
            					<td width="10%" align="right">
            						코드 그룹 :
            					</td>
            					<td width="90%" align="left">
            						#if( $md_01030_codeMasterManagement_mod.size() > 0 )
            							#set( $cdGrpVal = "$md_01030_codeMasterManagement_mod.get(0).get(0)" )
            						#end
            						<input type="text" name="cd_grp" size="20" class="normal" value="$!{cdGrpVal}"
            							style="width:200px; padding-left:5px; color:darkgray; " readOnly>
            						## 삭제할 코드 그룹
            						## 삭제 후 조회할 때, 검색 조건을 비우기 위해 삭제할 코드 그룹의 parameter 를 따로 둔다
            						<input type="hidden" name="cd_grp_del" value="$!{cdGrpVal}">
            					</td>
            				</tr> 
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="23"> ## search 조건 부분 높이
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="tbMain" border="0" width="715" cellpadding="0" cellspacing="0" >
						<tr>
							<td> 
								<div id="topLeft" style="height:35px; width:400px; overflow:hidden; "> 
									<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<thead>
											<tr align="center" height="35px"> 
												<td width="30px">번호</td>
												<td width="30px">삭제</td>
												<td width="140px">코드</td>
												<td width="200px">코드명</td>
											</tr> 
					   					 </thead>
					   				</table>
					   			</div>
							</td>
							<td> 
								<div id="topLine" style="height:35px; width:626px;overflow:hidden;"> 
									<table width="800px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<thead>
											<tr height="35px">
												<td width="300px">설명</td>
												<td width="100px">CAT1</td>
												<td width="100px">CAT2</td>
												<td width="100px">CAT3</td>
												<td width="100px">CAT4</td>
												<td width="100px" class="right">CAT5</td>
											</tr>
					   					 </thead>
					   				</table>
					   			</div>
							</td>
						</tr>	
						
						<tr>
							<td valign="top"> 
								<div id="leftDisplay" style="width:400px; overflow:hidden; ">
									<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<tbody id="left_tbody">
										#foreach( $tr in $md_01030_codeMasterManagement_mod )
											<tr id="left_tr" height="22px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
												<td width="30px" align="center" style="background-color:${search_bgcolor}; "> ## 번호
													<a id="divRowNo">$velocityCount</a>
												</td>
												<td width="30px" align="center"> ## 삭제
													<input name="btnDelRow" type="button" value="X" class="button1_1"
														style="width:20px; text-align:center; font-weight:bold; " onClick="delRow(this); "
														onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">
												</td>
												<td width="140px" onClick="setEditMode(this); "> ## 코드
													<a id="divCd">&nbsp;$tr.get(1)</a><input 
														type="text" name="cd" class="normal" size="20" value="$tr.get(1)"
														onChange="chkCodeStr(this); " onFocusOut="setViewMode(this); "
														onBlur="chkDupCd(this); " onKeyDown="moveNextBox(this); " onDblClick="this.select(); "
														style="width:100%; padding-left:5px; display:none; ime-mode:disabled; ">
												</td>
												<td width="200px" onClick="setEditMode(this); "> ## 코드 명
													<a id="divCdName">&nbsp;$tr.get(2)</a><input 
														type="text" name="cd_name" class="normal" size="40" value="$tr.get(2)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
											</tr>
										#end
										</tbody> 
									</table> 
								</div> 	
							</td>
							<td valign="top"> 
								<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-y:scroll; overflow-x:scroll; " onscroll="scrollX(); scrollY(); ">
									<table width="800px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
										<tbody id="main_tbody">
										#foreach( $tr in $md_01030_codeMasterManagement_mod )
											<tr id="main_tr" height="22px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
												<td width="300px" onClick="setEditMode(this); "> ## 설명
													<a id="divDescr">&nbsp;$tr.get(3)</a><input 
														type="text" name="descr" class="normal" size="100" value="$tr.get(3)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
												<td width="100px" onClick="setEditMode(this); "> ## CAT01
													<a id="divCat01">&nbsp;$tr.get(4)</a><input
														type="text" name="cat01" class="normal" size="20" value="$tr.get(4)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
												<td width="100px" onClick="setEditMode(this); "> ## CAT02
													<a id="divCat02">&nbsp;$tr.get(5)</a><input
														type="text" name="cat02" class="normal" size="20" value="$tr.get(5)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
												<td width="100px" onClick="setEditMode(this); "> ## CAT03
													<a id="divCat03">&nbsp;$tr.get(6)</a><input
														type="text" name="cat03" class="normal" size="20" value="$tr.get(6)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
												<td width="100px" onClick="setEditMode(this); "> ## CAT04
													<a id="divCat04">&nbsp;$tr.get(7)</a><input
														type="text" name="cat04" class="normal" size="20" value="$tr.get(7)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
												<td width="100px" onClick="setEditMode(this); " class="right"> ## CAT05
													<a id="divCat05">&nbsp;$tr.get(8)</a><input
														type="text" name="cat05" class="normal" size="20" value="$tr.get(8)"
														onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); "
														onDblClick="this.select(); " style="width:100%; padding-left:5px; display:none;">
												</td>
											</tr>
										#end
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</table>
						
					<input type="hidden" name="_moon_service">
					<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">
					
				</div>
			</div>
		</td>
	</tr>
</table>

<script>
	
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력
	var helpStr = "◈ 각 항목을 입력한 후 상단의 저장 버튼을 클릭하여 코드를 수정합니다.";
	helpStr += "<br>◈ 한 코드 그룹 내에 중복되는 코드는 존재할 수 없습니다.";
	helpStr += "<br>◈ 코드는 반드시 영문, 숫자 그리고 _ (underscore) 로만 입력합니다.";
	helpStr += "<br>◈ 상단의 삭제 버튼을 클릭하여 조회된 코드 그룹을 삭제합니다.";
	helpStr += "<br>◈ 코드 그룹을 수정할 수 없고, 수정하려면 삭제 후 재생성 하시기 바랍니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// 최초 화면 로드 시, 5 LINE DISPLAY
	//addRows(5);
	
</script>
