## 비정상적 접근 방지 
#loginCheck()
 
## 화면 resizing 을 위한 size 변수    
#set( $resizeFuncCallCode = "setHtmlGridAutoResize('140', '165')" )      

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 조회버튼 클릭시 공장코드 저장하기위한  변수
##<input name="stored_plant" type="hidden" value="$!{selected_plant}"> 
##<input name="stored_line" type="hidden" value="$!{selected_line}"> 

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
	## 기능 버튼 영역
	<tr>  
		<td height="25" align="right">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
            	<tr>
                	<td align="right">
						#button("search") 
						#toolbar_nscm($_moon_toolbar "" "" "md_05170_opLineInfomation_list_save_comp" "")

					</td>
            	</tr>
        	</table>
		</td>
	</tr>
	## 조회 영역
	<tr>
		<td width="100%" valign="top">
			<table border="0" width="100%" cellpading="0" cellspacing="0">
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
				<tr>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
					<td width="100%">
            			<table id="search_menu" style="background-color:#f2f2f2; display:block; " border="0" width="100%" cellpading="0" cellspacing="0" >
            				<tr> 
            					<td width="10%" align="right">공장 :</td> 
            					<td width="15%" align="left"> 
									<select name="selected_plant" style="width:100px; " onChange="doChangeSearchPlant(this); ">
										<option value="">선택</option> 
									#foreach( $condition in $combo_op_plant_list )  
										<option value="$condition.get(0)" #if($!{selected_plant} == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
									#end
   									</select> 
            					</td>
            					<td width="10%" align="right">생산부문 :</td>
            					<td width="25%" align="left"> 
									<a id="divComboLine"> 
										<select name="selected_line"  style="width:185px; ">
											<option value="">선택</option>
										</select>
									</a>
            					</td>  
            				</tr>            				
            			</table>
					</td>
					<td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
				</tr>
				<tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
			</table>
		</td>
	</tr>
	<input name="search_h" type="hidden" value="25"> ## search 조건 부분 높이
	<tr><td height="5"></td></tr>
	## TAB 영역
	<tr>
		<td valign="top">
			<div class="tab-pane" id="tabPane1">
				## tab 좌측 여백
				#tabLeft()
				
				<div class="tab-page" id="tabPage1" style="overflow:hidden; ">
					<h2 class="tab">${_moon_title}</h2>
					
					<table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>
					
					<table width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
						<tr>
							<td>
								<img src="/nscm/sinc/template/basic/skin/nongshim/images/common/dot_sub6.gif" width="16" height="13">Total :
								<span id="areaTot" class="f_color_o b">$!{_moon_service_count}</span>
							</td>
						</tr>
					</table>
					
					<table id="tbMain" border="0" width="100%" cellpadding="0" cellspacing="0" ><tr><td>
						<div id="topLeft" style="height:40px; width:170px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead>
									<tr height="40px"> 
										<td width="30px">번호</td>
										<td width="40px" onClick="addRow(this); " id="areaAdd" 
											onMouseOver="this.style.cursor='pointer'; " onMouseOut="this.style.cursor=''; ">추가<br>삭제</td>
										<td width="100px">공장</td>
									</tr>   
			   					 </thead>
			   				</table>
			   			</div>
					</td>  
					<td>  
						<div id="topLine" style="height:40px; width:626px;overflow:hidden;"> 
							<table width="600px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<thead> 
									<tr height="40px"> 		 								  
										<td width="80px">생산부문</td>
										<td width="50px">전체<br>라인</td>
										<td width="50px">운영<br>라인</td> 
										<td width="80px">중요라인</td>
										<td width="80px">계획반영<br>우선순위</td>
										<td width="80px">라인제약<br>제외여부</td>
									</tr>							 		 
			   					 </thead>
			   				</table>
			   			</div>
					</td></tr>	
					<tr><td valign="top">
						<div id="leftDisplay" style="width:170px; overflow:hidden; ">
							<table width="100%" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="left_tbody">
								#foreach( $tr in $md_05170_opLineInfomation_list )
									<tr id="left_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 번호
										<td width="30px" align="center" style="background-color:${search_bgcolor}; ">
											<a id="divRowNo">$velocityCount</a>
										</td>
										## 추가/삭제
										<td width="40px" align="center">
											<input name="btnAddRow" type="button" value="O" class="button1_1"
												style="width:17px; text-align:center; font-weight:bold; " onClick="addRow(this); "
												onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'"><input
												name="btnDelRow" type="button" value="X" class="button1_1"
												style="width:17px; text-align:center; font-weight:bold; " onClick="delRow(this); "
												onmouseover="this.className='button1_2'" onmouseout="this.className='button1_1'">
										</td>										
										## 공장 
										<td width="100px" align="center" onClick="setEditMode(this); ">
											<a id="divPlant">$tr.get(1)</a><select 
												name="plant_id" onFocusOut="setViewMode(this); " onKeyDown="moveNextBox(this);" tabindex="1"
												onChange="doChangeGridPlant(this); " style="width:100%; padding-left:5px; display:none;">
												<option value="$tr.get(0)">$tr.get(1)</option> 
        									#foreach( $condition in $combo_op_plant_list )  
        										<option value="$condition.get(0)" #if( "$tr.get(0)" == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
        									#end
											</select> 											
										</td>
									</tr>
								#end
								</tbody> 
							</table> 
						</div> 
					</td>  
					<td valign="top"> 
						<div id="mainDisplay" class="ns_scroll" style="border:0; width:645px; overflow-y:scroll; overflow-x:scroll; " onscroll="scrollX(); scrollY(); ">
							<table width="600px" class="ns-table" style="table-layout:fixed; border-collapse:collapse; ">
								<tbody id="main_tbody"> 
								#foreach( $tr in $md_05170_opLineInfomation_list )
									<tr id="main_tr" height="30px" onMouseOver="bgOver(this); " onMouseOut="bgOut(this); ">
										## 원가부문  
										<td width="80px" align="center" onClick="setEditMode(this); "> 
											<a id="divLine">&nbsp;$tr.get(2) <br>&nbsp;$tr.get(3)</a><a id="divLineSelect" 
												style="width:100%; display:none;" onFocusOut="setViewMode(this);" ><select 
												name="line_id"  onChange="doChangeGridCost(this); " onKeyDown="moveNextBox(this); " style="width:100%; padding-left:5px; " tabindex="2"  > 												
 											#foreach( $condition in $combo_op_won_list )											 	 
												#if($condition.get(2) == $tr.get(0))
            									<option value="$condition.get(0)" #if( "$tr.get(2)" == "$condition.get(0)") selected #else #end >$condition.get(1)</option>											
            									#else			    
    											#end			 									
											#end
											</select></a>  						 					
										## onChange이벤트 발생여부 이벤트
										<input name="changeEventFlag" type="hidden" value=""> 
										</td>   
										 
										## 전체라인 
										<td width="50px" align="center" onClick="" tabindex="3">
											&nbsp;$tr.get(4)   					 						
										</td>   
										<input name="total_line" type="hidden" value="$tr.get(4)">
										## 운영라인수
										<td width="50px" align="center" onClick="setEditMode(this); ">  
										<a id="divItemId">$tr.get(5)</a><a id="divItemIdSelect" 
												style="width:100%; display:none;" ><input
												type="text" name="op_line" class="normal" size="100" value="$tr.get(5)"
												onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); " onDblClick="this.select(); "
												style="width:73PX; padding-right:5px; text-align:cneter; " tabindex="4"></a>
										</td>
		 								   
											<!--<a id="divIPLine">&nbsp;$tr.get(6)<br>&nbsp;$tr.get(7)</a><a id="divIPLineSelect"
											<a id="divIPLine">&nbsp;$tr.get(6)<br>#if("$tr.get(7)" == "ALL")</a>#else&nbsp;$tr.get(7)</a>#end<a id="divIPLineSelect"-->
										## 중요라인             
										<td width="80px" align="center" onClick="setEditMode(this); ">       
											<a id="divIPLine">&nbsp;$tr.get(6)<br>#if("$tr.get(7)" == "ALL")</a>#else&nbsp;$tr.get(7)</a>#end<a id="divIPLineSelect" 
												style="width:100%; display:none;" >
												<select name="exec_line" onChange="" onKeyDown="moveNextBox(this); " style="width:100%; padding-left:5px; " tabindex="5" > 												
        									#foreach( $condition in $combo_execLine_list )	  	   										
												#if($condition.get(0) == $tr.get(6))         
            									<option value="$condition.get(0)" #if( "$tr.get(6)" == "$condition.get(0)") selected #else #end >$condition.get(0)</option>											
            									#else			 
												#end	    		 			 	 					
											#end
											</select></a>						 					  															
										</td> 
										## 계획반영우선순위
										<td width="80px" align="center" onClick="setEditMode(this); ">
											<a id="divPrioritySpec">$tr.get(8)</a><a id="divPrioritySelect" 
                                        		style="width:100%; display:none;" ><input 
                                        		type="text" name="priority" class="normal" size="100" value="$tr.get(8)"
                                        		onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); " onDblClick="this.select(); "
												style="width:73PX; padding-right:5px; text-align:cneter; " tabindex="4">
											</a> 
										</td>     
										## 라인제약제외여부  
										<td width="80px" align="center"  onClick="setEditMode(this); "> 
											<a id="divBnFlagSpec">$tr.get(9)</a><a id="divBnFlagSelect" 
                                        		style="width:100%; display:none;" ><input  
                                        		type="text" name="bn_flag" class="normal" size="100" value="$tr.get(9)"
                                        		onKeyDown="moveNextBox(this); " onFocusOut="setViewMode(this); " onDblClick="this.select(); "
												style="width:73PX; padding-right:5px; text-align:cneter; " tabindex="4">
											</a> 											
										</td>   
									</tr>   
								#end
								</tbody> 
							</table>
						</div>
					</td></tr></table>
					
					<table border="0" width="100%" cellpadding="0" cellspacing="0" height="5px"><tr><td></td></tr></table>
					</td></tr></table>
					 
					## waiting 표시영역
					#waitingArea()
						
					<input type="hidden" name="_moon_service">
					<input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
					<input type="hidden" name="_moon_perpage" value="$!{_moon_perpage}">
					## 번호 배경색
					<input name="searchBgcolor" type="hidden" value="${search_bgcolor}">
						
					## 공장 select box string 생성
					#set( $plantLocStr = "<option value=\"\">선택</option>" ) 
					#foreach( $sel in $combo_op_plant_list )
						#set( $plantLocStr = "$!{plantLocStr}<option value=\"${sel.get(0)}\">${sel.get(1)}</option>" )
					#end
					#set( $plantLocStr = "<option value=''>선택</option>" )
					#foreach( $sel in $combo_op_plant_list )
						#set( $plantLocStr = "$!{plantLocStr}<option value='${sel.get(0)}'>${sel.get(1)}</option>" )
					#end
 			  
					<input type="hidden" name="plant_loc_sel_str" value="$!{plantLocStr}">																					
				</div>
			</div> 
		</td>
	</tr>
</table> 
 
<script>
	 
	// 화면 resize
	$!{resizeFuncCallCode};
	function window.onresize() { $!{resizeFuncCallCode}; }
	
	// 도움말 내용 입력 
	var helpStr = "◈ 공장을 반드시 선택하고 조회해야 합니다.";
	helpStr += "<br>◈ 각 항목을 입력한 후 상단의 저장 버튼을 클릭하여 수정 내용을 저장합니다.";
	helpStr += "<br>◈ 입력 순서는 공장, 라인, 포장기, 품목 코드, 동시가동 불가호기 순으로 합니다.";
	helpStr += "<br>◈ 추가/삭제 항목의 O 버튼을 클릭하면, 클릭한 버튼의 하단에 새로운 라인이 생성됩니다.";
	helpStr += "<br>◈ 추가/삭제 항목의 X 버튼을 클릭하면, 클릭한 버튼의 라인이 삭제됩니다.";
	helpStr += "<br>◈ 추가/삭제 항목의 헤더 부분을 클릭하면, 가장 상단에 새로운 라인이 생성됩니다.";
	helpCont.innerHTML = helpStr;
	hDynamicHeight = 0;
	
	// combo box:공장(serarch) 선택시 생산 라인, 품목 리스트 채움
	function doChangeSearchPlant(obj){	
		 		
		displayLineList(obj);
	} 
	 
	doChangeSearchPlant(document.frm.selected_plant);
	 
	// combo 원가부문 라인(search) 채움
	function displayLineList(obj){	 
		var div_line = "<select name=\"selected_line\" style=\"width:185px; \" > "; 
		div_line += "<option  value=\"\">전체</option> ";   
	
	#foreach( $condition in $combo_op_won_list )   
		if ( obj.value == "$condition.get(2)" ) {
		 
			div_line += "<option value=\"$condition.get(0)\"";
				if("$condition.get(0)" == "$!{selected_line}")
					div_line += " selected ";
			div_line += ">$condition.get(1)</option>"; 
		}
	#end 
		div_line += "</select>"; 	
		divComboLine.innerHTML = div_line;
	}
	
 		
	// combo box:공장(grid) 선택시 원가(grid) 리스트 채움
	function doChangeGridPlant(obj){ 		
		if(!obj || !obj.value) return;		
	
		var rowIdx = obj.parentNode.parentNode.rowIndex;		
		var div_line = "<select name=\"line_id\" style=\"width:100%; padding-left:5px \" ";
		div_line += "onKeyDown=\"moveNextBox(this); \"  onChange=\"doChangeGridCost(this); \">";
	#foreach( $condition in $combo_op_won_list )   
		if( obj.value == "$condition.get(2)"){
			div_line += "<option value=\"$condition.get(0)\" ";
				if("$condition.get(0)" == document.frm.line_id[rowIdx].value )
					div_line += " selected "; 
			div_line += ">$condition.get(1)</option>";
		} 
	#end
		div_line += "</select>";
		if(divLineSelect[rowIdx]){
			divLineSelect[rowIdx].innerHTML = div_line;
			//doChangeGridCost(document.frm.exec_line[rowIdx]);	
		} 
		else{
			divLineSelect.innerHTML = div_line;
			//doChangeGridCost(document.frm.exec_line);	
		}
		
		
	} 
	doChangeGridPlant(document.frm.plant_id); 
	 	 
</script>  
 