############################################################
## 프로그램ID      : md_10010_manugistics_master_management.vm
## 프로그램명      : manugistics 마스터관리
## 개발자          : 남웅용
## 개발일자        : 2010-01-27
##
## 관련 job file   : job_md_10010_manugistics_master_management.xml
## 관련 query file : query_md_10010_manugistics_master_management.xml
##
## REVISIONS
## VER        DATE        AUTHOR    DESCRIPTION
## ---------  ----------  --------  ------------------------------------
## 1.0        2010-01-27  남웅용      create
##
############################################################


## 비정상적 접근 방지 
#loginCheck()
## 화면 resizing 을 위한 size 변수 
#set( $resizeFuncCallCode = "setGridAutoResize('79', '130')" )

<script type='text/javascript' src='${project}/dwr/interface/commonUtil.js'></script>
<script type='text/javascript' src='${project}/dwr/interface/scheduling.js'></script>
<script type='text/javascript' src='${project}/dwr/engine.js'></script>
<script type='text/javascript' src='${project}/dwr/util.js'></script>

## 그리드의 스크롤 이동시에 발생하는 이벤트 
<script language=javascript for="WiseGrid" event="RowScroll(nFirstVisibleRowIndex, nEndVisibleRowIndex)">
  	GridRowScrollHandler(nFirstVisibleRowIndex, nEndVisibleRowIndex);
</script>

## 등록/수정 화면 이동한 후, 본 화면으로 이동할 때 조회조건을 기억하기 위한 parameter
<input type="hidden" name="cd_grp_pre" value="$!{cd_grp}">
<input type="hidden" name="perpage_pre" value="${_moon_perpage}">
<input type="hidden" name="pagenumber_pre" value="$!{_moon_pagenumber}">

<table border="0" width="100%" height="100%" cellpading="0" cellspacing="0">
    ## 기능 버튼 영역
    <tr>
        <td height="25" align="right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pd_top10 pd_bot10">
                <tr>
                    <td align="right">
                        #button("search")
						<input type="button" name="btnSave" value="  저장" onClick="GoSave();" class="btn_sav_on" >
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
    ## 조회 영역
    <tr>
        <td width="100%" valign="top">
            <table border="0" width="100%" cellpading="0" cellspacing="0">
                <tr height="2">
                    <td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                    <td width="100%">
                        <table border="0" width="100%" cellpading="0" cellspacing="0" id="search_menu" style="background-color:#f2f2f2; display:block; ">
                            <tr>            
								<td width="30%" align="left">
									조회구분 :&nbsp;
									<select name="in_input_gubn">
        								<option value="05" #if( "$!{in_input_gubn}" == "05" ) selected #end >1.발주계획 대상품목</option>
										<option value="06" #if( "$!{in_input_gubn}" == "06" ) selected #end >2.전체품목</option>
										<option value="01" #if( "$!{in_input_gubn}" == "01" ) selected #end >3.판매품목+수요예측품목</option>
        								<option value="02" #if( "$!{in_input_gubn}" == "02" ) selected #end >4.수요예측품목</option>
        								<option value="03" #if( "$!{in_input_gubn}" == "03" ) selected #end >5.수요예측제외품</option>
        								<option value="04" #if( "$!{in_input_gubn}" == "04" ) selected #end >6.manu삭제예정품</option>
        							</select>
								</td>
								<td width="50%" align="left">
    								<input type="radio" name="itype" style="border:0px; " value="FERT" checked="on">제품</intput>
    								<input type="radio" name="itype" style="border:0px; " value="HAWA" >상품</intput> 
    								<input type="radio" name="itype" style="border:0px; " value="EXPO" >수출</intput> 
    								<input type="radio" name="itype" style="border:0px; " value="ROH" >자재</intput> 
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									판매중지 :&nbsp;
									<select name="sale_code">
										<option value="" #if( "$!{sale_code}" == "" ) selected #end >전체</option>
        								<option value="01" #if( "$!{sale_code}" == "01" ) selected #end >판매중</option>
										<option value="02" #if( "$!{sale_code}" == "02" ) selected #end >판매중지</option>
        							</select>
								</td>
								
								<td width="20%" align="left">
									회사명 :&nbsp;
									<select name="com_code">
        								<option value="" #if( "$!{com_code}" == "" ) selected #end >전체</option>
										<option value="0001000050" #if( "$!{com_code}" == "0001000050" ) selected #end >태경농산</option>
										<option value="0001000021" #if( "$!{com_code}" == "0001000021" ) selected #end >율촌화학</option>
        							</select>
								</td>
								
								
								##<td width="20%" align="left">
									##회사명 :&nbsp;
									##<input type="radio" name="com_code" style="border:0px; " value="" checked="on">전체</intput>
									##<input type="radio" name="com_code" style="border:0px; " value="0001000050" >태경농산</intput>
    								##<input type="radio" name="com_code" style="border:0px; " value="0001000021" >울촌화학</intput> 
								##</td>	
								
							
								
								
                            </tr>
                        </table> 
                    </td>
                    <td width="2" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td>
                </tr>
                <tr height="2"><td colspan="3" style="background-color:#d0d0d0; " onClick="OpenClose(search_menu); $!{resizeFuncCallCode}; "></td></tr>
            </table>
        </td> 
    </tr>

    <input name="search_h" type="hidden" value="45"> ## search 조건 부분 높이 
    <tr><td height="1"></td></tr>
    ## TAB 영역
    <tr>
        <td valign="top">
        ## tab 좌측 여백
        ##tabLeft()               
            
            <table id="gridArea" width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>                    

            <table name="grid" width="100%" border="0" cellpading="0" cellspacing="0" class="normal-table">
                <tr>
                    <td align="left" width="100%" >
                        <script>initWiseGrid("WiseGrid", "100%", "100%");</script>
                    </td>
				</tr>
            </table> 
            
            <table height="5"><tr><td></td></tr></table>
            <table align="center" border="0" cellpading="0" cellspacing="0" class="normal-table"><tr><td>
                <input type="hidden" name="_moon_service" value="${_moon_service}">
                <input type="hidden" name="_moon_pagenumber" value="$!{_moon_pagenumber}">
                <input type="hidden" name="_user_id" value="$!{_user_id}">
            </td></tr></table>
            
            </td></tr></table>
            
        </td>
    </tr>
</table>

<script>
    
    // 화면 resize
    $!{resizeFuncCallCode};
    function window.onresize() { $!{resizeFuncCallCode}; }
    
    // 도움말 내용 입력
    var helpStr = "◈ Job Change 시간 ";    
    helpCont.innerHTML = helpStr;
    hDynamicHeight = 0; 
           
</script> 
